<div class="oneVerse" id="vid_22366" onclick="selectVerse(22366)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">The words of Amos, who was among the herdmen of Tekoa, which he saw concerning Israel in the days of Uzziah king of Judah, and in the days of Jeroboam the son of Joash king of Israel, two years before the earthquake.</div>
</div>

<div class="oneVerse" id="vid_22367" onclick="selectVerse(22367)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And he said, The LORD will roar from Zion, and utter his voice from Jerusalem; and the habitations of the shepherds shall mourn, and the top of Carmel shall wither.</div>
</div>

<div class="oneVerse" id="vid_22368" onclick="selectVerse(22368)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Thus saith the LORD; For three transgressions of Damascus, and for four, I will not turn away the punishment thereof; because they have threshed Gilead with threshing instruments of iron:</div>
</div>

<div class="oneVerse" id="vid_22369" onclick="selectVerse(22369)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">But I will send a fire into the house of Hazael, which shall devour the palaces of Benhadad.</div>
</div>

<div class="oneVerse" id="vid_22370" onclick="selectVerse(22370)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">I will break also the bar of Damascus, and cut off the inhabitant from the plain of Aven, and him that holdeth the sceptre from the house of Eden: and the people of Syria shall go into captivity unto Kir, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22371" onclick="selectVerse(22371)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Thus saith the LORD; For three transgressions of Gaza, and for four, I will not turn away the punishment thereof; because they carried away captive the whole captivity, to deliver them up to Edom:</div>
</div>

<div class="oneVerse" id="vid_22372" onclick="selectVerse(22372)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">But I will send a fire on the wall of Gaza, which shall devour the palaces thereof:</div>
</div>

<div class="oneVerse" id="vid_22373" onclick="selectVerse(22373)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And I will cut off the inhabitant from Ashdod, and him that holdeth the sceptre from Ashkelon, and I will turn mine hand against Ekron: and the remnant of the Philistines shall perish, saith the Lord GOD.</div>
</div>

<div class="oneVerse" id="vid_22374" onclick="selectVerse(22374)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Thus saith the LORD; For three transgressions of Tyrus, and for four, I will not turn away the punishment thereof; because they delivered up the whole captivity to Edom, and remembered not the brotherly covenant:</div>
</div>

<div class="oneVerse" id="vid_22375" onclick="selectVerse(22375)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">But I will send a fire on the wall of Tyrus, which shall devour the palaces thereof.</div>
</div>

<div class="oneVerse" id="vid_22376" onclick="selectVerse(22376)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Thus saith the LORD; For three transgressions of Edom, and for four, I will not turn away the punishment thereof; because he did pursue his brother with the sword, and did cast off all pity, and his anger did tear perpetually, and he kept his wrath for ever:</div>
</div>

<div class="oneVerse" id="vid_22377" onclick="selectVerse(22377)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">But I will send a fire upon Teman, which shall devour the palaces of Bozrah.</div>
</div>

<div class="oneVerse" id="vid_22378" onclick="selectVerse(22378)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Thus saith the LORD; For three transgressions of the children of Ammon, and for four, I will not turn away the punishment thereof; because they have ripped up the women with child of Gilead, that they might enlarge their border:</div>
</div>

<div class="oneVerse" id="vid_22379" onclick="selectVerse(22379)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">But I will kindle a fire in the wall of Rabbah, and it shall devour the palaces thereof, with shouting in the day of battle, with a tempest in the day of the whirlwind:</div>
</div>

<div class="oneVerse" id="vid_22380" onclick="selectVerse(22380)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And their king shall go into captivity, he and his princes together, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22381" onclick="selectVerse(22381)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Thus saith the LORD; For three transgressions of Moab, and for four, I will not turn away the punishment thereof; because he burned the bones of the king of Edom into lime:</div>
</div>

<div class="oneVerse" id="vid_22382" onclick="selectVerse(22382)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">But I will send a fire upon Moab, and it shall devour the palaces of Kirioth: and Moab shall die with tumult, with shouting, and with the sound of the trumpet:</div>
</div>

<div class="oneVerse" id="vid_22383" onclick="selectVerse(22383)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And I will cut off the judge from the midst thereof, and will slay all the princes thereof with him, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22384" onclick="selectVerse(22384)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Thus saith the LORD; For three transgressions of Judah, and for four, I will not turn away the punishment thereof; because they have despised the law of the LORD, and have not kept his commandments, and their lies caused them to err, after the which their fathers have walked:</div>
</div>

<div class="oneVerse" id="vid_22385" onclick="selectVerse(22385)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">But I will send a fire upon Judah, and it shall devour the palaces of Jerusalem.</div>
</div>

<div class="oneVerse" id="vid_22386" onclick="selectVerse(22386)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Thus saith the LORD; For three transgressions of Israel, and for four, I will not turn away the punishment thereof; because they sold the righteous for silver, and the poor for a pair of shoes;</div>
</div>

<div class="oneVerse" id="vid_22387" onclick="selectVerse(22387)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">That pant after the dust of the earth on the head of the poor, and turn aside the way of the meek: and a man and his father will go in unto the same maid, to profane my holy name:</div>
</div>

<div class="oneVerse" id="vid_22388" onclick="selectVerse(22388)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And they lay themselves down upon clothes laid to pledge by every altar, and they drink the wine of the condemned in the house of their god.</div>
</div>

<div class="oneVerse" id="vid_22389" onclick="selectVerse(22389)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Yet destroyed I the Amorite before them, whose height was like the height of the cedars, and he was strong as the oaks; yet I destroyed his fruit from above, and his roots from beneath.</div>
</div>

<div class="oneVerse" id="vid_22390" onclick="selectVerse(22390)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Also I brought you up from the land of Egypt, and led you forty years through the wilderness, to possess the land of the Amorite.</div>
</div>

<div class="oneVerse" id="vid_22391" onclick="selectVerse(22391)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And I raised up of your sons for prophets, and of your young men for Nazarites. Is it not even thus, O ye children of Israel? saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22392" onclick="selectVerse(22392)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">But ye gave the Nazarites wine to drink; and commanded the prophets, saying, Prophesy not.</div>
</div>

<div class="oneVerse" id="vid_22393" onclick="selectVerse(22393)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Behold, I am pressed under you, as a cart is pressed that is full of sheaves.</div>
</div>

<div class="oneVerse" id="vid_22394" onclick="selectVerse(22394)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Therefore the flight shall perish from the swift, and the strong shall not strengthen his force, neither shall the mighty deliver himself:</div>
</div>

<div class="oneVerse" id="vid_22395" onclick="selectVerse(22395)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Neither shall he stand that handleth the bow; and he that is swift of foot shall not deliver himself: neither shall he that rideth the horse deliver himself.</div>
</div>

<div class="oneVerse" id="vid_22396" onclick="selectVerse(22396)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">And he that is courageous among the mighty shall flee away naked in that day, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22397" onclick="selectVerse(22397)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Hear this word that the LORD hath spoken against you, O children of Israel, against the whole family which I brought up from the land of Egypt, saying,</div>
</div>

<div class="oneVerse" id="vid_22398" onclick="selectVerse(22398)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">You only have I known of all the families of the earth: therefore I will punish you for all your iniquities.</div>
</div>

<div class="oneVerse" id="vid_22399" onclick="selectVerse(22399)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Can two walk together, except they be agreed?</div>
</div>

<div class="oneVerse" id="vid_22400" onclick="selectVerse(22400)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Will a lion roar in the forest, when he hath no prey? will a young lion cry out of his den, if he have taken nothing?</div>
</div>

<div class="oneVerse" id="vid_22401" onclick="selectVerse(22401)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Can a bird fall in a snare upon the earth, where no gin is for him?  shall one take up a snare from the earth, and have taken nothing at all?</div>
</div>

<div class="oneVerse" id="vid_22402" onclick="selectVerse(22402)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Shall a trumpet be blown in the city, and the people not be afraid?  shall there be evil in a city, and the LORD hath not done it?</div>
</div>

<div class="oneVerse" id="vid_22403" onclick="selectVerse(22403)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Surely the Lord GOD will do nothing, but he revealeth his secret unto his servants the prophets.</div>
</div>

<div class="oneVerse" id="vid_22404" onclick="selectVerse(22404)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">The lion hath roared, who will not fear? the Lord GOD hath spoken, who can but prophesy?</div>
</div>

<div class="oneVerse" id="vid_22405" onclick="selectVerse(22405)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Publish in the palaces at Ashdod, and in the palaces in the land of Egypt, and say, Assemble yourselves upon the mountains of Samaria, and behold the great tumults in the midst thereof, and the oppressed in the midst thereof.</div>
</div>

<div class="oneVerse" id="vid_22406" onclick="selectVerse(22406)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">For they know not to do right, saith the LORD, who store up violence and robbery in their palaces.</div>
</div>

<div class="oneVerse" id="vid_22407" onclick="selectVerse(22407)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Therefore thus saith the Lord GOD; An adversary there shall be even round about the land; and he shall bring down thy strength from thee, and thy palaces shall be spoiled.</div>
</div>

<div class="oneVerse" id="vid_22408" onclick="selectVerse(22408)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Thus saith the LORD; As the shepherd taketh out of the mouth of the lion two legs, or a piece of an ear; so shall the children of Israel be taken out that dwell in Samaria in the corner of a bed, and in Damascus in a couch.</div>
</div>

<div class="oneVerse" id="vid_22409" onclick="selectVerse(22409)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Hear ye, and testify in the house of Jacob, saith the Lord GOD, the God of hosts,</div>
</div>

<div class="oneVerse" id="vid_22410" onclick="selectVerse(22410)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">That in the day that I shall visit the transgressions of Israel upon him I will also visit the altars of Bethel: and the horns of the altar shall be cut off, and fall to the ground.</div>
</div>

<div class="oneVerse" id="vid_22411" onclick="selectVerse(22411)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And I will smite the winter house with the summer house; and the houses of ivory shall perish, and the great houses shall have an end, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22412" onclick="selectVerse(22412)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Hear this word, ye kine of Bashan, that are in the mountain of Samaria, which oppress the poor, which crush the needy, which say to their masters, Bring, and let us drink.</div>
</div>

<div class="oneVerse" id="vid_22413" onclick="selectVerse(22413)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">The Lord GOD hath sworn by his holiness, that, lo, the days shall come upon you, that he will take you away with hooks, and your posterity with fishhooks.</div>
</div>

<div class="oneVerse" id="vid_22414" onclick="selectVerse(22414)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And ye shall go out at the breaches, every cow at that which is before her; and ye shall cast them into the palace, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22415" onclick="selectVerse(22415)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Come to Bethel, and transgress; at Gilgal multiply transgression; and bring your sacrifices every morning, and your tithes after three years:</div>
</div>

<div class="oneVerse" id="vid_22416" onclick="selectVerse(22416)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And offer a sacrifice of thanksgiving with leaven, and proclaim and publish the free offerings: for this liketh you, O ye children of Israel, saith the Lord GOD.</div>
</div>

<div class="oneVerse" id="vid_22417" onclick="selectVerse(22417)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And I also have given you cleanness of teeth in all your cities, and want of bread in all your places: yet have ye not returned unto me, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22418" onclick="selectVerse(22418)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And also I have withholden the rain from you, when there were yet three months to the harvest: and I caused it to rain upon one city, and caused it not to rain upon another city: one piece was rained upon, and the piece whereupon it rained not withered.</div>
</div>

<div class="oneVerse" id="vid_22419" onclick="selectVerse(22419)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">So two or three cities wandered unto one city, to drink water; but they were not satisfied: yet have ye not returned unto me, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22420" onclick="selectVerse(22420)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">I have smitten you with blasting and mildew: when your gardens and your vineyards and your fig trees and your olive trees increased, the palmerworm devoured them: yet have ye not returned unto me, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22421" onclick="selectVerse(22421)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">I have sent among you the pestilence after the manner of Egypt: your young men have I slain with the sword, and have taken away your horses; and I have made the stink of your camps to come up unto your nostrils: yet have ye not returned unto me, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22422" onclick="selectVerse(22422)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">I have overthrown some of you, as God overthrew Sodom and Gomorrah, and ye were as a firebrand plucked out of the burning: yet have ye not returned unto me, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22423" onclick="selectVerse(22423)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Therefore thus will I do unto thee, O Israel: and because I will do this unto thee, prepare to meet thy God, O Israel.</div>
</div>

<div class="oneVerse" id="vid_22424" onclick="selectVerse(22424)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">For, lo, he that formeth the mountains, and createth the wind, and declareth unto man what is his thought, that maketh the morning darkness, and treadeth upon the high places of the earth, The LORD, The God of hosts, is his name.</div>
</div>

<div class="oneVerse" id="vid_22425" onclick="selectVerse(22425)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Hear ye this word which I take up against you, even a lamentation, O house of Israel.</div>
</div>

<div class="oneVerse" id="vid_22426" onclick="selectVerse(22426)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">The virgin of Israel is fallen; she shall no more rise: she is forsaken upon her land; there is none to raise her up.</div>
</div>

<div class="oneVerse" id="vid_22427" onclick="selectVerse(22427)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For thus saith the Lord GOD; The city that went out by a thousand shall leave an hundred, and that which went forth by an hundred shall leave ten, to the house of Israel.</div>
</div>

<div class="oneVerse" id="vid_22428" onclick="selectVerse(22428)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">For thus saith the LORD unto the house of Israel, Seek ye me, and ye shall live:</div>
</div>

<div class="oneVerse" id="vid_22429" onclick="selectVerse(22429)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">But seek not Bethel, nor enter into Gilgal, and pass not to Beersheba: for Gilgal shall surely go into captivity, and Bethel shall come to nought.</div>
</div>

<div class="oneVerse" id="vid_22430" onclick="selectVerse(22430)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Seek the LORD, and ye shall live; lest he break out like fire in the house of Joseph, and devour it, and there be none to quench it in Bethel.</div>
</div>

<div class="oneVerse" id="vid_22431" onclick="selectVerse(22431)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Ye who turn judgment to wormwood, and leave off righteousness in the earth,</div>
</div>

<div class="oneVerse" id="vid_22432" onclick="selectVerse(22432)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Seek him that maketh the seven stars and Orion, and turneth the shadow of death into the morning, and maketh the day dark with night: that calleth for the waters of the sea, and poureth them out upon the face of the earth: The LORD is his name:</div>
</div>

<div class="oneVerse" id="vid_22433" onclick="selectVerse(22433)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">That strengtheneth the spoiled against the strong, so that the spoiled shall come against the fortress.</div>
</div>

<div class="oneVerse" id="vid_22434" onclick="selectVerse(22434)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">They hate him that rebuketh in the gate, and they abhor him that speaketh uprightly.</div>
</div>

<div class="oneVerse" id="vid_22435" onclick="selectVerse(22435)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Forasmuch therefore as your treading is upon the poor, and ye take from him burdens of wheat: ye have built houses of hewn stone, but ye shall not dwell in them; ye have planted pleasant vineyards, but ye shall not drink wine of them.</div>
</div>

<div class="oneVerse" id="vid_22436" onclick="selectVerse(22436)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">For I know your manifold transgressions and your mighty sins: they afflict the just, they take a bribe, and they turn aside the poor in the gate from their right.</div>
</div>

<div class="oneVerse" id="vid_22437" onclick="selectVerse(22437)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Therefore the prudent shall keep silence in that time; for it is an evil time.</div>
</div>

<div class="oneVerse" id="vid_22438" onclick="selectVerse(22438)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Seek good, and not evil, that ye may live: and so the LORD, the God of hosts, shall be with you, as ye have spoken.</div>
</div>

<div class="oneVerse" id="vid_22439" onclick="selectVerse(22439)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Hate the evil, and love the good, and establish judgment in the gate: it may be that the LORD God of hosts will be gracious unto the remnant of Joseph.</div>
</div>

<div class="oneVerse" id="vid_22440" onclick="selectVerse(22440)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Therefore the LORD, the God of hosts, the LORD, saith thus; Wailing shall be in all streets; and they shall say in all the highways, Alas! alas!  and they shall call the husbandman to mourning, and such as are skilful of lamentation to wailing.</div>
</div>

<div class="oneVerse" id="vid_22441" onclick="selectVerse(22441)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">And in all vineyards shall be wailing: for I will pass through thee, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22442" onclick="selectVerse(22442)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Woe unto you that desire the day of the LORD! to what end is it for you? the day of the LORD is darkness, and not light.</div>
</div>

<div class="oneVerse" id="vid_22443" onclick="selectVerse(22443)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">As if a man did flee from a lion, and a bear met him; or went into the house, and leaned his hand on the wall, and a serpent bit him.</div>
</div>

<div class="oneVerse" id="vid_22444" onclick="selectVerse(22444)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Shall not the day of the LORD be darkness, and not light? even very dark, and no brightness in it?</div>
</div>

<div class="oneVerse" id="vid_22445" onclick="selectVerse(22445)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">I hate, I despise your feast days, and I will not smell in your solemn assemblies.</div>
</div>

<div class="oneVerse" id="vid_22446" onclick="selectVerse(22446)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">Though ye offer me burnt offerings and your meat offerings, I will not accept them: neither will I regard the peace offerings of your fat beasts.</div>
</div>

<div class="oneVerse" id="vid_22447" onclick="selectVerse(22447)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">Take thou away from me the noise of thy songs; for I will not hear the melody of thy viols.</div>
</div>

<div class="oneVerse" id="vid_22448" onclick="selectVerse(22448)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">But let judgment run down as waters, and righteousness as a mighty stream.</div>
</div>

<div class="oneVerse" id="vid_22449" onclick="selectVerse(22449)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">Have ye offered unto me sacrifices and offerings in the wilderness forty years, O house of Israel?</div>
</div>

<div class="oneVerse" id="vid_22450" onclick="selectVerse(22450)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">26</div>
    <div class="bibleText">But ye have borne the tabernacle of your Moloch and Chiun your images, the star of your god, which ye made to yourselves.</div>
</div>

<div class="oneVerse" id="vid_22451" onclick="selectVerse(22451)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">27</div>
    <div class="bibleText">Therefore will I cause you to go into captivity beyond Damascus, saith the LORD, whose name is The God of hosts.</div>
</div>

<div class="oneVerse" id="vid_22452" onclick="selectVerse(22452)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Woe to them that are at ease in Zion, and trust in the mountain of Samaria, which are named chief of the nations, to whom the house of Israel came!</div>
</div>

<div class="oneVerse" id="vid_22453" onclick="selectVerse(22453)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Pass ye unto Calneh, and see; and from thence go ye to Hamath the great: then go down to Gath of the Philistines: be they better than these kingdoms? or their border greater than your border?</div>
</div>

<div class="oneVerse" id="vid_22454" onclick="selectVerse(22454)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Ye that put far away the evil day, and cause the seat of violence to come near;</div>
</div>

<div class="oneVerse" id="vid_22455" onclick="selectVerse(22455)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">That lie upon beds of ivory, and stretch themselves upon their couches, and eat the lambs out of the flock, and the calves out of the midst of the stall;</div>
</div>

<div class="oneVerse" id="vid_22456" onclick="selectVerse(22456)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">That chant to the sound of the viol, and invent to themselves instruments of musick, like David;</div>
</div>

<div class="oneVerse" id="vid_22457" onclick="selectVerse(22457)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">That drink wine in bowls, and anoint themselves with the chief ointments: but they are not grieved for the affliction of Joseph.</div>
</div>

<div class="oneVerse" id="vid_22458" onclick="selectVerse(22458)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Therefore now shall they go captive with the first that go captive, and the banquet of them that stretched themselves shall be removed.</div>
</div>

<div class="oneVerse" id="vid_22459" onclick="selectVerse(22459)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">The Lord GOD hath sworn by himself, saith the LORD the God of hosts, I abhor the excellency of Jacob, and hate his palaces: therefore will I deliver up the city with all that is therein.</div>
</div>

<div class="oneVerse" id="vid_22460" onclick="selectVerse(22460)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And it shall come to pass, if there remain ten men in one house, that they shall die.</div>
</div>

<div class="oneVerse" id="vid_22461" onclick="selectVerse(22461)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And a man's uncle shall take him up, and he that burneth him, to bring out the bones out of the house, and shall say unto him that is by the sides of the house, Is there yet any with thee? and he shall say, No. Then shall he say, Hold thy tongue: for we may not make mention of the name of the LORD.</div>
</div>

<div class="oneVerse" id="vid_22462" onclick="selectVerse(22462)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">For, behold, the LORD commandeth, and he will smite the great house with breaches, and the little house with clefts.</div>
</div>

<div class="oneVerse" id="vid_22463" onclick="selectVerse(22463)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Shall horses run upon the rock? will one plow there with oxen? for ye have turned judgment into gall, and the fruit of righteousness into hemlock:</div>
</div>

<div class="oneVerse" id="vid_22464" onclick="selectVerse(22464)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Ye which rejoice in a thing of nought, which say, Have we not taken to us horns by our own strength?</div>
</div>

<div class="oneVerse" id="vid_22465" onclick="selectVerse(22465)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">But, behold, I will raise up against you a nation, O house of Israel, saith the LORD the God of hosts; and they shall afflict you from the entering in of Hemath unto the river of the wilderness.</div>
</div>

<div class="oneVerse" id="vid_22466" onclick="selectVerse(22466)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Thus hath the Lord GOD shewed unto me; and, behold, he formed grasshoppers in the beginning of the shooting up of the latter growth; and, lo, it was the latter growth after the king's mowings.</div>
</div>

<div class="oneVerse" id="vid_22467" onclick="selectVerse(22467)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And it came to pass, that when they had made an end of eating the grass of the land, then I said, O Lord GOD, forgive, I beseech thee: by whom shall Jacob arise? for he is small.</div>
</div>

<div class="oneVerse" id="vid_22468" onclick="selectVerse(22468)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">The LORD repented for this: It shall not be, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22469" onclick="selectVerse(22469)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Thus hath the Lord GOD shewed unto me: and, behold, the Lord GOD called to contend by fire, and it devoured the great deep, and did eat up a part.</div>
</div>

<div class="oneVerse" id="vid_22470" onclick="selectVerse(22470)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Then said I, O Lord GOD, cease, I beseech thee: by whom shall Jacob arise? for he is small.</div>
</div>

<div class="oneVerse" id="vid_22471" onclick="selectVerse(22471)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">The LORD repented for this: This also shall not be, saith the Lord GOD.</div>
</div>

<div class="oneVerse" id="vid_22472" onclick="selectVerse(22472)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Thus he shewed me: and, behold, the LORD stood upon a wall made by a plumbline, with a plumbline in his hand.</div>
</div>

<div class="oneVerse" id="vid_22473" onclick="selectVerse(22473)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And the LORD said unto me, Amos, what seest thou? And I said, A plumbline. Then said the LORD, Behold, I will set a plumbline in the midst of my people Israel: I will not again pass by them any more:</div>
</div>

<div class="oneVerse" id="vid_22474" onclick="selectVerse(22474)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And the high places of Isaac shall be desolate, and the sanctuaries of Israel shall be laid waste; and I will rise against the house of Jeroboam with the sword.</div>
</div>

<div class="oneVerse" id="vid_22475" onclick="selectVerse(22475)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Then Amaziah the priest of Bethel sent to Jeroboam king of Israel, saying, Amos hath conspired against thee in the midst of the house of Israel: the land is not able to bear all his words.</div>
</div>

<div class="oneVerse" id="vid_22476" onclick="selectVerse(22476)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">For thus Amos saith, Jeroboam shall die by the sword, and Israel shall surely be led away captive out of their own land.</div>
</div>

<div class="oneVerse" id="vid_22477" onclick="selectVerse(22477)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Also Amaziah said unto Amos, O thou seer, go, flee thee away into the land of Judah, and there eat bread, and prophesy there:</div>
</div>

<div class="oneVerse" id="vid_22478" onclick="selectVerse(22478)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">But prophesy not again any more at Bethel: for it is the king's chapel, and it is the king's court.</div>
</div>

<div class="oneVerse" id="vid_22479" onclick="selectVerse(22479)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Then answered Amos, and said to Amaziah, I was no prophet, neither was I a prophet's son; but I was an herdman, and a gatherer of sycomore fruit:</div>
</div>

<div class="oneVerse" id="vid_22480" onclick="selectVerse(22480)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And the LORD took me as I followed the flock, and the LORD said unto me, Go, prophesy unto my people Israel.</div>
</div>

<div class="oneVerse" id="vid_22481" onclick="selectVerse(22481)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Now therefore hear thou the word of the LORD: Thou sayest, Prophesy not against Israel, and drop not thy word against the house of Isaac.</div>
</div>

<div class="oneVerse" id="vid_22482" onclick="selectVerse(22482)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Therefore thus saith the LORD; Thy wife shall be an harlot in the city, and thy sons and thy daughters shall fall by the sword, and thy land shall be divided by line; and thou shalt die in a polluted land: and Israel shall surely go into captivity forth of his land.</div>
</div>

<div class="oneVerse" id="vid_22483" onclick="selectVerse(22483)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Thus hath the Lord GOD shewed unto me: and behold a basket of summer fruit.</div>
</div>

<div class="oneVerse" id="vid_22484" onclick="selectVerse(22484)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And he said, Amos, what seest thou? And I said, A basket of summer fruit. Then said the LORD unto me, The end is come upon my people of Israel; I will not again pass by them any more.</div>
</div>

<div class="oneVerse" id="vid_22485" onclick="selectVerse(22485)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And the songs of the temple shall be howlings in that day, saith the Lord GOD: there shall be many dead bodies in every place; they shall cast them forth with silence.</div>
</div>

<div class="oneVerse" id="vid_22486" onclick="selectVerse(22486)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Hear this, O ye that swallow up the needy, even to make the poor of the land to fail,</div>
</div>

<div class="oneVerse" id="vid_22487" onclick="selectVerse(22487)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Saying, When will the new moon be gone, that we may sell corn? and the sabbath, that we may set forth wheat, making the ephah small, and the shekel great, and falsifying the balances by deceit?</div>
</div>

<div class="oneVerse" id="vid_22488" onclick="selectVerse(22488)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">That we may buy the poor for silver, and the needy for a pair of shoes; yea, and sell the refuse of the wheat?</div>
</div>

<div class="oneVerse" id="vid_22489" onclick="selectVerse(22489)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">The LORD hath sworn by the excellency of Jacob, Surely I will never forget any of their works.</div>
</div>

<div class="oneVerse" id="vid_22490" onclick="selectVerse(22490)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Shall not the land tremble for this, and every one mourn that dwelleth therein? and it shall rise up wholly as a flood; and it shall be cast out and drowned, as by the flood of Egypt.</div>
</div>

<div class="oneVerse" id="vid_22491" onclick="selectVerse(22491)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And it shall come to pass in that day, saith the Lord GOD, that I will cause the sun to go down at noon, and I will darken the earth in the clear day:</div>
</div>

<div class="oneVerse" id="vid_22492" onclick="selectVerse(22492)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And I will turn your feasts into mourning, and all your songs into lamentation; and I will bring up sackcloth upon all loins, and baldness upon every head; and I will make it as the mourning of an only son, and the end thereof as a bitter day.</div>
</div>

<div class="oneVerse" id="vid_22493" onclick="selectVerse(22493)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Behold, the days come, saith the Lord GOD, that I will send a famine in the land, not a famine of bread, nor a thirst for water, but of hearing the words of the LORD:</div>
</div>

<div class="oneVerse" id="vid_22494" onclick="selectVerse(22494)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">And they shall wander from sea to sea, and from the north even to the east, they shall run to and fro to seek the word of the LORD, and shall not find it.</div>
</div>

<div class="oneVerse" id="vid_22495" onclick="selectVerse(22495)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">In that day shall the fair virgins and young men faint for thirst.</div>
</div>

<div class="oneVerse" id="vid_22496" onclick="selectVerse(22496)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">8</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">They that swear by the sin of Samaria, and say, Thy god, O Dan, liveth; and, The manner of Beersheba liveth; even they shall fall, and never rise up again.</div>
</div>

<div class="oneVerse" id="vid_22497" onclick="selectVerse(22497)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">I saw the LORD standing upon the altar: and he said, Smite the lintel of the door, that the posts may shake: and cut them in the head, all of them; and I will slay the last of them with the sword: he that fleeth of them shall not flee away, and he that escapeth of them shall not be delivered.</div>
</div>

<div class="oneVerse" id="vid_22498" onclick="selectVerse(22498)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Though they dig into hell, thence shall mine hand take them; though they climb up to heaven, thence will I bring them down:</div>
</div>

<div class="oneVerse" id="vid_22499" onclick="selectVerse(22499)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And though they hide themselves in the top of Carmel, I will search and take them out thence; and though they be hid from my sight in the bottom of the sea, thence will I command the serpent, and he shall bite them:</div>
</div>

<div class="oneVerse" id="vid_22500" onclick="selectVerse(22500)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And though they go into captivity before their enemies, thence will I command the sword, and it shall slay them: and I will set mine eyes upon them for evil, and not for good.</div>
</div>

<div class="oneVerse" id="vid_22501" onclick="selectVerse(22501)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And the Lord GOD of hosts is he that toucheth the land, and it shall melt, and all that dwell therein shall mourn: and it shall rise up wholly like a flood; and shall be drowned, as by the flood of Egypt.</div>
</div>

<div class="oneVerse" id="vid_22502" onclick="selectVerse(22502)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">It is he that buildeth his stories in the heaven, and hath founded his troop in the earth; he that calleth for the waters of the sea, and poureth them out upon the face of the earth: The LORD is his name.</div>
</div>

<div class="oneVerse" id="vid_22503" onclick="selectVerse(22503)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Are ye not as children of the Ethiopians unto me, O children of Israel? saith the LORD. Have not I brought up Israel out of the land of Egypt? and the Philistines from Caphtor, and the Syrians from Kir?</div>
</div>

<div class="oneVerse" id="vid_22504" onclick="selectVerse(22504)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Behold, the eyes of the Lord GOD are upon the sinful kingdom, and I will destroy it from off the face of the earth; saving that I will not utterly destroy the house of Jacob, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22505" onclick="selectVerse(22505)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">For, lo, I will command, and I will sift the house of Israel among all nations, like as corn is sifted in a sieve, yet shall not the least grain fall upon the earth.</div>
</div>

<div class="oneVerse" id="vid_22506" onclick="selectVerse(22506)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">All the sinners of my people shall die by the sword, which say, The evil shall not overtake nor prevent us.</div>
</div>

<div class="oneVerse" id="vid_22507" onclick="selectVerse(22507)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">In that day will I raise up the tabernacle of David that is fallen, and close up the breaches thereof; and I will raise up his ruins, and I will build it as in the days of old:</div>
</div>

<div class="oneVerse" id="vid_22508" onclick="selectVerse(22508)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">That they may possess the remnant of Edom, and of all the heathen, which are called by my name, saith the LORD that doeth this.</div>
</div>

<div class="oneVerse" id="vid_22509" onclick="selectVerse(22509)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Behold, the days come, saith the LORD, that the plowman shall overtake the reaper, and the treader of grapes him that soweth seed; and the mountains shall drop sweet wine, and all the hills shall melt.</div>
</div>

<div class="oneVerse" id="vid_22510" onclick="selectVerse(22510)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And I will bring again the captivity of my people of Israel, and they shall build the waste cities, and inhabit them; and they shall plant vineyards, and drink the wine thereof; they shall also make gardens, and eat the fruit of them.</div>
</div>

<div class="oneVerse" id="vid_22511" onclick="selectVerse(22511)">
    <div class="bibleBook">Amo</div>
    <div class="bibleChapter">9</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And I will plant them upon their land, and they shall no more be pulled up out of their land which I have given them, saith the LORD thy God.</div>
</div>