<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="{{=URL('static', 'css/bible.css')}}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" ></script>
<script src="{{=URL('static', 'js/bible.js')}}" type="text/javascript" ></script>

<div class="oneVerse" id="vid_29208" onclick="selectVerse(29208)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Paul, an apostle of Jesus Christ by the will of God, to the saints which are at Ephesus, and to the faithful in Christ Jesus:</div>
</div>

<div class="oneVerse" id="vid_29209" onclick="selectVerse(29209)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Grace be to you, and peace, from God our Father, and from the Lord Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29210" onclick="selectVerse(29210)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Blessed be the God and Father of our Lord Jesus Christ, who hath blessed us with all spiritual blessings in heavenly places in Christ:</div>
</div>

<div class="oneVerse" id="vid_29211" onclick="selectVerse(29211)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">According as he hath chosen us in him before the foundation of the world, that we should be holy and without blame before him in love:</div>
</div>

<div class="oneVerse" id="vid_29212" onclick="selectVerse(29212)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Having predestinated us unto the adoption of children by Jesus Christ to himself, according to the good pleasure of his will,</div>
</div>

<div class="oneVerse" id="vid_29213" onclick="selectVerse(29213)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">To the praise of the glory of his grace, wherein he hath made us accepted in the beloved.</div>
</div>

<div class="oneVerse" id="vid_29214" onclick="selectVerse(29214)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">In whom we have redemption through his blood, the forgiveness of sins, according to the riches of his grace;</div>
</div>

<div class="oneVerse" id="vid_29215" onclick="selectVerse(29215)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Wherein he hath abounded toward us in all wisdom and prudence;</div>
</div>

<div class="oneVerse" id="vid_29216" onclick="selectVerse(29216)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Having made known unto us the mystery of his will, according to his good pleasure which he hath purposed in himself:</div>
</div>

<div class="oneVerse" id="vid_29217" onclick="selectVerse(29217)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">That in the dispensation of the fulness of times he might gather together in one all things in Christ, both which are in heaven, and which are on earth; even in him:</div>
</div>

<div class="oneVerse" id="vid_29218" onclick="selectVerse(29218)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">In whom also we have obtained an inheritance, being predestinated according to the purpose of him who worketh all things after the counsel of his own will:</div>
</div>

<div class="oneVerse" id="vid_29219" onclick="selectVerse(29219)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">That we should be to the praise of his glory, who first trusted in Christ.</div>
</div>

<div class="oneVerse" id="vid_29220" onclick="selectVerse(29220)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">In whom ye also trusted, after that ye heard the word of truth, the gospel of your salvation: in whom also after that ye believed, ye were sealed with that holy Spirit of promise,</div>
</div>

<div class="oneVerse" id="vid_29221" onclick="selectVerse(29221)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Which is the earnest of our inheritance until the redemption of the purchased possession, unto the praise of his glory.</div>
</div>

<div class="oneVerse" id="vid_29222" onclick="selectVerse(29222)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Wherefore I also, after I heard of your faith in the Lord Jesus, and love unto all the saints,</div>
</div>

<div class="oneVerse" id="vid_29223" onclick="selectVerse(29223)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Cease not to give thanks for you, making mention of you in my prayers;</div>
</div>

<div class="oneVerse" id="vid_29224" onclick="selectVerse(29224)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">That the God of our Lord Jesus Christ, the Father of glory, may give unto you the spirit of wisdom and revelation in the knowledge of him:</div>
</div>

<div class="oneVerse" id="vid_29225" onclick="selectVerse(29225)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">The eyes of your understanding being enlightened; that ye may know what is the hope of his calling, and what the riches of the glory of his inheritance in the saints,</div>
</div>

<div class="oneVerse" id="vid_29226" onclick="selectVerse(29226)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">And what is the exceeding greatness of his power to us-ward who believe, according to the working of his mighty power,</div>
</div>

<div class="oneVerse" id="vid_29227" onclick="selectVerse(29227)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Which he wrought in Christ, when he raised him from the dead, and set him at his own right hand in the heavenly places,</div>
</div>

<div class="oneVerse" id="vid_29228" onclick="selectVerse(29228)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Far above all principality, and power, and might, and dominion, and every name that is named, not only in this world, but also in that which is to come:</div>
</div>

<div class="oneVerse" id="vid_29229" onclick="selectVerse(29229)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">And hath put all things under his feet, and gave him to be the head over all things to the church,</div>
</div>

<div class="oneVerse" id="vid_29230" onclick="selectVerse(29230)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">Which is his body, the fulness of him that filleth all in all.</div>
</div>

<div class="oneVerse" id="vid_29231" onclick="selectVerse(29231)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">And you hath he quickened, who were dead in trespasses and sins;</div>
</div>

<div class="oneVerse" id="vid_29232" onclick="selectVerse(29232)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Wherein in time past ye walked according to the course of this world, according to the prince of the power of the air, the spirit that now worketh in the children of disobedience:</div>
</div>

<div class="oneVerse" id="vid_29233" onclick="selectVerse(29233)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Among whom also we all had our conversation in times past in the lusts of our flesh, fulfilling the desires of the flesh and of the mind; and were by nature the children of wrath, even as others.</div>
</div>

<div class="oneVerse" id="vid_29234" onclick="selectVerse(29234)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">But God, who is rich in mercy, for his great love wherewith he loved us,</div>
</div>

<div class="oneVerse" id="vid_29235" onclick="selectVerse(29235)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Even when we were dead in sins, hath quickened us together with Christ, (by grace ye are saved;)</div>
</div>

<div class="oneVerse" id="vid_29236" onclick="selectVerse(29236)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And hath raised us up together, and made us sit together in heavenly places in Christ Jesus:</div>
</div>

<div class="oneVerse" id="vid_29237" onclick="selectVerse(29237)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">That in the ages to come he might shew the exceeding riches of his grace in his kindness toward us through Christ Jesus.</div>
</div>

<div class="oneVerse" id="vid_29238" onclick="selectVerse(29238)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">For by grace are ye saved through faith; and that not of yourselves: it is the gift of God:</div>
</div>

<div class="oneVerse" id="vid_29239" onclick="selectVerse(29239)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Not of works, lest any man should boast.</div>
</div>

<div class="oneVerse" id="vid_29240" onclick="selectVerse(29240)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">For we are his workmanship, created in Christ Jesus unto good works, which God hath before ordained that we should walk in them.</div>
</div>

<div class="oneVerse" id="vid_29241" onclick="selectVerse(29241)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Wherefore remember, that ye being in time past Gentiles in the flesh, who are called Uncircumcision by that which is called the Circumcision in the flesh made by hands;</div>
</div>

<div class="oneVerse" id="vid_29242" onclick="selectVerse(29242)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">That at that time ye were without Christ, being aliens from the commonwealth of Israel, and strangers from the covenants of promise, having no hope, and without God in the world:</div>
</div>

<div class="oneVerse" id="vid_29243" onclick="selectVerse(29243)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">But now in Christ Jesus ye who sometimes were far off are made nigh by the blood of Christ.</div>
</div>

<div class="oneVerse" id="vid_29244" onclick="selectVerse(29244)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">For he is our peace, who hath made both one, and hath broken down the middle wall of partition between us;</div>
</div>

<div class="oneVerse" id="vid_29245" onclick="selectVerse(29245)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Having abolished in his flesh the enmity, even the law of commandments contained in ordinances; for to make in himself of twain one new man, so making peace;</div>
</div>

<div class="oneVerse" id="vid_29246" onclick="selectVerse(29246)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">And that he might reconcile both unto God in one body by the cross, having slain the enmity thereby:</div>
</div>

<div class="oneVerse" id="vid_29247" onclick="selectVerse(29247)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">And came and preached peace to you which were afar off, and to them that were nigh.</div>
</div>

<div class="oneVerse" id="vid_29248" onclick="selectVerse(29248)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">For through him we both have access by one Spirit unto the Father.</div>
</div>

<div class="oneVerse" id="vid_29249" onclick="selectVerse(29249)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Now therefore ye are no more strangers and foreigners, but fellowcitizens with the saints, and of the household of God;</div>
</div>

<div class="oneVerse" id="vid_29250" onclick="selectVerse(29250)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">And are built upon the foundation of the apostles and prophets, Jesus Christ himself being the chief corner stone;</div>
</div>

<div class="oneVerse" id="vid_29251" onclick="selectVerse(29251)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">In whom all the building fitly framed together groweth unto an holy temple in the Lord:</div>
</div>

<div class="oneVerse" id="vid_29252" onclick="selectVerse(29252)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">In whom ye also are builded together for an habitation of God through the Spirit.</div>
</div>

<div class="oneVerse" id="vid_29253" onclick="selectVerse(29253)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">For this cause I Paul, the prisoner of Jesus Christ for you Gentiles,</div>
</div>

<div class="oneVerse" id="vid_29254" onclick="selectVerse(29254)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">If ye have heard of the dispensation of the grace of God which is given me to you-ward:</div>
</div>

<div class="oneVerse" id="vid_29255" onclick="selectVerse(29255)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">How that by revelation he made known unto me the mystery; (as I wrote afore in few words,</div>
</div>

<div class="oneVerse" id="vid_29256" onclick="selectVerse(29256)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Whereby, when ye read, ye may understand my knowledge in the mystery of Christ)</div>
</div>

<div class="oneVerse" id="vid_29257" onclick="selectVerse(29257)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Which in other ages was not made known unto the sons of men, as it is now revealed unto his holy apostles and prophets by the Spirit;</div>
</div>

<div class="oneVerse" id="vid_29258" onclick="selectVerse(29258)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">That the Gentiles should be fellowheirs, and of the same body, and partakers of his promise in Christ by the gospel:</div>
</div>

<div class="oneVerse" id="vid_29259" onclick="selectVerse(29259)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Whereof I was made a minister, according to the gift of the grace of God given unto me by the effectual working of his power.</div>
</div>

<div class="oneVerse" id="vid_29260" onclick="selectVerse(29260)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Unto me, who am less than the least of all saints, is this grace given, that I should preach among the Gentiles the unsearchable riches of Christ;</div>
</div>

<div class="oneVerse" id="vid_29261" onclick="selectVerse(29261)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And to make all men see what is the fellowship of the mystery, which from the beginning of the world hath been hid in God, who created all things by Jesus Christ:</div>
</div>

<div class="oneVerse" id="vid_29262" onclick="selectVerse(29262)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">To the intent that now unto the principalities and powers in heavenly places might be known by the church the manifold wisdom of God,</div>
</div>

<div class="oneVerse" id="vid_29263" onclick="selectVerse(29263)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">According to the eternal purpose which he purposed in Christ Jesus our Lord:</div>
</div>

<div class="oneVerse" id="vid_29264" onclick="selectVerse(29264)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">In whom we have boldness and access with confidence by the faith of him.</div>
</div>

<div class="oneVerse" id="vid_29265" onclick="selectVerse(29265)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Wherefore I desire that ye faint not at my tribulations for you, which is your glory.</div>
</div>

<div class="oneVerse" id="vid_29266" onclick="selectVerse(29266)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">For this cause I bow my knees unto the Father of our Lord Jesus Christ,</div>
</div>

<div class="oneVerse" id="vid_29267" onclick="selectVerse(29267)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Of whom the whole family in heaven and earth is named,</div>
</div>

<div class="oneVerse" id="vid_29268" onclick="selectVerse(29268)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">That he would grant you, according to the riches of his glory, to be strengthened with might by his Spirit in the inner man;</div>
</div>

<div class="oneVerse" id="vid_29269" onclick="selectVerse(29269)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">That Christ may dwell in your hearts by faith; that ye, being rooted and grounded in love,</div>
</div>

<div class="oneVerse" id="vid_29270" onclick="selectVerse(29270)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">May be able to comprehend with all saints what is the breadth, and length, and depth, and height;</div>
</div>

<div class="oneVerse" id="vid_29271" onclick="selectVerse(29271)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">And to know the love of Christ, which passeth knowledge, that ye might be filled with all the fulness of God.</div>
</div>

<div class="oneVerse" id="vid_29272" onclick="selectVerse(29272)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Now unto him that is able to do exceeding abundantly above all that we ask or think, according to the power that worketh in us,</div>
</div>

<div class="oneVerse" id="vid_29273" onclick="selectVerse(29273)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Unto him be glory in the church by Christ Jesus throughout all ages, world without end. Amen.</div>
</div>

<div class="oneVerse" id="vid_29274" onclick="selectVerse(29274)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">I therefore, the prisoner of the Lord, beseech you that ye walk worthy of the vocation wherewith ye are called,</div>
</div>

<div class="oneVerse" id="vid_29275" onclick="selectVerse(29275)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">With all lowliness and meekness, with longsuffering, forbearing one another in love;</div>
</div>

<div class="oneVerse" id="vid_29276" onclick="selectVerse(29276)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Endeavouring to keep the unity of the Spirit in the bond of peace.</div>
</div>

<div class="oneVerse" id="vid_29277" onclick="selectVerse(29277)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">There is one body, and one Spirit, even as ye are called in one hope of your calling;</div>
</div>

<div class="oneVerse" id="vid_29278" onclick="selectVerse(29278)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">One Lord, one faith, one baptism,</div>
</div>

<div class="oneVerse" id="vid_29279" onclick="selectVerse(29279)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">One God and Father of all, who is above all, and through all, and in you all.</div>
</div>

<div class="oneVerse" id="vid_29280" onclick="selectVerse(29280)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">But unto every one of us is given grace according to the measure of the gift of Christ.</div>
</div>

<div class="oneVerse" id="vid_29281" onclick="selectVerse(29281)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Wherefore he saith, When he ascended up on high, he led captivity captive, and gave gifts unto men.</div>
</div>

<div class="oneVerse" id="vid_29282" onclick="selectVerse(29282)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">(Now that he ascended, what is it but that he also descended first into the lower parts of the earth?</div>
</div>

<div class="oneVerse" id="vid_29283" onclick="selectVerse(29283)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">He that descended is the same also that ascended up far above all heavens, that he might fill all things.)</div>
</div>

<div class="oneVerse" id="vid_29284" onclick="selectVerse(29284)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And he gave some, apostles; and some, prophets; and some, evangelists; and some, pastors and teachers;</div>
</div>

<div class="oneVerse" id="vid_29285" onclick="selectVerse(29285)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">For the perfecting of the saints, for the work of the ministry, for the edifying of the body of Christ:</div>
</div>

<div class="oneVerse" id="vid_29286" onclick="selectVerse(29286)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Till we all come in the unity of the faith, and of the knowledge of the Son of God, unto a perfect man, unto the measure of the stature of the fulness of Christ:</div>
</div>

<div class="oneVerse" id="vid_29287" onclick="selectVerse(29287)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">That we henceforth be no more children, tossed to and fro, and carried about with every wind of doctrine, by the sleight of men, and cunning craftiness, whereby they lie in wait to deceive;</div>
</div>

<div class="oneVerse" id="vid_29288" onclick="selectVerse(29288)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">But speaking the truth in love, may grow up into him in all things, which is the head, even Christ:</div>
</div>

<div class="oneVerse" id="vid_29289" onclick="selectVerse(29289)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">From whom the whole body fitly joined together and compacted by that which every joint supplieth, according to the effectual working in the measure of every part, maketh increase of the body unto the edifying of itself in love.</div>
</div>

<div class="oneVerse" id="vid_29290" onclick="selectVerse(29290)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">This I say therefore, and testify in the Lord, that ye henceforth walk not as other Gentiles walk, in the vanity of their mind,</div>
</div>

<div class="oneVerse" id="vid_29291" onclick="selectVerse(29291)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Having the understanding darkened, being alienated from the life of God through the ignorance that is in them, because of the blindness of their heart:</div>
</div>

<div class="oneVerse" id="vid_29292" onclick="selectVerse(29292)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Who being past feeling have given themselves over unto lasciviousness, to work all uncleanness with greediness.</div>
</div>

<div class="oneVerse" id="vid_29293" onclick="selectVerse(29293)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">But ye have not so learned Christ;</div>
</div>

<div class="oneVerse" id="vid_29294" onclick="selectVerse(29294)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">If so be that ye have heard him, and have been taught by him, as the truth is in Jesus:</div>
</div>

<div class="oneVerse" id="vid_29295" onclick="selectVerse(29295)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">That ye put off concerning the former conversation the old man, which is corrupt according to the deceitful lusts;</div>
</div>

<div class="oneVerse" id="vid_29296" onclick="selectVerse(29296)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">And be renewed in the spirit of your mind;</div>
</div>

<div class="oneVerse" id="vid_29297" onclick="selectVerse(29297)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">And that ye put on the new man, which after God is created in righteousness and true holiness.</div>
</div>

<div class="oneVerse" id="vid_29298" onclick="selectVerse(29298)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">Wherefore putting away lying, speak every man truth with his neighbour: for we are members one of another.</div>
</div>

<div class="oneVerse" id="vid_29299" onclick="selectVerse(29299)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">26</div>
    <div class="bibleText">Be ye angry, and sin not: let not the sun go down upon your wrath:</div>
</div>

<div class="oneVerse" id="vid_29300" onclick="selectVerse(29300)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">27</div>
    <div class="bibleText">Neither give place to the devil.</div>
</div>

<div class="oneVerse" id="vid_29301" onclick="selectVerse(29301)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">28</div>
    <div class="bibleText">Let him that stole steal no more: but rather let him labour, working with his hands the thing which is good, that he may have to give to him that needeth.</div>
</div>

<div class="oneVerse" id="vid_29302" onclick="selectVerse(29302)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">29</div>
    <div class="bibleText">Let no corrupt communication proceed out of your mouth, but that which is good to the use of edifying, that it may minister grace unto the hearers.</div>
</div>

<div class="oneVerse" id="vid_29303" onclick="selectVerse(29303)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">30</div>
    <div class="bibleText">And grieve not the holy Spirit of God, whereby ye are sealed unto the day of redemption.</div>
</div>

<div class="oneVerse" id="vid_29304" onclick="selectVerse(29304)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">31</div>
    <div class="bibleText">Let all bitterness, and wrath, and anger, and clamour, and evil speaking, be put away from you, with all malice:</div>
</div>

<div class="oneVerse" id="vid_29305" onclick="selectVerse(29305)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">32</div>
    <div class="bibleText">And be ye kind one to another, tenderhearted, forgiving one another, even as God for Christ's sake hath forgiven you.</div>
</div>

<div class="oneVerse" id="vid_29306" onclick="selectVerse(29306)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Be ye therefore followers of God, as dear children;</div>
</div>

<div class="oneVerse" id="vid_29307" onclick="selectVerse(29307)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And walk in love, as Christ also hath loved us, and hath given himself for us an offering and a sacrifice to God for a sweetsmelling savour.</div>
</div>

<div class="oneVerse" id="vid_29308" onclick="selectVerse(29308)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">But fornication, and all uncleanness, or covetousness, let it not be once named among you, as becometh saints;</div>
</div>

<div class="oneVerse" id="vid_29309" onclick="selectVerse(29309)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Neither filthiness, nor foolish talking, nor jesting, which are not convenient: but rather giving of thanks.</div>
</div>

<div class="oneVerse" id="vid_29310" onclick="selectVerse(29310)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">For this ye know, that no whoremonger, nor unclean person, nor covetous man, who is an idolater, hath any inheritance in the kingdom of Christ and of God.</div>
</div>

<div class="oneVerse" id="vid_29311" onclick="selectVerse(29311)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Let no man deceive you with vain words: for because of these things cometh the wrath of God upon the children of disobedience.</div>
</div>

<div class="oneVerse" id="vid_29312" onclick="selectVerse(29312)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Be not ye therefore partakers with them.</div>
</div>

<div class="oneVerse" id="vid_29313" onclick="selectVerse(29313)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">For ye were sometimes darkness, but now are ye light in the Lord: walk as children of light:</div>
</div>

<div class="oneVerse" id="vid_29314" onclick="selectVerse(29314)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">(For the fruit of the Spirit is in all goodness and righteousness and truth;)</div>
</div>

<div class="oneVerse" id="vid_29315" onclick="selectVerse(29315)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Proving what is acceptable unto the Lord.</div>
</div>

<div class="oneVerse" id="vid_29316" onclick="selectVerse(29316)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And have no fellowship with the unfruitful works of darkness, but rather reprove them.</div>
</div>

<div class="oneVerse" id="vid_29317" onclick="selectVerse(29317)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">For it is a shame even to speak of those things which are done of them in secret.</div>
</div>

<div class="oneVerse" id="vid_29318" onclick="selectVerse(29318)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">But all things that are reproved are made manifest by the light: for whatsoever doth make manifest is light.</div>
</div>

<div class="oneVerse" id="vid_29319" onclick="selectVerse(29319)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Wherefore he saith, Awake thou that sleepest, and arise from the dead, and Christ shall give thee light.</div>
</div>

<div class="oneVerse" id="vid_29320" onclick="selectVerse(29320)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">See then that ye walk circumspectly, not as fools, but as wise,</div>
</div>

<div class="oneVerse" id="vid_29321" onclick="selectVerse(29321)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Redeeming the time, because the days are evil.</div>
</div>

<div class="oneVerse" id="vid_29322" onclick="selectVerse(29322)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Wherefore be ye not unwise, but understanding what the will of the Lord is.</div>
</div>

<div class="oneVerse" id="vid_29323" onclick="selectVerse(29323)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">And be not drunk with wine, wherein is excess; but be filled with the Spirit;</div>
</div>

<div class="oneVerse" id="vid_29324" onclick="selectVerse(29324)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Speaking to yourselves in psalms and hymns and spiritual songs, singing and making melody in your heart to the Lord;</div>
</div>

<div class="oneVerse" id="vid_29325" onclick="selectVerse(29325)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Giving thanks always for all things unto God and the Father in the name of our Lord Jesus Christ;</div>
</div>

<div class="oneVerse" id="vid_29326" onclick="selectVerse(29326)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Submitting yourselves one to another in the fear of God.</div>
</div>

<div class="oneVerse" id="vid_29327" onclick="selectVerse(29327)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">Wives, submit yourselves unto your own husbands, as unto the Lord.</div>
</div>

<div class="oneVerse" id="vid_29328" onclick="selectVerse(29328)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">For the husband is the head of the wife, even as Christ is the head of the church: and he is the saviour of the body.</div>
</div>

<div class="oneVerse" id="vid_29329" onclick="selectVerse(29329)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">Therefore as the church is subject unto Christ, so let the wives be to their own husbands in every thing.</div>
</div>

<div class="oneVerse" id="vid_29330" onclick="selectVerse(29330)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">Husbands, love your wives, even as Christ also loved the church, and gave himself for it;</div>
</div>

<div class="oneVerse" id="vid_29331" onclick="selectVerse(29331)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">26</div>
    <div class="bibleText">That he might sanctify and cleanse it with the washing of water by the word,</div>
</div>

<div class="oneVerse" id="vid_29332" onclick="selectVerse(29332)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">27</div>
    <div class="bibleText">That he might present it to himself a glorious church, not having spot, or wrinkle, or any such thing; but that it should be holy and without blemish.</div>
</div>

<div class="oneVerse" id="vid_29333" onclick="selectVerse(29333)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">28</div>
    <div class="bibleText">So ought men to love their wives as their own bodies. He that loveth his wife loveth himself.</div>
</div>

<div class="oneVerse" id="vid_29334" onclick="selectVerse(29334)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">29</div>
    <div class="bibleText">For no man ever yet hated his own flesh; but nourisheth and cherisheth it, even as the Lord the church:</div>
</div>

<div class="oneVerse" id="vid_29335" onclick="selectVerse(29335)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">30</div>
    <div class="bibleText">For we are members of his body, of his flesh, and of his bones.</div>
</div>

<div class="oneVerse" id="vid_29336" onclick="selectVerse(29336)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">31</div>
    <div class="bibleText">For this cause shall a man leave his father and mother, and shall be joined unto his wife, and they two shall be one flesh.</div>
</div>

<div class="oneVerse" id="vid_29337" onclick="selectVerse(29337)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">32</div>
    <div class="bibleText">This is a great mystery: but I speak concerning Christ and the church.</div>
</div>

<div class="oneVerse" id="vid_29338" onclick="selectVerse(29338)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">33</div>
    <div class="bibleText">Nevertheless let every one of you in particular so love his wife even as himself; and the wife see that she reverence her husband.</div>
</div>

<div class="oneVerse" id="vid_29339" onclick="selectVerse(29339)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Children, obey your parents in the Lord: for this is right.</div>
</div>

<div class="oneVerse" id="vid_29340" onclick="selectVerse(29340)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Honour thy father and mother; which is the first commandment with promise;</div>
</div>

<div class="oneVerse" id="vid_29341" onclick="selectVerse(29341)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">That it may be well with thee, and thou mayest live long on the earth.</div>
</div>

<div class="oneVerse" id="vid_29342" onclick="selectVerse(29342)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And, ye fathers, provoke not your children to wrath: but bring them up in the nurture and admonition of the Lord.</div>
</div>

<div class="oneVerse" id="vid_29343" onclick="selectVerse(29343)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Servants, be obedient to them that are your masters according to the flesh, with fear and trembling, in singleness of your heart, as unto Christ;</div>
</div>

<div class="oneVerse" id="vid_29344" onclick="selectVerse(29344)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Not with eyeservice, as menpleasers; but as the servants of Christ, doing the will of God from the heart;</div>
</div>

<div class="oneVerse" id="vid_29345" onclick="selectVerse(29345)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">With good will doing service, as to the Lord, and not to men:</div>
</div>

<div class="oneVerse" id="vid_29346" onclick="selectVerse(29346)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Knowing that whatsoever good thing any man doeth, the same shall he receive of the Lord, whether he be bond or free.</div>
</div>

<div class="oneVerse" id="vid_29347" onclick="selectVerse(29347)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And, ye masters, do the same things unto them, forbearing threatening: knowing that your Master also is in heaven; neither is there respect of persons with him.</div>
</div>

<div class="oneVerse" id="vid_29348" onclick="selectVerse(29348)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Finally, my brethren, be strong in the Lord, and in the power of his might.</div>
</div>

<div class="oneVerse" id="vid_29349" onclick="selectVerse(29349)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Put on the whole armour of God, that ye may be able to stand against the wiles of the devil.</div>
</div>

<div class="oneVerse" id="vid_29350" onclick="selectVerse(29350)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">For we wrestle not against flesh and blood, but against principalities, against powers, against the rulers of the darkness of this world, against spiritual wickedness in high places.</div>
</div>

<div class="oneVerse" id="vid_29351" onclick="selectVerse(29351)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Wherefore take unto you the whole armour of God, that ye may be able to withstand in the evil day, and having done all, to stand.</div>
</div>

<div class="oneVerse" id="vid_29352" onclick="selectVerse(29352)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Stand therefore, having your loins girt about with truth, and having on the breastplate of righteousness;</div>
</div>

<div class="oneVerse" id="vid_29353" onclick="selectVerse(29353)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And your feet shod with the preparation of the gospel of peace;</div>
</div>

<div class="oneVerse" id="vid_29354" onclick="selectVerse(29354)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Above all, taking the shield of faith, wherewith ye shall be able to quench all the fiery darts of the wicked.</div>
</div>

<div class="oneVerse" id="vid_29355" onclick="selectVerse(29355)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">And take the helmet of salvation, and the sword of the Spirit, which is the word of God:</div>
</div>

<div class="oneVerse" id="vid_29356" onclick="selectVerse(29356)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Praying always with all prayer and supplication in the Spirit, and watching thereunto with all perseverance and supplication for all saints;</div>
</div>

<div class="oneVerse" id="vid_29357" onclick="selectVerse(29357)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">And for me, that utterance may be given unto me, that I may open my mouth boldly, to make known the mystery of the gospel,</div>
</div>

<div class="oneVerse" id="vid_29358" onclick="selectVerse(29358)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">For which I am an ambassador in bonds: that therein I may speak boldly, as I ought to speak.</div>
</div>

<div class="oneVerse" id="vid_29359" onclick="selectVerse(29359)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">But that ye also may know my affairs, and how I do, Tychicus, a beloved brother and faithful minister in the Lord, shall make known to you all things:</div>
</div>

<div class="oneVerse" id="vid_29360" onclick="selectVerse(29360)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">Whom I have sent unto you for the same purpose, that ye might know our affairs, and that he might comfort your hearts.</div>
</div>

<div class="oneVerse" id="vid_29361" onclick="selectVerse(29361)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">Peace be to the brethren, and love with faith, from God the Father and the Lord Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29362" onclick="selectVerse(29362)">
    <div class="bibleBook">Eph</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">Grace be with all them that love our Lord Jesus Christ in sincerity. Amen.</div>
</div>