<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="{{=URL('static', 'css/bible.css')}}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" ></script>
<script src="{{=URL('static', 'js/bible.js')}}" type="text/javascript" ></script>

<div class="oneVerse" id="vid_22733" onclick="selectVerse(22733)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">The burden which Habakkuk the prophet did see.</div>
</div>

<div class="oneVerse" id="vid_22734" onclick="selectVerse(22734)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">O LORD, how long shall I cry, and thou wilt not hear! even cry out unto thee of violence, and thou wilt not save!</div>
</div>

<div class="oneVerse" id="vid_22735" onclick="selectVerse(22735)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Why dost thou shew me iniquity, and cause me to behold grievance? for spoiling and violence are before me: and there are that raise up strife and contention.</div>
</div>

<div class="oneVerse" id="vid_22736" onclick="selectVerse(22736)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Therefore the law is slacked, and judgment doth never go forth: for the wicked doth compass about the righteous; therefore wrong judgment proceedeth.</div>
</div>

<div class="oneVerse" id="vid_22737" onclick="selectVerse(22737)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Behold ye among the heathen, and regard, and wonder marvelously: for I will work a work in your days which ye will not believe, though it be told you.</div>
</div>

<div class="oneVerse" id="vid_22738" onclick="selectVerse(22738)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">For, lo, I raise up the Chaldeans, that bitter and hasty nation, which shall march through the breadth of the land, to possess the dwellingplaces that are not their's.</div>
</div>

<div class="oneVerse" id="vid_22739" onclick="selectVerse(22739)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">They are terrible and dreadful: their judgment and their dignity shall proceed of themselves.</div>
</div>

<div class="oneVerse" id="vid_22740" onclick="selectVerse(22740)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Their horses also are swifter than the leopards, and are more fierce than the evening wolves: and their horsemen shall spread themselves, and their horsemen shall come from far; they shall fly as the eagle that hasteth to eat.</div>
</div>

<div class="oneVerse" id="vid_22741" onclick="selectVerse(22741)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">They shall come all for violence: their faces shall sup up as the east wind, and they shall gather the captivity as the sand.</div>
</div>

<div class="oneVerse" id="vid_22742" onclick="selectVerse(22742)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And they shall scoff at the kings, and the princes shall be a scorn unto them: they shall deride every strong hold; for they shall heap dust, and take it.</div>
</div>

<div class="oneVerse" id="vid_22743" onclick="selectVerse(22743)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Then shall his mind change, and he shall pass over, and offend, imputing this his power unto his god.</div>
</div>

<div class="oneVerse" id="vid_22744" onclick="selectVerse(22744)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Art thou not from everlasting, O LORD my God, mine Holy One? we shall not die. O LORD, thou hast ordained them for judgment; and, O mighty God, thou hast established them for correction.</div>
</div>

<div class="oneVerse" id="vid_22745" onclick="selectVerse(22745)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Thou art of purer eyes than to behold evil, and canst not look on iniquity: wherefore lookest thou upon them that deal treacherously, and holdest thy tongue when the wicked devoureth the man that is more righteous than he?</div>
</div>

<div class="oneVerse" id="vid_22746" onclick="selectVerse(22746)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And makest men as the fishes of the sea, as the creeping things, that have no ruler over them?</div>
</div>

<div class="oneVerse" id="vid_22747" onclick="selectVerse(22747)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">They take up all of them with the angle, they catch them in their net, and gather them in their drag: therefore they rejoice and are glad.</div>
</div>

<div class="oneVerse" id="vid_22748" onclick="selectVerse(22748)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Therefore they sacrifice unto their net, and burn incense unto their drag; because by them their portion is fat, and their meat plenteous.</div>
</div>

<div class="oneVerse" id="vid_22749" onclick="selectVerse(22749)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Shall they therefore empty their net, and not spare continually to slay the nations?</div>
</div>

<div class="oneVerse" id="vid_22750" onclick="selectVerse(22750)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">I will stand upon my watch, and set me upon the tower, and will watch to see what he will say unto me, and what I shall answer when I am reproved.</div>
</div>

<div class="oneVerse" id="vid_22751" onclick="selectVerse(22751)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And the LORD answered me, and said, Write the vision, and make it plain upon tables, that he may run that readeth it.</div>
</div>

<div class="oneVerse" id="vid_22752" onclick="selectVerse(22752)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For the vision is yet for an appointed time, but at the end it shall speak, and not lie: though it tarry, wait for it; because it will surely come, it will not tarry.</div>
</div>

<div class="oneVerse" id="vid_22753" onclick="selectVerse(22753)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Behold, his soul which is lifted up is not upright in him: but the just shall live by his faith.</div>
</div>

<div class="oneVerse" id="vid_22754" onclick="selectVerse(22754)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Yea also, because he transgresseth by wine, he is a proud man, neither keepeth at home, who enlargeth his desire as hell, and is as death, and cannot be satisfied, but gathereth unto him all nations, and heapeth unto him all people:</div>
</div>

<div class="oneVerse" id="vid_22755" onclick="selectVerse(22755)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Shall not all these take up a parable against him, and a taunting proverb against him, and say, Woe to him that increaseth that which is not his! how long? and to him that ladeth himself with thick clay!</div>
</div>

<div class="oneVerse" id="vid_22756" onclick="selectVerse(22756)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Shall they not rise up suddenly that shall bite thee, and awake that shall vex thee, and thou shalt be for booties unto them?</div>
</div>

<div class="oneVerse" id="vid_22757" onclick="selectVerse(22757)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Because thou hast spoiled many nations, all the remnant of the people shall spoil thee; because of men's blood, and for the violence of the land, of the city, and of all that dwell therein.</div>
</div>

<div class="oneVerse" id="vid_22758" onclick="selectVerse(22758)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Woe to him that coveteth an evil covetousness to his house, that he may set his nest on high, that he may be delivered from the power of evil!</div>
</div>

<div class="oneVerse" id="vid_22759" onclick="selectVerse(22759)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Thou hast consulted shame to thy house by cutting off many people, and hast sinned against thy soul.</div>
</div>

<div class="oneVerse" id="vid_22760" onclick="selectVerse(22760)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">For the stone shall cry out of the wall, and the beam out of the timber shall answer it.</div>
</div>

<div class="oneVerse" id="vid_22761" onclick="selectVerse(22761)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Woe to him that buildeth a town with blood, and stablisheth a city by iniquity!</div>
</div>

<div class="oneVerse" id="vid_22762" onclick="selectVerse(22762)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Behold, is it not of the LORD of hosts that the people shall labour in the very fire, and the people shall weary themselves for very vanity?</div>
</div>

<div class="oneVerse" id="vid_22763" onclick="selectVerse(22763)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">For the earth shall be filled with the knowledge of the glory of the LORD, as the waters cover the sea.</div>
</div>

<div class="oneVerse" id="vid_22764" onclick="selectVerse(22764)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Woe unto him that giveth his neighbour drink, that puttest thy bottle to him, and makest him drunken also, that thou mayest look on their nakedness!</div>
</div>

<div class="oneVerse" id="vid_22765" onclick="selectVerse(22765)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Thou art filled with shame for glory: drink thou also, and let thy foreskin be uncovered: the cup of the LORD's right hand shall be turned unto thee, and shameful spewing shall be on thy glory.</div>
</div>

<div class="oneVerse" id="vid_22766" onclick="selectVerse(22766)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">For the violence of Lebanon shall cover thee, and the spoil of beasts, which made them afraid, because of men's blood, and for the violence of the land, of the city, and of all that dwell therein.</div>
</div>

<div class="oneVerse" id="vid_22767" onclick="selectVerse(22767)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">What profiteth the graven image that the maker thereof hath graven it; the molten image, and a teacher of lies, that the maker of his work trusteth therein, to make dumb idols?</div>
</div>

<div class="oneVerse" id="vid_22768" onclick="selectVerse(22768)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Woe unto him that saith to the wood, Awake; to the dumb stone, Arise, it shall teach! Behold, it is laid over with gold and silver, and there is no breath at all in the midst of it.</div>
</div>

<div class="oneVerse" id="vid_22769" onclick="selectVerse(22769)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">But the LORD is in his holy temple: let all the earth keep silence before him.</div>
</div>

<div class="oneVerse" id="vid_22770" onclick="selectVerse(22770)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">A prayer of Habakkuk the prophet upon Shigionoth.</div>
</div>

<div class="oneVerse" id="vid_22771" onclick="selectVerse(22771)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">O LORD, I have heard thy speech, and was afraid: O LORD, revive thy work in the midst of the years, in the midst of the years make known; in wrath remember mercy.</div>
</div>

<div class="oneVerse" id="vid_22772" onclick="selectVerse(22772)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">God came from Teman, and the Holy One from mount Paran. Selah. His glory covered the heavens, and the earth was full of his praise.</div>
</div>

<div class="oneVerse" id="vid_22773" onclick="selectVerse(22773)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And his brightness was as the light; he had horns coming out of his hand: and there was the hiding of his power.</div>
</div>

<div class="oneVerse" id="vid_22774" onclick="selectVerse(22774)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Before him went the pestilence, and burning coals went forth at his feet.</div>
</div>

<div class="oneVerse" id="vid_22775" onclick="selectVerse(22775)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">He stood, and measured the earth: he beheld, and drove asunder the nations; and the everlasting mountains were scattered, the perpetual hills did bow: his ways are everlasting.</div>
</div>

<div class="oneVerse" id="vid_22776" onclick="selectVerse(22776)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">I saw the tents of Cushan in affliction: and the curtains of the land of Midian did tremble.</div>
</div>

<div class="oneVerse" id="vid_22777" onclick="selectVerse(22777)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Was the LORD displeased against the rivers? was thine anger against the rivers? was thy wrath against the sea, that thou didst ride upon thine horses and thy chariots of salvation?</div>
</div>

<div class="oneVerse" id="vid_22778" onclick="selectVerse(22778)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Thy bow was made quite naked, according to the oaths of the tribes, even thy word. Selah. Thou didst cleave the earth with rivers.</div>
</div>

<div class="oneVerse" id="vid_22779" onclick="selectVerse(22779)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">The mountains saw thee, and they trembled: the overflowing of the water passed by: the deep uttered his voice, and lifted up his hands on high.</div>
</div>

<div class="oneVerse" id="vid_22780" onclick="selectVerse(22780)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">The sun and moon stood still in their habitation: at the light of thine arrows they went, and at the shining of thy glittering spear.</div>
</div>

<div class="oneVerse" id="vid_22781" onclick="selectVerse(22781)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Thou didst march through the land in indignation, thou didst thresh the heathen in anger.</div>
</div>

<div class="oneVerse" id="vid_22782" onclick="selectVerse(22782)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Thou wentest forth for the salvation of thy people, even for salvation with thine anointed; thou woundedst the head out of the house of the wicked, by discovering the foundation unto the neck. Selah.</div>
</div>

<div class="oneVerse" id="vid_22783" onclick="selectVerse(22783)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Thou didst strike through with his staves the head of his villages: they came out as a whirlwind to scatter me: their rejoicing was as to devour the poor secretly.</div>
</div>

<div class="oneVerse" id="vid_22784" onclick="selectVerse(22784)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Thou didst walk through the sea with thine horses, through the heap of great waters.</div>
</div>

<div class="oneVerse" id="vid_22785" onclick="selectVerse(22785)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">When I heard, my belly trembled; my lips quivered at the voice: rottenness entered into my bones, and I trembled in myself, that I might rest in the day of trouble: when he cometh up unto the people, he will invade them with his troops.</div>
</div>

<div class="oneVerse" id="vid_22786" onclick="selectVerse(22786)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Although the fig tree shall not blossom, neither shall fruit be in the vines; the labour of the olive shall fail, and the fields shall yield no meat; the flock shall be cut off from the fold, and there shall be no herd in the stalls:</div>
</div>

<div class="oneVerse" id="vid_22787" onclick="selectVerse(22787)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Yet I will rejoice in the LORD, I will joy in the God of my salvation.</div>
</div>

<div class="oneVerse" id="vid_22788" onclick="selectVerse(22788)">
    <div class="bibleBook">Hab</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">The LORD God is my strength, and he will make my feet like hinds' feet, and he will make me to walk upon mine high places. To the chief singer on my stringed instruments.</div>
</div>