<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="{{=URL('static', 'css/bible.css')}}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" ></script>
<script src="{{=URL('static', 'js/bible.js')}}" type="text/javascript" ></script>

<div class="oneVerse" id="vid_30268" onclick="selectVerse(30268)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">James, a servant of God and of the Lord Jesus Christ, to the twelve tribes which are scattered abroad, greeting.</div>
</div>

<div class="oneVerse" id="vid_30269" onclick="selectVerse(30269)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">My brethren, count it all joy when ye fall into divers temptations;</div>
</div>

<div class="oneVerse" id="vid_30270" onclick="selectVerse(30270)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Knowing this, that the trying of your faith worketh patience.</div>
</div>

<div class="oneVerse" id="vid_30271" onclick="selectVerse(30271)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">But let patience have her perfect work, that ye may be perfect and entire, wanting nothing.</div>
</div>

<div class="oneVerse" id="vid_30272" onclick="selectVerse(30272)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">If any of you lack wisdom, let him ask of God, that giveth to all men liberally, and upbraideth not; and it shall be given him.</div>
</div>

<div class="oneVerse" id="vid_30273" onclick="selectVerse(30273)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">But let him ask in faith, nothing wavering. For he that wavereth is like a wave of the sea driven with the wind and tossed.</div>
</div>

<div class="oneVerse" id="vid_30274" onclick="selectVerse(30274)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">For let not that man think that he shall receive any thing of the Lord.</div>
</div>

<div class="oneVerse" id="vid_30275" onclick="selectVerse(30275)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">A double minded man is unstable in all his ways.</div>
</div>

<div class="oneVerse" id="vid_30276" onclick="selectVerse(30276)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Let the brother of low degree rejoice in that he is exalted:</div>
</div>

<div class="oneVerse" id="vid_30277" onclick="selectVerse(30277)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">But the rich, in that he is made low: because as the flower of the grass he shall pass away.</div>
</div>

<div class="oneVerse" id="vid_30278" onclick="selectVerse(30278)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">For the sun is no sooner risen with a burning heat, but it withereth the grass, and the flower thereof falleth, and the grace of the fashion of it perisheth: so also shall the rich man fade away in his ways.</div>
</div>

<div class="oneVerse" id="vid_30279" onclick="selectVerse(30279)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Blessed is the man that endureth temptation: for when he is tried, he shall receive the crown of life, which the Lord hath promised to them that love him.</div>
</div>

<div class="oneVerse" id="vid_30280" onclick="selectVerse(30280)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Let no man say when he is tempted, I am tempted of God: for God cannot be tempted with evil, neither tempteth he any man:</div>
</div>

<div class="oneVerse" id="vid_30281" onclick="selectVerse(30281)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">But every man is tempted, when he is drawn away of his own lust, and enticed.</div>
</div>

<div class="oneVerse" id="vid_30282" onclick="selectVerse(30282)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Then when lust hath conceived, it bringeth forth sin: and sin, when it is finished, bringeth forth death.</div>
</div>

<div class="oneVerse" id="vid_30283" onclick="selectVerse(30283)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Do not err, my beloved brethren.</div>
</div>

<div class="oneVerse" id="vid_30284" onclick="selectVerse(30284)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Every good gift and every perfect gift is from above, and cometh down from the Father of lights, with whom is no variableness, neither shadow of turning.</div>
</div>

<div class="oneVerse" id="vid_30285" onclick="selectVerse(30285)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Of his own will begat he us with the word of truth, that we should be a kind of firstfruits of his creatures.</div>
</div>

<div class="oneVerse" id="vid_30286" onclick="selectVerse(30286)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Wherefore, my beloved brethren, let every man be swift to hear, slow to speak, slow to wrath:</div>
</div>

<div class="oneVerse" id="vid_30287" onclick="selectVerse(30287)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">For the wrath of man worketh not the righteousness of God.</div>
</div>

<div class="oneVerse" id="vid_30288" onclick="selectVerse(30288)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Wherefore lay apart all filthiness and superfluity of naughtiness, and receive with meekness the engrafted word, which is able to save your souls.</div>
</div>

<div class="oneVerse" id="vid_30289" onclick="selectVerse(30289)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">But be ye doers of the word, and not hearers only, deceiving your own selves.</div>
</div>

<div class="oneVerse" id="vid_30290" onclick="selectVerse(30290)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">For if any be a hearer of the word, and not a doer, he is like unto a man beholding his natural face in a glass:</div>
</div>

<div class="oneVerse" id="vid_30291" onclick="selectVerse(30291)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">For he beholdeth himself, and goeth his way, and straightway forgetteth what manner of man he was.</div>
</div>

<div class="oneVerse" id="vid_30292" onclick="selectVerse(30292)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">But whoso looketh into the perfect law of liberty, and continueth therein, he being not a forgetful hearer, but a doer of the work, this man shall be blessed in his deed.</div>
</div>

<div class="oneVerse" id="vid_30293" onclick="selectVerse(30293)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">26</div>
    <div class="bibleText">If any man among you seem to be religious, and bridleth not his tongue, but deceiveth his own heart, this man's religion is vain.</div>
</div>

<div class="oneVerse" id="vid_30294" onclick="selectVerse(30294)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">27</div>
    <div class="bibleText">Pure religion and undefiled before God and the Father is this, To visit the fatherless and widows in their affliction, and to keep himself unspotted from the world.</div>
</div>

<div class="oneVerse" id="vid_30295" onclick="selectVerse(30295)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">My brethren, have not the faith of our Lord Jesus Christ, the Lord of glory, with respect of persons.</div>
</div>

<div class="oneVerse" id="vid_30296" onclick="selectVerse(30296)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">For if there come unto your assembly a man with a gold ring, in goodly apparel, and there come in also a poor man in vile raiment;</div>
</div>

<div class="oneVerse" id="vid_30297" onclick="selectVerse(30297)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And ye have respect to him that weareth the gay clothing, and say unto him, Sit thou here in a good place; and say to the poor, Stand thou there, or sit here under my footstool:</div>
</div>

<div class="oneVerse" id="vid_30298" onclick="selectVerse(30298)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Are ye not then partial in yourselves, and are become judges of evil thoughts?</div>
</div>

<div class="oneVerse" id="vid_30299" onclick="selectVerse(30299)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Hearken, my beloved brethren, Hath not God chosen the poor of this world rich in faith, and heirs of the kingdom which he hath promised to them that love him?</div>
</div>

<div class="oneVerse" id="vid_30300" onclick="selectVerse(30300)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">But ye have despised the poor. Do not rich men oppress you, and draw you before the judgment seats?</div>
</div>

<div class="oneVerse" id="vid_30301" onclick="selectVerse(30301)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Do not they blaspheme that worthy name by the which ye are called?</div>
</div>

<div class="oneVerse" id="vid_30302" onclick="selectVerse(30302)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">If ye fulfil the royal law according to the scripture, Thou shalt love thy neighbour as thyself, ye do well:</div>
</div>

<div class="oneVerse" id="vid_30303" onclick="selectVerse(30303)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">But if ye have respect to persons, ye commit sin, and are convinced of the law as transgressors.</div>
</div>

<div class="oneVerse" id="vid_30304" onclick="selectVerse(30304)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">For whosoever shall keep the whole law, and yet offend in one point, he is guilty of all.</div>
</div>

<div class="oneVerse" id="vid_30305" onclick="selectVerse(30305)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">For he that said, Do not commit adultery, said also, Do not kill. Now if thou commit no adultery, yet if thou kill, thou art become a transgressor of the law.</div>
</div>

<div class="oneVerse" id="vid_30306" onclick="selectVerse(30306)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">So speak ye, and so do, as they that shall be judged by the law of liberty.</div>
</div>

<div class="oneVerse" id="vid_30307" onclick="selectVerse(30307)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">For he shall have judgment without mercy, that hath shewed no mercy; and mercy rejoiceth against judgment.</div>
</div>

<div class="oneVerse" id="vid_30308" onclick="selectVerse(30308)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">What doth it profit, my brethren, though a man say he hath faith, and have not works? can faith save him?</div>
</div>

<div class="oneVerse" id="vid_30309" onclick="selectVerse(30309)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">If a brother or sister be naked, and destitute of daily food,</div>
</div>

<div class="oneVerse" id="vid_30310" onclick="selectVerse(30310)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">And one of you say unto them, Depart in peace, be ye warmed and filled; notwithstanding ye give them not those things which are needful to the body; what doth it profit?</div>
</div>

<div class="oneVerse" id="vid_30311" onclick="selectVerse(30311)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Even so faith, if it hath not works, is dead, being alone.</div>
</div>

<div class="oneVerse" id="vid_30312" onclick="selectVerse(30312)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Yea, a man may say, Thou hast faith, and I have works: shew me thy faith without thy works, and I will shew thee my faith by my works.</div>
</div>

<div class="oneVerse" id="vid_30313" onclick="selectVerse(30313)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Thou believest that there is one God; thou doest well: the devils also believe, and tremble.</div>
</div>

<div class="oneVerse" id="vid_30314" onclick="selectVerse(30314)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">But wilt thou know, O vain man, that faith without works is dead?</div>
</div>

<div class="oneVerse" id="vid_30315" onclick="selectVerse(30315)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Was not Abraham our father justified by works, when he had offered Isaac his son upon the altar?</div>
</div>

<div class="oneVerse" id="vid_30316" onclick="selectVerse(30316)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">Seest thou how faith wrought with his works, and by works was faith made perfect?</div>
</div>

<div class="oneVerse" id="vid_30317" onclick="selectVerse(30317)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">And the scripture was fulfilled which saith, Abraham believed God, and it was imputed unto him for righteousness: and he was called the Friend of God.</div>
</div>

<div class="oneVerse" id="vid_30318" onclick="selectVerse(30318)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">Ye see then how that by works a man is justified, and not by faith only.</div>
</div>

<div class="oneVerse" id="vid_30319" onclick="selectVerse(30319)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">Likewise also was not Rahab the harlot justified by works, when she had received the messengers, and had sent them out another way?</div>
</div>

<div class="oneVerse" id="vid_30320" onclick="selectVerse(30320)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">26</div>
    <div class="bibleText">For as the body without the spirit is dead, so faith without works is dead also.</div>
</div>

<div class="oneVerse" id="vid_30321" onclick="selectVerse(30321)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">My brethren, be not many masters, knowing that we shall receive the greater condemnation.</div>
</div>

<div class="oneVerse" id="vid_30322" onclick="selectVerse(30322)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">For in many things we offend all. If any man offend not in word, the same is a perfect man, and able also to bridle the whole body.</div>
</div>

<div class="oneVerse" id="vid_30323" onclick="selectVerse(30323)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Behold, we put bits in the horses' mouths, that they may obey us; and we turn about their whole body.</div>
</div>

<div class="oneVerse" id="vid_30324" onclick="selectVerse(30324)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Behold also the ships, which though they be so great, and are driven of fierce winds, yet are they turned about with a very small helm, whithersoever the governor listeth.</div>
</div>

<div class="oneVerse" id="vid_30325" onclick="selectVerse(30325)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Even so the tongue is a little member, and boasteth great things. Behold, how great a matter a little fire kindleth!</div>
</div>

<div class="oneVerse" id="vid_30326" onclick="selectVerse(30326)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And the tongue is a fire, a world of iniquity: so is the tongue among our members, that it defileth the whole body, and setteth on fire the course of nature; and it is set on fire of hell.</div>
</div>

<div class="oneVerse" id="vid_30327" onclick="selectVerse(30327)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">For every kind of beasts, and of birds, and of serpents, and of things in the sea, is tamed, and hath been tamed of mankind:</div>
</div>

<div class="oneVerse" id="vid_30328" onclick="selectVerse(30328)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">But the tongue can no man tame; it is an unruly evil, full of deadly poison.</div>
</div>

<div class="oneVerse" id="vid_30329" onclick="selectVerse(30329)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Therewith bless we God, even the Father; and therewith curse we men, which are made after the similitude of God.</div>
</div>

<div class="oneVerse" id="vid_30330" onclick="selectVerse(30330)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Out of the same mouth proceedeth blessing and cursing. My brethren, these things ought not so to be.</div>
</div>

<div class="oneVerse" id="vid_30331" onclick="selectVerse(30331)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Doth a fountain send forth at the same place sweet water and bitter?</div>
</div>

<div class="oneVerse" id="vid_30332" onclick="selectVerse(30332)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Can the fig tree, my brethren, bear olive berries? either a vine, figs? so can no fountain both yield salt water and fresh.</div>
</div>

<div class="oneVerse" id="vid_30333" onclick="selectVerse(30333)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Who is a wise man and endued with knowledge among you? let him shew out of a good conversation his works with meekness of wisdom.</div>
</div>

<div class="oneVerse" id="vid_30334" onclick="selectVerse(30334)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">But if ye have bitter envying and strife in your hearts, glory not, and lie not against the truth.</div>
</div>

<div class="oneVerse" id="vid_30335" onclick="selectVerse(30335)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">This wisdom descendeth not from above, but is earthly, sensual, devilish.</div>
</div>

<div class="oneVerse" id="vid_30336" onclick="selectVerse(30336)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">For where envying and strife is, there is confusion and every evil work.</div>
</div>

<div class="oneVerse" id="vid_30337" onclick="selectVerse(30337)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">But the wisdom that is from above is first pure, then peaceable, gentle, and easy to be intreated, full of mercy and good fruits, without partiality, and without hypocrisy.</div>
</div>

<div class="oneVerse" id="vid_30338" onclick="selectVerse(30338)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">And the fruit of righteousness is sown in peace of them that make peace.</div>
</div>

<div class="oneVerse" id="vid_30339" onclick="selectVerse(30339)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">From whence come wars and fightings among you? come they not hence, even of your lusts that war in your members?</div>
</div>

<div class="oneVerse" id="vid_30340" onclick="selectVerse(30340)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Ye lust, and have not: ye kill, and desire to have, and cannot obtain: ye fight and war, yet ye have not, because ye ask not.</div>
</div>

<div class="oneVerse" id="vid_30341" onclick="selectVerse(30341)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Ye ask, and receive not, because ye ask amiss, that ye may consume it upon your lusts.</div>
</div>

<div class="oneVerse" id="vid_30342" onclick="selectVerse(30342)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Ye adulterers and adulteresses, know ye not that the friendship of the world is enmity with God? whosoever therefore will be a friend of the world is the enemy of God.</div>
</div>

<div class="oneVerse" id="vid_30343" onclick="selectVerse(30343)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Do ye think that the scripture saith in vain, The spirit that dwelleth in us lusteth to envy?</div>
</div>

<div class="oneVerse" id="vid_30344" onclick="selectVerse(30344)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">But he giveth more grace. Wherefore he saith, God resisteth the proud, but giveth grace unto the humble.</div>
</div>

<div class="oneVerse" id="vid_30345" onclick="selectVerse(30345)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Submit yourselves therefore to God. Resist the devil, and he will flee from you.</div>
</div>

<div class="oneVerse" id="vid_30346" onclick="selectVerse(30346)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Draw nigh to God, and he will draw nigh to you. Cleanse your hands, ye sinners; and purify your hearts, ye double minded.</div>
</div>

<div class="oneVerse" id="vid_30347" onclick="selectVerse(30347)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Be afflicted, and mourn, and weep: let your laughter be turned to mourning, and your joy to heaviness.</div>
</div>

<div class="oneVerse" id="vid_30348" onclick="selectVerse(30348)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Humble yourselves in the sight of the Lord, and he shall lift you up.</div>
</div>

<div class="oneVerse" id="vid_30349" onclick="selectVerse(30349)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Speak not evil one of another, brethren. He that speaketh evil of his brother, and judgeth his brother, speaketh evil of the law, and judgeth the law: but if thou judge the law, thou art not a doer of the law, but a judge.</div>
</div>

<div class="oneVerse" id="vid_30350" onclick="selectVerse(30350)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">There is one lawgiver, who is able to save and to destroy: who art thou that judgest another?</div>
</div>

<div class="oneVerse" id="vid_30351" onclick="selectVerse(30351)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Go to now, ye that say, To day or to morrow we will go into such a city, and continue there a year, and buy and sell, and get gain:</div>
</div>

<div class="oneVerse" id="vid_30352" onclick="selectVerse(30352)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Whereas ye know not what shall be on the morrow. For what is your life? It is even a vapour, that appeareth for a little time, and then vanisheth away.</div>
</div>

<div class="oneVerse" id="vid_30353" onclick="selectVerse(30353)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">For that ye ought to say, If the Lord will, we shall live, and do this, or that.</div>
</div>

<div class="oneVerse" id="vid_30354" onclick="selectVerse(30354)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">But now ye rejoice in your boastings: all such rejoicing is evil.</div>
</div>

<div class="oneVerse" id="vid_30355" onclick="selectVerse(30355)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Therefore to him that knoweth to do good, and doeth it not, to him it is sin.</div>
</div>

<div class="oneVerse" id="vid_30356" onclick="selectVerse(30356)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Go to now, ye rich men, weep and howl for your miseries that shall come upon you.</div>
</div>

<div class="oneVerse" id="vid_30357" onclick="selectVerse(30357)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Your riches are corrupted, and your garments are motheaten.</div>
</div>

<div class="oneVerse" id="vid_30358" onclick="selectVerse(30358)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Your gold and silver is cankered; and the rust of them shall be a witness against you, and shall eat your flesh as it were fire. Ye have heaped treasure together for the last days.</div>
</div>

<div class="oneVerse" id="vid_30359" onclick="selectVerse(30359)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Behold, the hire of the labourers who have reaped down your fields, which is of you kept back by fraud, crieth: and the cries of them which have reaped are entered into the ears of the Lord of sabaoth.</div>
</div>

<div class="oneVerse" id="vid_30360" onclick="selectVerse(30360)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Ye have lived in pleasure on the earth, and been wanton; ye have nourished your hearts, as in a day of slaughter.</div>
</div>

<div class="oneVerse" id="vid_30361" onclick="selectVerse(30361)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Ye have condemned and killed the just; and he doth not resist you.</div>
</div>

<div class="oneVerse" id="vid_30362" onclick="selectVerse(30362)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Be patient therefore, brethren, unto the coming of the Lord. Behold, the husbandman waiteth for the precious fruit of the earth, and hath long patience for it, until he receive the early and latter rain.</div>
</div>

<div class="oneVerse" id="vid_30363" onclick="selectVerse(30363)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Be ye also patient; stablish your hearts: for the coming of the Lord draweth nigh.</div>
</div>

<div class="oneVerse" id="vid_30364" onclick="selectVerse(30364)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Grudge not one against another, brethren, lest ye be condemned: behold, the judge standeth before the door.</div>
</div>

<div class="oneVerse" id="vid_30365" onclick="selectVerse(30365)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Take, my brethren, the prophets, who have spoken in the name of the Lord, for an example of suffering affliction, and of patience.</div>
</div>

<div class="oneVerse" id="vid_30366" onclick="selectVerse(30366)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Behold, we count them happy which endure. Ye have heard of the patience of Job, and have seen the end of the Lord; that the Lord is very pitiful, and of tender mercy.</div>
</div>

<div class="oneVerse" id="vid_30367" onclick="selectVerse(30367)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">But above all things, my brethren, swear not, neither by heaven, neither by the earth, neither by any other oath: but let your yea be yea; and your nay, nay; lest ye fall into condemnation.</div>
</div>

<div class="oneVerse" id="vid_30368" onclick="selectVerse(30368)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Is any among you afflicted? let him pray. Is any merry? let him sing psalms.</div>
</div>

<div class="oneVerse" id="vid_30369" onclick="selectVerse(30369)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Is any sick among you? let him call for the elders of the church; and let them pray over him, anointing him with oil in the name of the Lord:</div>
</div>

<div class="oneVerse" id="vid_30370" onclick="selectVerse(30370)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And the prayer of faith shall save the sick, and the Lord shall raise him up; and if he have committed sins, they shall be forgiven him.</div>
</div>

<div class="oneVerse" id="vid_30371" onclick="selectVerse(30371)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Confess your faults one to another, and pray one for another, that ye may be healed. The effectual fervent prayer of a righteous man availeth much.</div>
</div>

<div class="oneVerse" id="vid_30372" onclick="selectVerse(30372)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Elias was a man subject to like passions as we are, and he prayed earnestly that it might not rain: and it rained not on the earth by the space of three years and six months.</div>
</div>

<div class="oneVerse" id="vid_30373" onclick="selectVerse(30373)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">And he prayed again, and the heaven gave rain, and the earth brought forth her fruit.</div>
</div>

<div class="oneVerse" id="vid_30374" onclick="selectVerse(30374)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Brethren, if any of you do err from the truth, and one convert him;</div>
</div>

<div class="oneVerse" id="vid_30375" onclick="selectVerse(30375)">
    <div class="bibleBook">Jam</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Let him know, that he which converteth the sinner from the error of his way shall save a soul from death, and shall hide a multitude of sins.</div>
</div>