<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="{{=URL('static', 'css/bible.css')}}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" ></script>
<script src="{{=URL('static', 'js/bible.js')}}" type="text/javascript" ></script>

<div class="oneVerse" id="vid_30674" onclick="selectVerse(30674)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Jude, the servant of Jesus Christ, and brother of James, to them that are sanctified by God the Father, and preserved in Jesus Christ, and called:</div>
</div>

<div class="oneVerse" id="vid_30675" onclick="selectVerse(30675)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Mercy unto you, and peace, and love, be multiplied.</div>
</div>

<div class="oneVerse" id="vid_30676" onclick="selectVerse(30676)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Beloved, when I gave all diligence to write unto you of the common salvation, it was needful for me to write unto you, and exhort you that ye should earnestly contend for the faith which was once delivered unto the saints.</div>
</div>

<div class="oneVerse" id="vid_30677" onclick="selectVerse(30677)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">For there are certain men crept in unawares, who were before of old ordained to this condemnation, ungodly men, turning the grace of our God into lasciviousness, and denying the only Lord God, and our Lord Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_30678" onclick="selectVerse(30678)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">I will therefore put you in remembrance, though ye once knew this, how that the Lord, having saved the people out of the land of Egypt, afterward destroyed them that believed not.</div>
</div>

<div class="oneVerse" id="vid_30679" onclick="selectVerse(30679)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And the angels which kept not their first estate, but left their own habitation, he hath reserved in everlasting chains under darkness unto the judgment of the great day.</div>
</div>

<div class="oneVerse" id="vid_30680" onclick="selectVerse(30680)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Even as Sodom and Gomorrha, and the cities about them in like manner, giving themselves over to fornication, and going after strange flesh, are set forth for an example, suffering the vengeance of eternal fire.</div>
</div>

<div class="oneVerse" id="vid_30681" onclick="selectVerse(30681)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Likewise also these filthy dreamers defile the flesh, despise dominion, and speak evil of dignities.</div>
</div>

<div class="oneVerse" id="vid_30682" onclick="selectVerse(30682)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Yet Michael the archangel, when contending with the devil he disputed about the body of Moses, durst not bring against him a railing accusation, but said, The Lord rebuke thee.</div>
</div>

<div class="oneVerse" id="vid_30683" onclick="selectVerse(30683)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">But these speak evil of those things which they know not: but what they know naturally, as brute beasts, in those things they corrupt themselves.</div>
</div>

<div class="oneVerse" id="vid_30684" onclick="selectVerse(30684)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Woe unto them! for they have gone in the way of Cain, and ran greedily after the error of Balaam for reward, and perished in the gainsaying of Core.</div>
</div>

<div class="oneVerse" id="vid_30685" onclick="selectVerse(30685)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">These are spots in your feasts of charity, when they feast with you, feeding themselves without fear: clouds they are without water, carried about of winds; trees whose fruit withereth, without fruit, twice dead, plucked up by the roots;</div>
</div>

<div class="oneVerse" id="vid_30686" onclick="selectVerse(30686)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Raging waves of the sea, foaming out their own shame; wandering stars, to whom is reserved the blackness of darkness for ever.</div>
</div>

<div class="oneVerse" id="vid_30687" onclick="selectVerse(30687)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And Enoch also, the seventh from Adam, prophesied of these, saying, Behold, the Lord cometh with ten thousands of his saints,</div>
</div>

<div class="oneVerse" id="vid_30688" onclick="selectVerse(30688)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">To execute judgment upon all, and to convince all that are ungodly among them of all their ungodly deeds which they have ungodly committed, and of all their hard speeches which ungodly sinners have spoken against him.</div>
</div>

<div class="oneVerse" id="vid_30689" onclick="selectVerse(30689)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">These are murmurers, complainers, walking after their own lusts; and their mouth speaketh great swelling words, having men's persons in admiration because of advantage.</div>
</div>

<div class="oneVerse" id="vid_30690" onclick="selectVerse(30690)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">But, beloved, remember ye the words which were spoken before of the apostles of our Lord Jesus Christ;</div>
</div>

<div class="oneVerse" id="vid_30691" onclick="selectVerse(30691)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">How that they told you there should be mockers in the last time, who should walk after their own ungodly lusts.</div>
</div>

<div class="oneVerse" id="vid_30692" onclick="selectVerse(30692)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">These be they who separate themselves, sensual, having not the Spirit.</div>
</div>

<div class="oneVerse" id="vid_30693" onclick="selectVerse(30693)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">But ye, beloved, building up yourselves on your most holy faith, praying in the Holy Ghost,</div>
</div>

<div class="oneVerse" id="vid_30694" onclick="selectVerse(30694)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Keep yourselves in the love of God, looking for the mercy of our Lord Jesus Christ unto eternal life.</div>
</div>

<div class="oneVerse" id="vid_30695" onclick="selectVerse(30695)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">And of some have compassion, making a difference:</div>
</div>

<div class="oneVerse" id="vid_30696" onclick="selectVerse(30696)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">And others save with fear, pulling them out of the fire; hating even the garment spotted by the flesh.</div>
</div>

<div class="oneVerse" id="vid_30697" onclick="selectVerse(30697)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">Now unto him that is able to keep you from falling, and to present you faultless before the presence of his glory with exceeding joy,</div>
</div>

<div class="oneVerse" id="vid_30698" onclick="selectVerse(30698)">
    <div class="bibleBook">Jde</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">To the only wise God our Saviour, be glory and majesty, dominion and power, both now and ever. Amen.</div>
</div>