<div class="oneVerse" id="vid_30542" onclick="selectVerse(30542)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">That which was from the beginning, which we have heard, which we have seen with our eyes, which we have looked upon, and our hands have handled, of the Word of life;</div>
</div>

<div class="oneVerse" id="vid_30543" onclick="selectVerse(30543)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">(For the life was manifested, and we have seen it, and bear witness, and shew unto you that eternal life, which was with the Father, and was manifested unto us;)</div>
</div>

<div class="oneVerse" id="vid_30544" onclick="selectVerse(30544)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">That which we have seen and heard declare we unto you, that ye also may have fellowship with us: and truly our fellowship is with the Father, and with his Son Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_30545" onclick="selectVerse(30545)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And these things write we unto you, that your joy may be full.</div>
</div>

<div class="oneVerse" id="vid_30546" onclick="selectVerse(30546)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">This then is the message which we have heard of him, and declare unto you, that God is light, and in him is no darkness at all.</div>
</div>

<div class="oneVerse" id="vid_30547" onclick="selectVerse(30547)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">If we say that we have fellowship with him, and walk in darkness, we lie, and do not the truth:</div>
</div>

<div class="oneVerse" id="vid_30548" onclick="selectVerse(30548)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">But if we walk in the light, as he is in the light, we have fellowship one with another, and the blood of Jesus Christ his Son cleanseth us from all sin.</div>
</div>

<div class="oneVerse" id="vid_30549" onclick="selectVerse(30549)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">If we say that we have no sin, we deceive ourselves, and the truth is not in us.</div>
</div>

<div class="oneVerse" id="vid_30550" onclick="selectVerse(30550)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">If we confess our sins, he is faithful and just to forgive us our sins, and to cleanse us from all unrighteousness.</div>
</div>

<div class="oneVerse" id="vid_30551" onclick="selectVerse(30551)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">If we say that we have not sinned, we make him a liar, and his word is not in us.</div>
</div>

<div class="oneVerse" id="vid_30552" onclick="selectVerse(30552)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">My little children, these things write I unto you, that ye sin not. And if any man sin, we have an advocate with the Father, Jesus Christ the righteous:</div>
</div>

<div class="oneVerse" id="vid_30553" onclick="selectVerse(30553)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And he is the propitiation for our sins: and not for our's only, but also for the sins of the whole world.</div>
</div>

<div class="oneVerse" id="vid_30554" onclick="selectVerse(30554)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And hereby we do know that we know him, if we keep his commandments.</div>
</div>

<div class="oneVerse" id="vid_30555" onclick="selectVerse(30555)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">He that saith, I know him, and keepeth not his commandments, is a liar, and the truth is not in him.</div>
</div>

<div class="oneVerse" id="vid_30556" onclick="selectVerse(30556)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">But whoso keepeth his word, in him verily is the love of God perfected: hereby know we that we are in him.</div>
</div>

<div class="oneVerse" id="vid_30557" onclick="selectVerse(30557)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">He that saith he abideth in him ought himself also so to walk, even as he walked.</div>
</div>

<div class="oneVerse" id="vid_30558" onclick="selectVerse(30558)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Brethren, I write no new commandment unto you, but an old commandment which ye had from the beginning. The old commandment is the word which ye have heard from the beginning.</div>
</div>

<div class="oneVerse" id="vid_30559" onclick="selectVerse(30559)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Again, a new commandment I write unto you, which thing is true in him and in you: because the darkness is past, and the true light now shineth.</div>
</div>

<div class="oneVerse" id="vid_30560" onclick="selectVerse(30560)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">He that saith he is in the light, and hateth his brother, is in darkness even until now.</div>
</div>

<div class="oneVerse" id="vid_30561" onclick="selectVerse(30561)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">He that loveth his brother abideth in the light, and there is none occasion of stumbling in him.</div>
</div>

<div class="oneVerse" id="vid_30562" onclick="selectVerse(30562)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">But he that hateth his brother is in darkness, and walketh in darkness, and knoweth not whither he goeth, because that darkness hath blinded his eyes.</div>
</div>

<div class="oneVerse" id="vid_30563" onclick="selectVerse(30563)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">I write unto you, little children, because your sins are forgiven you for his name's sake.</div>
</div>

<div class="oneVerse" id="vid_30564" onclick="selectVerse(30564)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">I write unto you, fathers, because ye have known him that is from the beginning. I write unto you, young men, because ye have overcome the wicked one. I write unto you, little children, because ye have known the Father.</div>
</div>

<div class="oneVerse" id="vid_30565" onclick="selectVerse(30565)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">I have written unto you, fathers, because ye have known him that is from the beginning. I have written unto you, young men, because ye are strong, and the word of God abideth in you, and ye have overcome the wicked one.</div>
</div>

<div class="oneVerse" id="vid_30566" onclick="selectVerse(30566)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Love not the world, neither the things that are in the world. If any man love the world, the love of the Father is not in him.</div>
</div>

<div class="oneVerse" id="vid_30567" onclick="selectVerse(30567)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">For all that is in the world, the lust of the flesh, and the lust of the eyes, and the pride of life, is not of the Father, but is of the world.</div>
</div>

<div class="oneVerse" id="vid_30568" onclick="selectVerse(30568)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">And the world passeth away, and the lust thereof: but he that doeth the will of God abideth for ever.</div>
</div>

<div class="oneVerse" id="vid_30569" onclick="selectVerse(30569)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Little children, it is the last time: and as ye have heard that antichrist shall come, even now are there many antichrists; whereby we know that it is the last time.</div>
</div>

<div class="oneVerse" id="vid_30570" onclick="selectVerse(30570)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">They went out from us, but they were not of us; for if they had been of us, they would no doubt have continued with us: but they went out, that they might be made manifest that they were not all of us.</div>
</div>

<div class="oneVerse" id="vid_30571" onclick="selectVerse(30571)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">But ye have an unction from the Holy One, and ye know all things.</div>
</div>

<div class="oneVerse" id="vid_30572" onclick="selectVerse(30572)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">I have not written unto you because ye know not the truth, but because ye know it, and that no lie is of the truth.</div>
</div>

<div class="oneVerse" id="vid_30573" onclick="selectVerse(30573)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">Who is a liar but he that denieth that Jesus is the Christ? He is antichrist, that denieth the Father and the Son.</div>
</div>

<div class="oneVerse" id="vid_30574" onclick="selectVerse(30574)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">Whosoever denieth the Son, the same hath not the Father: he that acknowledgeth the Son hath the Father also.</div>
</div>

<div class="oneVerse" id="vid_30575" onclick="selectVerse(30575)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">Let that therefore abide in you, which ye have heard from the beginning. If that which ye have heard from the beginning shall remain in you, ye also shall continue in the Son, and in the Father.</div>
</div>

<div class="oneVerse" id="vid_30576" onclick="selectVerse(30576)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">And this is the promise that he hath promised us, even eternal life.</div>
</div>

<div class="oneVerse" id="vid_30577" onclick="selectVerse(30577)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">26</div>
    <div class="bibleText">These things have I written unto you concerning them that seduce you.</div>
</div>

<div class="oneVerse" id="vid_30578" onclick="selectVerse(30578)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">27</div>
    <div class="bibleText">But the anointing which ye have received of him abideth in you, and ye need not that any man teach you: but as the same anointing teacheth you of all things, and is truth, and is no lie, and even as it hath taught you, ye shall abide in him.</div>
</div>

<div class="oneVerse" id="vid_30579" onclick="selectVerse(30579)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">28</div>
    <div class="bibleText">And now, little children, abide in him; that, when he shall appear, we may have confidence, and not be ashamed before him at his coming.</div>
</div>

<div class="oneVerse" id="vid_30580" onclick="selectVerse(30580)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">29</div>
    <div class="bibleText">If ye know that he is righteous, ye know that every one that doeth righteousness is born of him.</div>
</div>

<div class="oneVerse" id="vid_30581" onclick="selectVerse(30581)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Behold, what manner of love the Father hath bestowed upon us, that we should be called the sons of God: therefore the world knoweth us not, because it knew him not.</div>
</div>

<div class="oneVerse" id="vid_30582" onclick="selectVerse(30582)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Beloved, now are we the sons of God, and it doth not yet appear what we shall be: but we know that, when he shall appear, we shall be like him; for we shall see him as he is.</div>
</div>

<div class="oneVerse" id="vid_30583" onclick="selectVerse(30583)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And every man that hath this hope in him purifieth himself, even as he is pure.</div>
</div>

<div class="oneVerse" id="vid_30584" onclick="selectVerse(30584)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Whosoever committeth sin transgresseth also the law: for sin is the transgression of the law.</div>
</div>

<div class="oneVerse" id="vid_30585" onclick="selectVerse(30585)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And ye know that he was manifested to take away our sins; and in him is no sin.</div>
</div>

<div class="oneVerse" id="vid_30586" onclick="selectVerse(30586)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Whosoever abideth in him sinneth not: whosoever sinneth hath not seen him, neither known him.</div>
</div>

<div class="oneVerse" id="vid_30587" onclick="selectVerse(30587)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Little children, let no man deceive you: he that doeth righteousness is righteous, even as he is righteous.</div>
</div>

<div class="oneVerse" id="vid_30588" onclick="selectVerse(30588)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">He that committeth sin is of the devil; for the devil sinneth from the beginning. For this purpose the Son of God was manifested, that he might destroy the works of the devil.</div>
</div>

<div class="oneVerse" id="vid_30589" onclick="selectVerse(30589)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Whosoever is born of God doth not commit sin; for his seed remaineth in him: and he cannot sin, because he is born of God.</div>
</div>

<div class="oneVerse" id="vid_30590" onclick="selectVerse(30590)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">In this the children of God are manifest, and the children of the devil: whosoever doeth not righteousness is not of God, neither he that loveth not his brother.</div>
</div>

<div class="oneVerse" id="vid_30591" onclick="selectVerse(30591)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">For this is the message that ye heard from the beginning, that we should love one another.</div>
</div>

<div class="oneVerse" id="vid_30592" onclick="selectVerse(30592)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Not as Cain, who was of that wicked one, and slew his brother. And wherefore slew he him? Because his own works were evil, and his brother's righteous.</div>
</div>

<div class="oneVerse" id="vid_30593" onclick="selectVerse(30593)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Marvel not, my brethren, if the world hate you.</div>
</div>

<div class="oneVerse" id="vid_30594" onclick="selectVerse(30594)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">We know that we have passed from death unto life, because we love the brethren. He that loveth not his brother abideth in death.</div>
</div>

<div class="oneVerse" id="vid_30595" onclick="selectVerse(30595)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Whosoever hateth his brother is a murderer: and ye know that no murderer hath eternal life abiding in him.</div>
</div>

<div class="oneVerse" id="vid_30596" onclick="selectVerse(30596)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Hereby perceive we the love of God, because he laid down his life for us: and we ought to lay down our lives for the brethren.</div>
</div>

<div class="oneVerse" id="vid_30597" onclick="selectVerse(30597)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">But whoso hath this world's good, and seeth his brother have need, and shutteth up his bowels of compassion from him, how dwelleth the love of God in him?</div>
</div>

<div class="oneVerse" id="vid_30598" onclick="selectVerse(30598)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">My little children, let us not love in word, neither in tongue; but in deed and in truth.</div>
</div>

<div class="oneVerse" id="vid_30599" onclick="selectVerse(30599)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">And hereby we know that we are of the truth, and shall assure our hearts before him.</div>
</div>

<div class="oneVerse" id="vid_30600" onclick="selectVerse(30600)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">For if our heart condemn us, God is greater than our heart, and knoweth all things.</div>
</div>

<div class="oneVerse" id="vid_30601" onclick="selectVerse(30601)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Beloved, if our heart condemn us not, then have we confidence toward God.</div>
</div>

<div class="oneVerse" id="vid_30602" onclick="selectVerse(30602)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">And whatsoever we ask, we receive of him, because we keep his commandments, and do those things that are pleasing in his sight.</div>
</div>

<div class="oneVerse" id="vid_30603" onclick="selectVerse(30603)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">And this is his commandment, That we should believe on the name of his Son Jesus Christ, and love one another, as he gave us commandment.</div>
</div>

<div class="oneVerse" id="vid_30604" onclick="selectVerse(30604)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">And he that keepeth his commandments dwelleth in him, and he in him. And hereby we know that he abideth in us, by the Spirit which he hath given us.</div>
</div>

<div class="oneVerse" id="vid_30605" onclick="selectVerse(30605)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Beloved, believe not every spirit, but try the spirits whether they are of God: because many false prophets are gone out into the world.</div>
</div>

<div class="oneVerse" id="vid_30606" onclick="selectVerse(30606)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Hereby know ye the Spirit of God: Every spirit that confesseth that Jesus Christ is come in the flesh is of God:</div>
</div>

<div class="oneVerse" id="vid_30607" onclick="selectVerse(30607)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And every spirit that confesseth not that Jesus Christ is come in the flesh is not of God: and this is that spirit of antichrist, whereof ye have heard that it should come; and even now already is it in the world.</div>
</div>

<div class="oneVerse" id="vid_30608" onclick="selectVerse(30608)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Ye are of God, little children, and have overcome them: because greater is he that is in you, than he that is in the world.</div>
</div>

<div class="oneVerse" id="vid_30609" onclick="selectVerse(30609)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">They are of the world: therefore speak they of the world, and the world heareth them.</div>
</div>

<div class="oneVerse" id="vid_30610" onclick="selectVerse(30610)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">We are of God: he that knoweth God heareth us; he that is not of God heareth not us. Hereby know we the spirit of truth, and the spirit of error.</div>
</div>

<div class="oneVerse" id="vid_30611" onclick="selectVerse(30611)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Beloved, let us love one another: for love is of God; and every one that loveth is born of God, and knoweth God.</div>
</div>

<div class="oneVerse" id="vid_30612" onclick="selectVerse(30612)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">He that loveth not knoweth not God; for God is love.</div>
</div>

<div class="oneVerse" id="vid_30613" onclick="selectVerse(30613)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">In this was manifested the love of God toward us, because that God sent his only begotten Son into the world, that we might live through him.</div>
</div>

<div class="oneVerse" id="vid_30614" onclick="selectVerse(30614)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Herein is love, not that we loved God, but that he loved us, and sent his Son to be the propitiation for our sins.</div>
</div>

<div class="oneVerse" id="vid_30615" onclick="selectVerse(30615)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Beloved, if God so loved us, we ought also to love one another.</div>
</div>

<div class="oneVerse" id="vid_30616" onclick="selectVerse(30616)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">No man hath seen God at any time. If we love one another, God dwelleth in us, and his love is perfected in us.</div>
</div>

<div class="oneVerse" id="vid_30617" onclick="selectVerse(30617)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Hereby know we that we dwell in him, and he in us, because he hath given us of his Spirit.</div>
</div>

<div class="oneVerse" id="vid_30618" onclick="selectVerse(30618)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And we have seen and do testify that the Father sent the Son to be the Saviour of the world.</div>
</div>

<div class="oneVerse" id="vid_30619" onclick="selectVerse(30619)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Whosoever shall confess that Jesus is the Son of God, God dwelleth in him, and he in God.</div>
</div>

<div class="oneVerse" id="vid_30620" onclick="selectVerse(30620)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">And we have known and believed the love that God hath to us. God is love; and he that dwelleth in love dwelleth in God, and God in him.</div>
</div>

<div class="oneVerse" id="vid_30621" onclick="selectVerse(30621)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Herein is our love made perfect, that we may have boldness in the day of judgment: because as he is, so are we in this world.</div>
</div>

<div class="oneVerse" id="vid_30622" onclick="selectVerse(30622)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">There is no fear in love; but perfect love casteth out fear: because fear hath torment. He that feareth is not made perfect in love.</div>
</div>

<div class="oneVerse" id="vid_30623" onclick="selectVerse(30623)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">We love him, because he first loved us.</div>
</div>

<div class="oneVerse" id="vid_30624" onclick="selectVerse(30624)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">If a man say, I love God, and hateth his brother, he is a liar: for he that loveth not his brother whom he hath seen, how can he love God whom he hath not seen?</div>
</div>

<div class="oneVerse" id="vid_30625" onclick="selectVerse(30625)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">And this commandment have we from him, That he who loveth God love his brother also.</div>
</div>

<div class="oneVerse" id="vid_30626" onclick="selectVerse(30626)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Whosoever believeth that Jesus is the Christ is born of God: and every one that loveth him that begat loveth him also that is begotten of him.</div>
</div>

<div class="oneVerse" id="vid_30627" onclick="selectVerse(30627)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">By this we know that we love the children of God, when we love God, and keep his commandments.</div>
</div>

<div class="oneVerse" id="vid_30628" onclick="selectVerse(30628)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For this is the love of God, that we keep his commandments: and his commandments are not grievous.</div>
</div>

<div class="oneVerse" id="vid_30629" onclick="selectVerse(30629)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">For whatsoever is born of God overcometh the world: and this is the victory that overcometh the world, even our faith.</div>
</div>

<div class="oneVerse" id="vid_30630" onclick="selectVerse(30630)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Who is he that overcometh the world, but he that believeth that Jesus is the Son of God?</div>
</div>

<div class="oneVerse" id="vid_30631" onclick="selectVerse(30631)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">This is he that came by water and blood, even Jesus Christ; not by water only, but by water and blood. And it is the Spirit that beareth witness, because the Spirit is truth.</div>
</div>

<div class="oneVerse" id="vid_30632" onclick="selectVerse(30632)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">For there are three that bear record in heaven, the Father, the Word, and the Holy Ghost: and these three are one.</div>
</div>

<div class="oneVerse" id="vid_30633" onclick="selectVerse(30633)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And there are three that bear witness in earth, the Spirit, and the water, and the blood: and these three agree in one.</div>
</div>

<div class="oneVerse" id="vid_30634" onclick="selectVerse(30634)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">If we receive the witness of men, the witness of God is greater: for this is the witness of God which he hath testified of his Son.</div>
</div>

<div class="oneVerse" id="vid_30635" onclick="selectVerse(30635)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">He that believeth on the Son of God hath the witness in himself: he that believeth not God hath made him a liar; because he believeth not the record that God gave of his Son.</div>
</div>

<div class="oneVerse" id="vid_30636" onclick="selectVerse(30636)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And this is the record, that God hath given to us eternal life, and this life is in his Son.</div>
</div>

<div class="oneVerse" id="vid_30637" onclick="selectVerse(30637)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">He that hath the Son hath life; and he that hath not the Son of God hath not life.</div>
</div>

<div class="oneVerse" id="vid_30638" onclick="selectVerse(30638)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">These things have I written unto you that believe on the name of the Son of God; that ye may know that ye have eternal life, and that ye may believe on the name of the Son of God.</div>
</div>

<div class="oneVerse" id="vid_30639" onclick="selectVerse(30639)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And this is the confidence that we have in him, that, if we ask any thing according to his will, he heareth us:</div>
</div>

<div class="oneVerse" id="vid_30640" onclick="selectVerse(30640)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And if we know that he hear us, whatsoever we ask, we know that we have the petitions that we desired of him.</div>
</div>

<div class="oneVerse" id="vid_30641" onclick="selectVerse(30641)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">If any man see his brother sin a sin which is not unto death, he shall ask, and he shall give him life for them that sin not unto death. There is a sin unto death: I do not say that he shall pray for it.</div>
</div>

<div class="oneVerse" id="vid_30642" onclick="selectVerse(30642)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">All unrighteousness is sin: and there is a sin not unto death.</div>
</div>

<div class="oneVerse" id="vid_30643" onclick="selectVerse(30643)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">We know that whosoever is born of God sinneth not; but he that is begotten of God keepeth himself, and that wicked one toucheth him not.</div>
</div>

<div class="oneVerse" id="vid_30644" onclick="selectVerse(30644)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">And we know that we are of God, and the whole world lieth in wickedness.</div>
</div>

<div class="oneVerse" id="vid_30645" onclick="selectVerse(30645)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">And we know that the Son of God is come, and hath given us an understanding, that we may know him that is true, and we are in him that is true, even in his Son Jesus Christ. This is the true God, and eternal life.</div>
</div>

<div class="oneVerse" id="vid_30646" onclick="selectVerse(30646)">
    <div class="bibleBook">Jo1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Little children, keep yourselves from idols. Amen.</div>
</div>