<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="{{=URL('static', 'css/bible.css')}}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" ></script>
<script src="{{=URL('static', 'js/bible.js')}}" type="text/javascript" ></script>

<div class="oneVerse" id="vid_30660" onclick="selectVerse(30660)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">The elder unto the well beloved Gaius, whom I love in the truth.</div>
</div>

<div class="oneVerse" id="vid_30661" onclick="selectVerse(30661)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Beloved, I wish above all things that thou mayest prosper and be in health, even as thy soul prospereth.</div>
</div>

<div class="oneVerse" id="vid_30662" onclick="selectVerse(30662)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For I rejoiced greatly, when the brethren came and testified of the truth that is in thee, even as thou walkest in the truth.</div>
</div>

<div class="oneVerse" id="vid_30663" onclick="selectVerse(30663)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">I have no greater joy than to hear that my children walk in truth.</div>
</div>

<div class="oneVerse" id="vid_30664" onclick="selectVerse(30664)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Beloved, thou doest faithfully whatsoever thou doest to the brethren, and to strangers;</div>
</div>

<div class="oneVerse" id="vid_30665" onclick="selectVerse(30665)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Which have borne witness of thy charity before the church: whom if thou bring forward on their journey after a godly sort, thou shalt do well:</div>
</div>

<div class="oneVerse" id="vid_30666" onclick="selectVerse(30666)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Because that for his name's sake they went forth, taking nothing of the Gentiles.</div>
</div>

<div class="oneVerse" id="vid_30667" onclick="selectVerse(30667)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">We therefore ought to receive such, that we might be fellowhelpers to the truth.</div>
</div>

<div class="oneVerse" id="vid_30668" onclick="selectVerse(30668)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">I wrote unto the church: but Diotrephes, who loveth to have the preeminence among them, receiveth us not.</div>
</div>

<div class="oneVerse" id="vid_30669" onclick="selectVerse(30669)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Wherefore, if I come, I will remember his deeds which he doeth, prating against us with malicious words: and not content therewith, neither doth he himself receive the brethren, and forbiddeth them that would, and casteth them out of the church.</div>
</div>

<div class="oneVerse" id="vid_30670" onclick="selectVerse(30670)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Beloved, follow not that which is evil, but that which is good. He that doeth good is of God: but he that doeth evil hath not seen God.</div>
</div>

<div class="oneVerse" id="vid_30671" onclick="selectVerse(30671)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Demetrius hath good report of all men, and of the truth itself: yea, and we also bear record; and ye know that our record is true.</div>
</div>

<div class="oneVerse" id="vid_30672" onclick="selectVerse(30672)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">I had many things to write, but I will not with ink and pen write unto thee:</div>
</div>

<div class="oneVerse" id="vid_30673" onclick="selectVerse(30673)">
    <div class="bibleBook">Jo3</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">But I trust I shall shortly see thee, and we shall speak face to face. Peace be to thee. Our friends salute thee. Greet the friends by name.</div>
</div>