<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="{{=URL('static', 'css/bible.css')}}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" ></script>
<script src="{{=URL('static', 'js/bible.js')}}" type="text/javascript" ></script>

<div class="oneVerse" id="vid_22533" onclick="selectVerse(22533)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Now the word of the LORD came unto Jonah the son of Amittai, saying,</div>
</div>

<div class="oneVerse" id="vid_22534" onclick="selectVerse(22534)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Arise, go to Nineveh, that great city, and cry against it; for their wickedness is come up before me.</div>
</div>

<div class="oneVerse" id="vid_22535" onclick="selectVerse(22535)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">But Jonah rose up to flee unto Tarshish from the presence of the LORD, and went down to Joppa; and he found a ship going to Tarshish: so he paid the fare thereof, and went down into it, to go with them unto Tarshish from the presence of the LORD.</div>
</div>

<div class="oneVerse" id="vid_22536" onclick="selectVerse(22536)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">But the LORD sent out a great wind into the sea, and there was a mighty tempest in the sea, so that the ship was like to be broken.</div>
</div>

<div class="oneVerse" id="vid_22537" onclick="selectVerse(22537)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Then the mariners were afraid, and cried every man unto his god, and cast forth the wares that were in the ship into the sea, to lighten it of them. But Jonah was gone down into the sides of the ship; and he lay, and was fast asleep.</div>
</div>

<div class="oneVerse" id="vid_22538" onclick="selectVerse(22538)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">So the shipmaster came to him, and said unto him, What meanest thou, O sleeper? arise, call upon thy God, if so be that God will think upon us, that we perish not.</div>
</div>

<div class="oneVerse" id="vid_22539" onclick="selectVerse(22539)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And they said every one to his fellow, Come, and let us cast lots, that we may know for whose cause this evil is upon us. So they cast lots, and the lot fell upon Jonah.</div>
</div>

<div class="oneVerse" id="vid_22540" onclick="selectVerse(22540)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Then said they unto him, Tell us, we pray thee, for whose cause this evil is upon us; What is thine occupation? and whence comest thou? what is thy country? and of what people art thou?</div>
</div>

<div class="oneVerse" id="vid_22541" onclick="selectVerse(22541)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And he said unto them, I am an Hebrew; and I fear the LORD, the God of heaven, which hath made the sea and the dry land.</div>
</div>

<div class="oneVerse" id="vid_22542" onclick="selectVerse(22542)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Then were the men exceedingly afraid, and said unto him. Why hast thou done this? For the men knew that he fled from the presence of the LORD, because he had told them.</div>
</div>

<div class="oneVerse" id="vid_22543" onclick="selectVerse(22543)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Then said they unto him, What shall we do unto thee, that the sea may be calm unto us? for the sea wrought, and was tempestuous.</div>
</div>

<div class="oneVerse" id="vid_22544" onclick="selectVerse(22544)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">And he said unto them, Take me up, and cast me forth into the sea; so shall the sea be calm unto you: for I know that for my sake this great tempest is upon you.</div>
</div>

<div class="oneVerse" id="vid_22545" onclick="selectVerse(22545)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Nevertheless the men rowed hard to bring it to the land; but they could not: for the sea wrought, and was tempestuous against them.</div>
</div>

<div class="oneVerse" id="vid_22546" onclick="selectVerse(22546)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Wherefore they cried unto the LORD, and said, We beseech thee, O LORD, we beseech thee, let us not perish for this man's life, and lay not upon us innocent blood: for thou, O LORD, hast done as it pleased thee.</div>
</div>

<div class="oneVerse" id="vid_22547" onclick="selectVerse(22547)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">So they look up Jonah, and cast him forth into the sea: and the sea ceased from her raging.</div>
</div>

<div class="oneVerse" id="vid_22548" onclick="selectVerse(22548)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Then the men feared the LORD exceedingly, and offered a sacrifice unto the LORD, and made vows.</div>
</div>

<div class="oneVerse" id="vid_22549" onclick="selectVerse(22549)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Now the LORD had prepared a great fish to swallow up Jonah. And Jonah was in the belly of the fish three days and three nights.</div>
</div>

<div class="oneVerse" id="vid_22550" onclick="selectVerse(22550)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Then Jonah prayed unto the LORD his God out of the fish's belly,</div>
</div>

<div class="oneVerse" id="vid_22551" onclick="selectVerse(22551)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And said, I cried by reason of mine affliction unto the LORD, and he heard me; out of the belly of hell cried I, and thou heardest my voice.</div>
</div>

<div class="oneVerse" id="vid_22552" onclick="selectVerse(22552)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For thou hadst cast me into the deep, in the midst of the seas; and the floods compassed me about: all thy billows and thy waves passed over me.</div>
</div>

<div class="oneVerse" id="vid_22553" onclick="selectVerse(22553)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Then I said, I am cast out of thy sight; yet I will look again toward thy holy temple.</div>
</div>

<div class="oneVerse" id="vid_22554" onclick="selectVerse(22554)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">The waters compassed me about, even to the soul: the depth closed me round about, the weeds were wrapped about my head.</div>
</div>

<div class="oneVerse" id="vid_22555" onclick="selectVerse(22555)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">I went down to the bottoms of the mountains; the earth with her bars was about me for ever: yet hast thou brought up my life from corruption, O LORD my God.</div>
</div>

<div class="oneVerse" id="vid_22556" onclick="selectVerse(22556)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">When my soul fainted within me I remembered the LORD: and my prayer came in unto thee, into thine holy temple.</div>
</div>

<div class="oneVerse" id="vid_22557" onclick="selectVerse(22557)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">They that observe lying vanities forsake their own mercy.</div>
</div>

<div class="oneVerse" id="vid_22558" onclick="selectVerse(22558)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">But I will sacrifice unto thee with the voice of thanksgiving; I will pay that that I have vowed. Salvation is of the LORD.</div>
</div>

<div class="oneVerse" id="vid_22559" onclick="selectVerse(22559)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And the LORD spake unto the fish, and it vomited out Jonah upon the dry land.</div>
</div>

<div class="oneVerse" id="vid_22560" onclick="selectVerse(22560)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">And the word of the LORD came unto Jonah the second time, saying,</div>
</div>

<div class="oneVerse" id="vid_22561" onclick="selectVerse(22561)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Arise, go unto Nineveh, that great city, and preach unto it the preaching that I bid thee.</div>
</div>

<div class="oneVerse" id="vid_22562" onclick="selectVerse(22562)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">So Jonah arose, and went unto Nineveh, according to the word of the LORD. Now Nineveh was an exceeding great city of three days' journey.</div>
</div>

<div class="oneVerse" id="vid_22563" onclick="selectVerse(22563)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And Jonah began to enter into the city a day's journey, and he cried, and said, Yet forty days, and Nineveh shall be overthrown.</div>
</div>

<div class="oneVerse" id="vid_22564" onclick="selectVerse(22564)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">So the people of Nineveh believed God, and proclaimed a fast, and put on sackcloth, from the greatest of them even to the least of them.</div>
</div>

<div class="oneVerse" id="vid_22565" onclick="selectVerse(22565)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">For word came unto the king of Nineveh, and he arose from his throne, and he laid his robe from him, and covered him with sackcloth, and sat in ashes.</div>
</div>

<div class="oneVerse" id="vid_22566" onclick="selectVerse(22566)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And he caused it to be proclaimed and published through Nineveh by the decree of the king and his nobles, saying, Let neither man nor beast, herd nor flock, taste any thing: let them not feed, nor drink water:</div>
</div>

<div class="oneVerse" id="vid_22567" onclick="selectVerse(22567)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">But let man and beast be covered with sackcloth, and cry mightily unto God: yea, let them turn every one from his evil way, and from the violence that is in their hands.</div>
</div>

<div class="oneVerse" id="vid_22568" onclick="selectVerse(22568)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Who can tell if God will turn and repent, and turn away from his fierce anger, that we perish not?</div>
</div>

<div class="oneVerse" id="vid_22569" onclick="selectVerse(22569)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And God saw their works, that they turned from their evil way; and God repented of the evil, that he had said that he would do unto them; and he did it not.</div>
</div>

<div class="oneVerse" id="vid_22570" onclick="selectVerse(22570)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">But it displeased Jonah exceedingly, and he was very angry.</div>
</div>

<div class="oneVerse" id="vid_22571" onclick="selectVerse(22571)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And he prayed unto the LORD, and said, I pray thee, O LORD, was not this my saying, when I was yet in my country? Therefore I fled before unto Tarshish: for I knew that thou art a gracious God, and merciful, slow to anger, and of great kindness, and repentest thee of the evil.</div>
</div>

<div class="oneVerse" id="vid_22572" onclick="selectVerse(22572)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Therefore now, O LORD, take, I beseech thee, my life from me; for it is better for me to die than to live.</div>
</div>

<div class="oneVerse" id="vid_22573" onclick="selectVerse(22573)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Then said the LORD, Doest thou well to be angry?</div>
</div>

<div class="oneVerse" id="vid_22574" onclick="selectVerse(22574)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">So Jonah went out of the city, and sat on the east side of the city, and there made him a booth, and sat under it in the shadow, till he might see what would become of the city.</div>
</div>

<div class="oneVerse" id="vid_22575" onclick="selectVerse(22575)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And the LORD God prepared a gourd, and made it to come up over Jonah, that it might be a shadow over his head, to deliver him from his grief. So Jonah was exceeding glad of the gourd.</div>
</div>

<div class="oneVerse" id="vid_22576" onclick="selectVerse(22576)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">But God prepared a worm when the morning rose the next day, and it smote the gourd that it withered.</div>
</div>

<div class="oneVerse" id="vid_22577" onclick="selectVerse(22577)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And it came to pass, when the sun did arise, that God prepared a vehement east wind; and the sun beat upon the head of Jonah, that he fainted, and wished in himself to die, and said, It is better for me to die than to live.</div>
</div>

<div class="oneVerse" id="vid_22578" onclick="selectVerse(22578)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And God said to Jonah, Doest thou well to be angry for the gourd? And he said, I do well to be angry, even unto death.</div>
</div>

<div class="oneVerse" id="vid_22579" onclick="selectVerse(22579)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Then said the LORD, Thou hast had pity on the gourd, for the which thou hast not laboured, neither madest it grow; which came up in a night, and perished in a night:</div>
</div>

<div class="oneVerse" id="vid_22580" onclick="selectVerse(22580)">
    <div class="bibleBook">Jon</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And should not I spare Nineveh, that great city, wherein are more then sixscore thousand persons that cannot discern between their right hand and their left hand; and also much cattle?</div>
</div>