<div class="oneVerse" id="vid_23091" onclick="selectVerse(23091)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">The burden of the word of the LORD to Israel by Malachi.</div>
</div>

<div class="oneVerse" id="vid_23092" onclick="selectVerse(23092)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">I have loved you, saith the LORD. Yet ye say, Wherein hast thou loved us? Was not Esau Jacob's brother? saith the LORD: yet I loved Jacob,</div>
</div>

<div class="oneVerse" id="vid_23093" onclick="selectVerse(23093)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And I hated Esau, and laid his mountains and his heritage waste for the dragons of the wilderness.</div>
</div>

<div class="oneVerse" id="vid_23094" onclick="selectVerse(23094)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Whereas Edom saith, We are impoverished, but we will return and build the desolate places; thus saith the LORD of hosts, They shall build, but I will throw down; and they shall call them, The border of wickedness, and, The people against whom the LORD hath indignation for ever.</div>
</div>

<div class="oneVerse" id="vid_23095" onclick="selectVerse(23095)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And your eyes shall see, and ye shall say, The LORD will be magnified from the border of Israel.</div>
</div>

<div class="oneVerse" id="vid_23096" onclick="selectVerse(23096)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">A son honoureth his father, and a servant his master: if then I be a father, where is mine honour? and if I be a master, where is my fear? saith the LORD of hosts unto you, O priests, that despise my name. And ye say, Wherein have we despised thy name?</div>
</div>

<div class="oneVerse" id="vid_23097" onclick="selectVerse(23097)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Ye offer polluted bread upon mine altar; and ye say, Wherein have we polluted thee? In that ye say, The table of the LORD is contemptible.</div>
</div>

<div class="oneVerse" id="vid_23098" onclick="selectVerse(23098)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And if ye offer the blind for sacrifice, is it not evil? and if ye offer the lame and sick, is it not evil? offer it now unto thy governor; will he be pleased with thee, or accept thy person? saith the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23099" onclick="selectVerse(23099)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And now, I pray you, beseech God that he will be gracious unto us: this hath been by your means: will he regard your persons? saith the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23100" onclick="selectVerse(23100)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Who is there even among you that would shut the doors for nought? neither do ye kindle fire on mine altar for nought. I have no pleasure in you, saith the LORD of hosts, neither will I accept an offering at your hand.</div>
</div>

<div class="oneVerse" id="vid_23101" onclick="selectVerse(23101)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">For from the rising of the sun even unto the going down of the same my name shall be great among the Gentiles; and in every place incense shall be offered unto my name, and a pure offering: for my name shall be great among the heathen, saith the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23102" onclick="selectVerse(23102)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">But ye have profaned it, in that ye say, The table of the LORD is polluted; and the fruit thereof, even his meat, is contemptible.</div>
</div>

<div class="oneVerse" id="vid_23103" onclick="selectVerse(23103)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Ye said also, Behold, what a weariness is it! and ye have snuffed at it, saith the LORD of hosts; and ye brought that which was torn, and the lame, and the sick; thus ye brought an offering: should I accept this of your hand? saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_23104" onclick="selectVerse(23104)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">But cursed be the deceiver, which hath in his flock a male, and voweth, and sacrificeth unto the LORD a corrupt thing: for I am a great King, saith the LORD of hosts, and my name is dreadful among the heathen.</div>
</div>

<div class="oneVerse" id="vid_23105" onclick="selectVerse(23105)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">And now, O ye priests, this commandment is for you.</div>
</div>

<div class="oneVerse" id="vid_23106" onclick="selectVerse(23106)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">If ye will not hear, and if ye will not lay it to heart, to give glory unto my name, saith the LORD of hosts, I will even send a curse upon you, and I will curse your blessings: yea, I have cursed them already, because ye do not lay it to heart.</div>
</div>

<div class="oneVerse" id="vid_23107" onclick="selectVerse(23107)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Behold, I will corrupt your seed, and spread dung upon your faces, even the dung of your solemn feasts; and one shall take you away with it.</div>
</div>

<div class="oneVerse" id="vid_23108" onclick="selectVerse(23108)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And ye shall know that I have sent this commandment unto you, that my covenant might be with Levi, saith the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23109" onclick="selectVerse(23109)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">My covenant was with him of life and peace; and I gave them to him for the fear wherewith he feared me, and was afraid before my name.</div>
</div>

<div class="oneVerse" id="vid_23110" onclick="selectVerse(23110)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">The law of truth was in his mouth, and iniquity was not found in his lips: he walked with me in peace and equity, and did turn many away from iniquity.</div>
</div>

<div class="oneVerse" id="vid_23111" onclick="selectVerse(23111)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">For the priest's lips should keep knowledge, and they should seek the law at his mouth: for he is the messenger of the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23112" onclick="selectVerse(23112)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">But ye are departed out of the way; ye have caused many to stumble at the law; ye have corrupted the covenant of Levi, saith the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23113" onclick="selectVerse(23113)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Therefore have I also made you contemptible and base before all the people, according as ye have not kept my ways, but have been partial in the law.</div>
</div>

<div class="oneVerse" id="vid_23114" onclick="selectVerse(23114)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Have we not all one father? hath not one God created us? why do we deal treacherously every man against his brother, by profaning the covenant of our fathers?</div>
</div>

<div class="oneVerse" id="vid_23115" onclick="selectVerse(23115)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Judah hath dealt treacherously, and an abomination is committed in Israel and in Jerusalem; for Judah hath profaned the holiness of the LORD which he loved, and hath married the daughter of a strange god.</div>
</div>

<div class="oneVerse" id="vid_23116" onclick="selectVerse(23116)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">The LORD will cut off the man that doeth this, the master and the scholar, out of the tabernacles of Jacob, and him that offereth an offering unto the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23117" onclick="selectVerse(23117)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">And this have ye done again, covering the altar of the LORD with tears, with weeping, and with crying out, insomuch that he regardeth not the offering any more, or receiveth it with good will at your hand.</div>
</div>

<div class="oneVerse" id="vid_23118" onclick="selectVerse(23118)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Yet ye say, Wherefore? Because the LORD hath been witness between thee and the wife of thy youth, against whom thou hast dealt treacherously: yet is she thy companion, and the wife of thy covenant.</div>
</div>

<div class="oneVerse" id="vid_23119" onclick="selectVerse(23119)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And did not he make one? Yet had he the residue of the spirit. And wherefore one? That he might seek a godly seed. Therefore take heed to your spirit, and let none deal treacherously against the wife of his youth.</div>
</div>

<div class="oneVerse" id="vid_23120" onclick="selectVerse(23120)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">For the LORD, the God of Israel, saith that he hateth putting away: for one covereth violence with his garment, saith the LORD of hosts: therefore take heed to your spirit, that ye deal not treacherously.</div>
</div>

<div class="oneVerse" id="vid_23121" onclick="selectVerse(23121)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Ye have wearied the LORD with your words. Yet ye say, Wherein have we wearied him? When ye say, Every one that doeth evil is good in the sight of the LORD, and he delighteth in them; or, Where is the God of judgment?</div>
</div>

<div class="oneVerse" id="vid_23122" onclick="selectVerse(23122)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Behold, I will send my messenger, and he shall prepare the way before me: and the LORD, whom ye seek, shall suddenly come to his temple, even the messenger of the covenant, whom ye delight in: behold, he shall come, saith the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23123" onclick="selectVerse(23123)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">But who may abide the day of his coming? and who shall stand when he appeareth? for he is like a refiner's fire, and like fullers' soap:</div>
</div>

<div class="oneVerse" id="vid_23124" onclick="selectVerse(23124)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And he shall sit as a refiner and purifier of silver: and he shall purify the sons of Levi, and purge them as gold and silver, that they may offer unto the LORD an offering in righteousness.</div>
</div>

<div class="oneVerse" id="vid_23125" onclick="selectVerse(23125)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Then shall the offering of Judah and Jerusalem be pleasant unto the LORD, as in the days of old, and as in former years.</div>
</div>

<div class="oneVerse" id="vid_23126" onclick="selectVerse(23126)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And I will come near to you to judgment; and I will be a swift witness against the sorcerers, and against the adulterers, and against false swearers, and against those that oppress the hireling in his wages, the widow, and the fatherless, and that turn aside the stranger from his right, and fear not me, saith the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23127" onclick="selectVerse(23127)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">For I am the LORD, I change not; therefore ye sons of Jacob are not consumed.</div>
</div>

<div class="oneVerse" id="vid_23128" onclick="selectVerse(23128)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Even from the days of your fathers ye are gone away from mine ordinances, and have not kept them. Return unto me, and I will return unto you, saith the LORD of hosts. But ye said, Wherein shall we return?</div>
</div>

<div class="oneVerse" id="vid_23129" onclick="selectVerse(23129)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Will a man rob God? Yet ye have robbed me. But ye say, Wherein have we robbed thee? In tithes and offerings.</div>
</div>

<div class="oneVerse" id="vid_23130" onclick="selectVerse(23130)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Ye are cursed with a curse: for ye have robbed me, even this whole nation.</div>
</div>

<div class="oneVerse" id="vid_23131" onclick="selectVerse(23131)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Bring ye all the tithes into the storehouse, that there may be meat in mine house, and prove me now herewith, saith the LORD of hosts, if I will not open you the windows of heaven, and pour you out a blessing, that there shall not be room enough to receive it.</div>
</div>

<div class="oneVerse" id="vid_23132" onclick="selectVerse(23132)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And I will rebuke the devourer for your sakes, and he shall not destroy the fruits of your ground; neither shall your vine cast her fruit before the time in the field, saith the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23133" onclick="selectVerse(23133)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">And all nations shall call you blessed: for ye shall be a delightsome land, saith the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23134" onclick="selectVerse(23134)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Your words have been stout against me, saith the LORD. Yet ye say, What have we spoken so much against thee?</div>
</div>

<div class="oneVerse" id="vid_23135" onclick="selectVerse(23135)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Ye have said, It is vain to serve God: and what profit is it that we have kept his ordinance, and that we have walked mournfully before the LORD of hosts?</div>
</div>

<div class="oneVerse" id="vid_23136" onclick="selectVerse(23136)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And now we call the proud happy; yea, they that work wickedness are set up; yea, they that tempt God are even delivered.</div>
</div>

<div class="oneVerse" id="vid_23137" onclick="selectVerse(23137)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Then they that feared the LORD spake often one to another: and the LORD hearkened, and heard it, and a book of remembrance was written before him for them that feared the LORD, and that thought upon his name.</div>
</div>

<div class="oneVerse" id="vid_23138" onclick="selectVerse(23138)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">And they shall be mine, saith the LORD of hosts, in that day when I make up my jewels; and I will spare them, as a man spareth his own son that serveth him.</div>
</div>

<div class="oneVerse" id="vid_23139" onclick="selectVerse(23139)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Then shall ye return, and discern between the righteous and the wicked, between him that serveth God and him that serveth him not.</div>
</div>

<div class="oneVerse" id="vid_23140" onclick="selectVerse(23140)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">For, behold, the day cometh, that shall burn as an oven; and all the proud, yea, and all that do wickedly, shall be stubble: and the day that cometh shall burn them up, saith the LORD of hosts, that it shall leave them neither root nor branch.</div>
</div>

<div class="oneVerse" id="vid_23141" onclick="selectVerse(23141)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">But unto you that fear my name shall the Sun of righteousness arise with healing in his wings; and ye shall go forth, and grow up as calves of the stall.</div>
</div>

<div class="oneVerse" id="vid_23142" onclick="selectVerse(23142)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And ye shall tread down the wicked; for they shall be ashes under the soles of your feet in the day that I shall do this, saith the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_23143" onclick="selectVerse(23143)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Remember ye the law of Moses my servant, which I commanded unto him in Horeb for all Israel, with the statutes and judgments.</div>
</div>

<div class="oneVerse" id="vid_23144" onclick="selectVerse(23144)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Behold, I will send you Elijah the prophet before the coming of the great and dreadful day of the LORD:</div>
</div>

<div class="oneVerse" id="vid_23145" onclick="selectVerse(23145)">
    <div class="bibleBook">Mal</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And he shall turn the heart of the fathers to the children, and the heart of the children to their fathers, lest I come and smite the earth with a curse.</div>
</div>