<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="{{=URL('static', 'css/bible.css')}}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" ></script>
<script src="{{=URL('static', 'js/bible.js')}}" type="text/javascript" ></script>

<div class="oneVerse" id="vid_22581" onclick="selectVerse(22581)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">The word of the LORD that came to Micah the Morasthite in the days of Jotham, Ahaz, and Hezekiah, kings of Judah, which he saw concerning Samaria and Jerusalem.</div>
</div>

<div class="oneVerse" id="vid_22582" onclick="selectVerse(22582)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Hear, all ye people; hearken, O earth, and all that therein is: and let the Lord GOD be witness against you, the LORD from his holy temple.</div>
</div>

<div class="oneVerse" id="vid_22583" onclick="selectVerse(22583)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For, behold, the LORD cometh forth out of his place, and will come down, and tread upon the high places of the earth.</div>
</div>

<div class="oneVerse" id="vid_22584" onclick="selectVerse(22584)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And the mountains shall be molten under him, and the valleys shall be cleft, as wax before the fire, and as the waters that are poured down a steep place.</div>
</div>

<div class="oneVerse" id="vid_22585" onclick="selectVerse(22585)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">For the transgression of Jacob is all this, and for the sins of the house of Israel. What is the transgression of Jacob? is it not Samaria? and what are the high places of Judah? are they not Jerusalem?</div>
</div>

<div class="oneVerse" id="vid_22586" onclick="selectVerse(22586)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Therefore I will make Samaria as an heap of the field, and as plantings of a vineyard: and I will pour down the stones thereof into the valley, and I will discover the foundations thereof.</div>
</div>

<div class="oneVerse" id="vid_22587" onclick="selectVerse(22587)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And all the graven images thereof shall be beaten to pieces, and all the hires thereof shall be burned with the fire, and all the idols thereof will I lay desolate: for she gathered it of the hire of an harlot, and they shall return to the hire of an harlot.</div>
</div>

<div class="oneVerse" id="vid_22588" onclick="selectVerse(22588)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Therefore I will wail and howl, I will go stripped and naked: I will make a wailing like the dragons, and mourning as the owls.</div>
</div>

<div class="oneVerse" id="vid_22589" onclick="selectVerse(22589)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">For her wound is incurable; for it is come unto Judah; he is come unto the gate of my people, even to Jerusalem.</div>
</div>

<div class="oneVerse" id="vid_22590" onclick="selectVerse(22590)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Declare ye it not at Gath, weep ye not at all: in the house of Aphrah roll thyself in the dust.</div>
</div>

<div class="oneVerse" id="vid_22591" onclick="selectVerse(22591)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Pass ye away, thou inhabitant of Saphir, having thy shame naked: the inhabitant of Zaanan came not forth in the mourning of Bethezel; he shall receive of you his standing.</div>
</div>

<div class="oneVerse" id="vid_22592" onclick="selectVerse(22592)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">For the inhabitant of Maroth waited carefully for good: but evil came down from the LORD unto the gate of Jerusalem.</div>
</div>

<div class="oneVerse" id="vid_22593" onclick="selectVerse(22593)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">O thou inhabitant of Lachish, bind the chariot to the swift beast: she is the beginning of the sin to the daughter of Zion: for the transgressions of Israel were found in thee.</div>
</div>

<div class="oneVerse" id="vid_22594" onclick="selectVerse(22594)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Therefore shalt thou give presents to Moreshethgath: the houses of Achzib shall be a lie to the kings of Israel.</div>
</div>

<div class="oneVerse" id="vid_22595" onclick="selectVerse(22595)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Yet will I bring an heir unto thee, O inhabitant of Mareshah: he shall come unto Adullam the glory of Israel.</div>
</div>

<div class="oneVerse" id="vid_22596" onclick="selectVerse(22596)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Make thee bald, and poll thee for thy delicate children; enlarge thy baldness as the eagle; for they are gone into captivity from thee.</div>
</div>

<div class="oneVerse" id="vid_22597" onclick="selectVerse(22597)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Woe to them that devise iniquity, and work evil upon their beds! when the morning is light, they practise it, because it is in the power of their hand.</div>
</div>

<div class="oneVerse" id="vid_22598" onclick="selectVerse(22598)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And they covet fields, and take them by violence; and houses, and take them away: so they oppress a man and his house, even a man and his heritage.</div>
</div>

<div class="oneVerse" id="vid_22599" onclick="selectVerse(22599)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Therefore thus saith the LORD; Behold, against this family do I devise an evil, from which ye shall not remove your necks; neither shall ye go haughtily: for this time is evil.</div>
</div>

<div class="oneVerse" id="vid_22600" onclick="selectVerse(22600)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">In that day shall one take up a parable against you, and lament with a doleful lamentation, and say, We be utterly spoiled: he hath changed the portion of my people: how hath he removed it from me! turning away he hath divided our fields.</div>
</div>

<div class="oneVerse" id="vid_22601" onclick="selectVerse(22601)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Therefore thou shalt have none that shall cast a cord by lot in the congregation of the LORD.</div>
</div>

<div class="oneVerse" id="vid_22602" onclick="selectVerse(22602)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Prophesy ye not, say they to them that prophesy: they shall not prophesy to them, that they shall not take shame.</div>
</div>

<div class="oneVerse" id="vid_22603" onclick="selectVerse(22603)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">O thou that art named the house of Jacob, is the spirit of the LORD straitened? are these his doings? do not my words do good to him that walketh uprightly?</div>
</div>

<div class="oneVerse" id="vid_22604" onclick="selectVerse(22604)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Even of late my people is risen up as an enemy: ye pull off the robe with the garment from them that pass by securely as men averse from war.</div>
</div>

<div class="oneVerse" id="vid_22605" onclick="selectVerse(22605)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">The women of my people have ye cast out from their pleasant houses; from their children have ye taken away my glory for ever.</div>
</div>

<div class="oneVerse" id="vid_22606" onclick="selectVerse(22606)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Arise ye, and depart; for this is not your rest: because it is polluted, it shall destroy you, even with a sore destruction.</div>
</div>

<div class="oneVerse" id="vid_22607" onclick="selectVerse(22607)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">If a man walking in the spirit and falsehood do lie, saying, I will prophesy unto thee of wine and of strong drink; he shall even be the prophet of this people.</div>
</div>

<div class="oneVerse" id="vid_22608" onclick="selectVerse(22608)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">I will surely assemble, O Jacob, all of thee; I will surely gather the remnant of Israel; I will put them together as the sheep of Bozrah, as the flock in the midst of their fold: they shall make great noise by reason of the multitude of men.</div>
</div>

<div class="oneVerse" id="vid_22609" onclick="selectVerse(22609)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">The breaker is come up before them: they have broken up, and have passed through the gate, and are gone out by it: and their king shall pass before them, and the LORD on the head of them.</div>
</div>

<div class="oneVerse" id="vid_22610" onclick="selectVerse(22610)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">And I said, Hear, I pray you, O heads of Jacob, and ye princes of the house of Israel; Is it not for you to know judgment?</div>
</div>

<div class="oneVerse" id="vid_22611" onclick="selectVerse(22611)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Who hate the good, and love the evil; who pluck off their skin from off them, and their flesh from off their bones;</div>
</div>

<div class="oneVerse" id="vid_22612" onclick="selectVerse(22612)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Who also eat the flesh of my people, and flay their skin from off them; and they break their bones, and chop them in pieces, as for the pot, and as flesh within the caldron.</div>
</div>

<div class="oneVerse" id="vid_22613" onclick="selectVerse(22613)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Then shall they cry unto the LORD, but he will not hear them: he will even hide his face from them at that time, as they have behaved themselves ill in their doings.</div>
</div>

<div class="oneVerse" id="vid_22614" onclick="selectVerse(22614)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Thus saith the LORD concerning the prophets that make my people err, that bite with their teeth, and cry, Peace; and he that putteth not into their mouths, they even prepare war against him.</div>
</div>

<div class="oneVerse" id="vid_22615" onclick="selectVerse(22615)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Therefore night shall be unto you, that ye shall not have a vision; and it shall be dark unto you, that ye shall not divine; and the sun shall go down over the prophets, and the day shall be dark over them.</div>
</div>

<div class="oneVerse" id="vid_22616" onclick="selectVerse(22616)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Then shall the seers be ashamed, and the diviners confounded: yea, they shall all cover their lips; for there is no answer of God.</div>
</div>

<div class="oneVerse" id="vid_22617" onclick="selectVerse(22617)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">But truly I am full of power by the spirit of the LORD, and of judgment, and of might, to declare unto Jacob his transgression, and to Israel his sin.</div>
</div>

<div class="oneVerse" id="vid_22618" onclick="selectVerse(22618)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Hear this, I pray you, ye heads of the house of Jacob, and princes of the house of Israel, that abhor judgment, and pervert all equity.</div>
</div>

<div class="oneVerse" id="vid_22619" onclick="selectVerse(22619)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">They build up Zion with blood, and Jerusalem with iniquity.</div>
</div>

<div class="oneVerse" id="vid_22620" onclick="selectVerse(22620)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">The heads thereof judge for reward, and the priests thereof teach for hire, and the prophets thereof divine for money: yet will they lean upon the LORD, and say, Is not the LORD among us? none evil can come upon us.</div>
</div>

<div class="oneVerse" id="vid_22621" onclick="selectVerse(22621)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Therefore shall Zion for your sake be plowed as a field, and Jerusalem shall become heaps, and the mountain of the house as the high places of the forest.</div>
</div>

<div class="oneVerse" id="vid_22622" onclick="selectVerse(22622)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">But in the last days it shall come to pass, that the mountain of the house of the LORD shall be established in the top of the mountains, and it shall be exalted above the hills; and people shall flow unto it.</div>
</div>

<div class="oneVerse" id="vid_22623" onclick="selectVerse(22623)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And many nations shall come, and say, Come, and let us go up to the mountain of the LORD, and to the house of the God of Jacob; and he will teach us of his ways, and we will walk in his paths: for the law shall go forth of Zion, and the word of the LORD from Jerusalem.</div>
</div>

<div class="oneVerse" id="vid_22624" onclick="selectVerse(22624)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And he shall judge among many people, and rebuke strong nations afar off; and they shall beat their swords into plowshares, and their spears into pruninghooks: nation shall not lift up a sword against nation, neither shall they learn war any more.</div>
</div>

<div class="oneVerse" id="vid_22625" onclick="selectVerse(22625)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">But they shall sit every man under his vine and under his fig tree; and none shall make them afraid: for the mouth of the LORD of hosts hath spoken it.</div>
</div>

<div class="oneVerse" id="vid_22626" onclick="selectVerse(22626)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">For all people will walk every one in the name of his god, and we will walk in the name of the LORD our God for ever and ever.</div>
</div>

<div class="oneVerse" id="vid_22627" onclick="selectVerse(22627)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">In that day, saith the LORD, will I assemble her that halteth, and I will gather her that is driven out, and her that I have afflicted;</div>
</div>

<div class="oneVerse" id="vid_22628" onclick="selectVerse(22628)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And I will make her that halted a remnant, and her that was cast far off a strong nation: and the LORD shall reign over them in mount Zion from henceforth, even for ever.</div>
</div>

<div class="oneVerse" id="vid_22629" onclick="selectVerse(22629)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And thou, O tower of the flock, the strong hold of the daughter of Zion, unto thee shall it come, even the first dominion; the kingdom shall come to the daughter of Jerusalem.</div>
</div>

<div class="oneVerse" id="vid_22630" onclick="selectVerse(22630)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Now why dost thou cry out aloud? is there no king in thee? is thy counsellor perished? for pangs have taken thee as a woman in travail.</div>
</div>

<div class="oneVerse" id="vid_22631" onclick="selectVerse(22631)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Be in pain, and labour to bring forth, O daughter of Zion, like a woman in travail: for now shalt thou go forth out of the city, and thou shalt dwell in the field, and thou shalt go even to Babylon; there shalt thou be delivered; there the LORD shall redeem thee from the hand of thine enemies.</div>
</div>

<div class="oneVerse" id="vid_22632" onclick="selectVerse(22632)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Now also many nations are gathered against thee, that say, Let her be defiled, and let our eye look upon Zion.</div>
</div>

<div class="oneVerse" id="vid_22633" onclick="selectVerse(22633)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">But they know not the thoughts of the LORD, neither understand they his counsel: for he shall gather them as the sheaves into the floor.</div>
</div>

<div class="oneVerse" id="vid_22634" onclick="selectVerse(22634)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Arise and thresh, O daughter of Zion: for I will make thine horn iron, and I will make thy hoofs brass: and thou shalt beat in pieces many people: and I will consecrate their gain unto the LORD, and their substance unto the Lord of the whole earth.</div>
</div>

<div class="oneVerse" id="vid_22635" onclick="selectVerse(22635)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Now gather thyself in troops, O daughter of troops: he hath laid siege against us: they shall smite the judge of Israel with a rod upon the cheek.</div>
</div>

<div class="oneVerse" id="vid_22636" onclick="selectVerse(22636)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">But thou, Bethlehem Ephratah, though thou be little among the thousands of Judah, yet out of thee shall he come forth unto me that is to be ruler in Israel; whose goings forth have been from of old, from everlasting.</div>
</div>

<div class="oneVerse" id="vid_22637" onclick="selectVerse(22637)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Therefore will he give them up, until the time that she which travaileth hath brought forth: then the remnant of his brethren shall return unto the children of Israel.</div>
</div>

<div class="oneVerse" id="vid_22638" onclick="selectVerse(22638)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And he shall stand and feed in the strength of the LORD, in the majesty of the name of the LORD his God; and they shall abide: for now shall he be great unto the ends of the earth.</div>
</div>

<div class="oneVerse" id="vid_22639" onclick="selectVerse(22639)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And this man shall be the peace, when the Assyrian shall come into our land: and when he shall tread in our palaces, then shall we raise against him seven shepherds, and eight principal men.</div>
</div>

<div class="oneVerse" id="vid_22640" onclick="selectVerse(22640)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And they shall waste the land of Assyria with the sword, and the land of Nimrod in the entrances thereof: thus shall he deliver us from the Assyrian, when he cometh into our land, and when he treadeth within our borders.</div>
</div>

<div class="oneVerse" id="vid_22641" onclick="selectVerse(22641)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And the remnant of Jacob shall be in the midst of many people as a dew from the LORD, as the showers upon the grass, that tarrieth not for man, nor waiteth for the sons of men.</div>
</div>

<div class="oneVerse" id="vid_22642" onclick="selectVerse(22642)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And the remnant of Jacob shall be among the Gentiles in the midst of many people as a lion among the beasts of the forest, as a young lion among the flocks of sheep: who, if he go through, both treadeth down, and teareth in pieces, and none can deliver.</div>
</div>

<div class="oneVerse" id="vid_22643" onclick="selectVerse(22643)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Thine hand shall be lifted up upon thine adversaries, and all thine enemies shall be cut off.</div>
</div>

<div class="oneVerse" id="vid_22644" onclick="selectVerse(22644)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And it shall come to pass in that day, saith the LORD, that I will cut off thy horses out of the midst of thee, and I will destroy thy chariots:</div>
</div>

<div class="oneVerse" id="vid_22645" onclick="selectVerse(22645)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And I will cut off the cities of thy land, and throw down all thy strong holds:</div>
</div>

<div class="oneVerse" id="vid_22646" onclick="selectVerse(22646)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">And I will cut off witchcrafts out of thine hand; and thou shalt have no more soothsayers:</div>
</div>

<div class="oneVerse" id="vid_22647" onclick="selectVerse(22647)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Thy graven images also will I cut off, and thy standing images out of the midst of thee; and thou shalt no more worship the work of thine hands.</div>
</div>

<div class="oneVerse" id="vid_22648" onclick="selectVerse(22648)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And I will pluck up thy groves out of the midst of thee: so will I destroy thy cities.</div>
</div>

<div class="oneVerse" id="vid_22649" onclick="selectVerse(22649)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And I will execute vengeance in anger and fury upon the heathen, such as they have not heard.</div>
</div>

<div class="oneVerse" id="vid_22650" onclick="selectVerse(22650)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Hear ye now what the LORD saith; Arise, contend thou before the mountains, and let the hills hear thy voice.</div>
</div>

<div class="oneVerse" id="vid_22651" onclick="selectVerse(22651)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Hear ye, O mountains, the LORD's controversy, and ye strong foundations of the earth: for the LORD hath a controversy with his people, and he will plead with Israel.</div>
</div>

<div class="oneVerse" id="vid_22652" onclick="selectVerse(22652)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">O my people, what have I done unto thee? and wherein have I wearied thee? testify against me.</div>
</div>

<div class="oneVerse" id="vid_22653" onclick="selectVerse(22653)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">For I brought thee up out of the land of Egypt, and redeemed thee out of the house of servants; and I sent before thee Moses, Aaron, and Miriam.</div>
</div>

<div class="oneVerse" id="vid_22654" onclick="selectVerse(22654)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">O my people, remember now what Balak king of Moab consulted, and what Balaam the son of Beor answered him from Shittim unto Gilgal; that ye may know the righteousness of the LORD.</div>
</div>

<div class="oneVerse" id="vid_22655" onclick="selectVerse(22655)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Wherewith shall I come before the LORD, and bow myself before the high God? shall I come before him with burnt offerings, with calves of a year old?</div>
</div>

<div class="oneVerse" id="vid_22656" onclick="selectVerse(22656)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Will the LORD be pleased with thousands of rams, or with ten thousands of rivers of oil? shall I give my firstborn for my transgression, the fruit of my body for the sin of my soul?</div>
</div>

<div class="oneVerse" id="vid_22657" onclick="selectVerse(22657)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">He hath shewed thee, O man, what is good; and what doth the LORD require of thee, but to do justly, and to love mercy, and to walk humbly with thy God?</div>
</div>

<div class="oneVerse" id="vid_22658" onclick="selectVerse(22658)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">The LORD's voice crieth unto the city, and the man of wisdom shall see thy name: hear ye the rod, and who hath appointed it.</div>
</div>

<div class="oneVerse" id="vid_22659" onclick="selectVerse(22659)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Are there yet the treasures of wickedness in the house of the wicked, and the scant measure that is abominable?</div>
</div>

<div class="oneVerse" id="vid_22660" onclick="selectVerse(22660)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Shall I count them pure with the wicked balances, and with the bag of deceitful weights?</div>
</div>

<div class="oneVerse" id="vid_22661" onclick="selectVerse(22661)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">For the rich men thereof are full of violence, and the inhabitants thereof have spoken lies, and their tongue is deceitful in their mouth.</div>
</div>

<div class="oneVerse" id="vid_22662" onclick="selectVerse(22662)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Therefore also will I make thee sick in smiting thee, in making thee desolate because of thy sins.</div>
</div>

<div class="oneVerse" id="vid_22663" onclick="selectVerse(22663)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Thou shalt eat, but not be satisfied; and thy casting down shall be in the midst of thee; and thou shalt take hold, but shalt not deliver; and that which thou deliverest will I give up to the sword.</div>
</div>

<div class="oneVerse" id="vid_22664" onclick="selectVerse(22664)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Thou shalt sow, but thou shalt not reap; thou shalt tread the olives, but thou shalt not anoint thee with oil; and sweet wine, but shalt not drink wine.</div>
</div>

<div class="oneVerse" id="vid_22665" onclick="selectVerse(22665)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">For the statutes of Omri are kept, and all the works of the house of Ahab, and ye walk in their counsels; that I should make thee a desolation, and the inhabitants thereof an hissing: therefore ye shall bear the reproach of my people.</div>
</div>

<div class="oneVerse" id="vid_22666" onclick="selectVerse(22666)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Woe is me! for I am as when they have gathered the summer fruits, as the grapegleanings of the vintage: there is no cluster to eat: my soul desired the firstripe fruit.</div>
</div>

<div class="oneVerse" id="vid_22667" onclick="selectVerse(22667)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">The good man is perished out of the earth: and there is none upright among men: they all lie in wait for blood; they hunt every man his brother with a net.</div>
</div>

<div class="oneVerse" id="vid_22668" onclick="selectVerse(22668)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">That they may do evil with both hands earnestly, the prince asketh, and the judge asketh for a reward; and the great man, he uttereth his mischievous desire: so they wrap it up.</div>
</div>

<div class="oneVerse" id="vid_22669" onclick="selectVerse(22669)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">The best of them is as a brier: the most upright is sharper than a thorn hedge: the day of thy watchmen and thy visitation cometh; now shall be their perplexity.</div>
</div>

<div class="oneVerse" id="vid_22670" onclick="selectVerse(22670)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Trust ye not in a friend, put ye not confidence in a guide: keep the doors of thy mouth from her that lieth in thy bosom.</div>
</div>

<div class="oneVerse" id="vid_22671" onclick="selectVerse(22671)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">For the son dishonoureth the father, the daughter riseth up against her mother, the daughter in law against her mother in law; a man's enemies are the men of his own house.</div>
</div>

<div class="oneVerse" id="vid_22672" onclick="selectVerse(22672)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Therefore I will look unto the LORD; I will wait for the God of my salvation: my God will hear me.</div>
</div>

<div class="oneVerse" id="vid_22673" onclick="selectVerse(22673)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Rejoice not against me, O mine enemy: when I fall, I shall arise; when I sit in darkness, the LORD shall be a light unto me.</div>
</div>

<div class="oneVerse" id="vid_22674" onclick="selectVerse(22674)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">I will bear the indignation of the LORD, because I have sinned against him, until he plead my cause, and execute judgment for me: he will bring me forth to the light, and I shall behold his righteousness.</div>
</div>

<div class="oneVerse" id="vid_22675" onclick="selectVerse(22675)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Then she that is mine enemy shall see it, and shame shall cover her which said unto me, Where is the LORD thy God? mine eyes shall behold her: now shall she be trodden down as the mire of the streets.</div>
</div>

<div class="oneVerse" id="vid_22676" onclick="selectVerse(22676)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">In the day that thy walls are to be built, in that day shall the decree be far removed.</div>
</div>

<div class="oneVerse" id="vid_22677" onclick="selectVerse(22677)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">In that day also he shall come even to thee from Assyria, and from the fortified cities, and from the fortress even to the river, and from sea to sea, and from mountain to mountain.</div>
</div>

<div class="oneVerse" id="vid_22678" onclick="selectVerse(22678)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Notwithstanding the land shall be desolate because of them that dwell therein, for the fruit of their doings.</div>
</div>

<div class="oneVerse" id="vid_22679" onclick="selectVerse(22679)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Feed thy people with thy rod, the flock of thine heritage, which dwell solitarily in the wood, in the midst of Carmel: let them feed in Bashan and Gilead, as in the days of old.</div>
</div>

<div class="oneVerse" id="vid_22680" onclick="selectVerse(22680)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">According to the days of thy coming out of the land of Egypt will I shew unto him marvellous things.</div>
</div>

<div class="oneVerse" id="vid_22681" onclick="selectVerse(22681)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">The nations shall see and be confounded at all their might: they shall lay their hand upon their mouth, their ears shall be deaf.</div>
</div>

<div class="oneVerse" id="vid_22682" onclick="selectVerse(22682)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">They shall lick the dust like a serpent, they shall move out of their holes like worms of the earth: they shall be afraid of the LORD our God, and shall fear because of thee.</div>
</div>

<div class="oneVerse" id="vid_22683" onclick="selectVerse(22683)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Who is a God like unto thee, that pardoneth iniquity, and passeth by the transgression of the remnant of his heritage? he retaineth not his anger for ever, because he delighteth in mercy.</div>
</div>

<div class="oneVerse" id="vid_22684" onclick="selectVerse(22684)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">He will turn again, he will have compassion upon us; he will subdue our iniquities; and thou wilt cast all their sins into the depths of the sea.</div>
</div>

<div class="oneVerse" id="vid_22685" onclick="selectVerse(22685)">
    <div class="bibleBook">Mic</div>
    <div class="bibleChapter">7</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Thou wilt perform the truth to Jacob, and the mercy to Abraham, which thou hast sworn unto our fathers from the days of old.</div>
</div>