<div class="oneVerse" id="vid_22512" onclick="selectVerse(22512)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">The vision of Obadiah. Thus saith the Lord GOD concerning Edom; We have heard a rumour from the LORD, and an ambassador is sent among the heathen, Arise ye, and let us rise up against her in battle.</div>
</div>

<div class="oneVerse" id="vid_22513" onclick="selectVerse(22513)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Behold, I have made thee small among the heathen: thou art greatly despised.</div>
</div>

<div class="oneVerse" id="vid_22514" onclick="selectVerse(22514)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">The pride of thine heart hath deceived thee, thou that dwellest in the clefts of the rock, whose habitation is high; that saith in his heart, Who shall bring me down to the ground?</div>
</div>

<div class="oneVerse" id="vid_22515" onclick="selectVerse(22515)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Though thou exalt thyself as the eagle, and though thou set thy nest among the stars, thence will I bring thee down, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22516" onclick="selectVerse(22516)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">If thieves came to thee, if robbers by night, (how art thou cut off!)  would they not have stolen till they had enough? if the grapegatherers came to thee, would they not leave some grapes?</div>
</div>

<div class="oneVerse" id="vid_22517" onclick="selectVerse(22517)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">How are the things of Esau searched out! how are his hidden things sought up!</div>
</div>

<div class="oneVerse" id="vid_22518" onclick="selectVerse(22518)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">All the men of thy confederacy have brought thee even to the border: the men that were at peace with thee have deceived thee, and prevailed against thee; that they eat thy bread have laid a wound under thee: there is none understanding in him.</div>
</div>

<div class="oneVerse" id="vid_22519" onclick="selectVerse(22519)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Shall I not in that day, saith the LORD, even destroy the wise men out of Edom, and understanding out of the mount of Esau?</div>
</div>

<div class="oneVerse" id="vid_22520" onclick="selectVerse(22520)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And thy mighty men, O Teman, shall be dismayed, to the end that every one of the mount of Esau may be cut off by slaughter.</div>
</div>

<div class="oneVerse" id="vid_22521" onclick="selectVerse(22521)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">For thy violence against thy brother Jacob shame shall cover thee, and thou shalt be cut off for ever.</div>
</div>

<div class="oneVerse" id="vid_22522" onclick="selectVerse(22522)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">In the day that thou stoodest on the other side, in the day that the strangers carried away captive his forces, and foreigners entered into his gates, and cast lots upon Jerusalem, even thou wast as one of them.</div>
</div>

<div class="oneVerse" id="vid_22523" onclick="selectVerse(22523)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">But thou shouldest not have looked on the day of thy brother in the day that he became a stranger; neither shouldest thou have rejoiced over the children of Judah in the day of their destruction; neither shouldest thou have spoken proudly in the day of distress.</div>
</div>

<div class="oneVerse" id="vid_22524" onclick="selectVerse(22524)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Thou shouldest not have entered into the gate of my people in the day of their calamity; yea, thou shouldest not have looked on their affliction in the day of their calamity, nor have laid hands on their substance in the day of their calamity;</div>
</div>

<div class="oneVerse" id="vid_22525" onclick="selectVerse(22525)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Neither shouldest thou have stood in the crossway, to cut off those of his that did escape; neither shouldest thou have delivered up those of his that did remain in the day of distress.</div>
</div>

<div class="oneVerse" id="vid_22526" onclick="selectVerse(22526)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">For the day of the LORD is near upon all the heathen: as thou hast done, it shall be done unto thee: thy reward shall return upon thine own head.</div>
</div>

<div class="oneVerse" id="vid_22527" onclick="selectVerse(22527)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">For as ye have drunk upon my holy mountain, so shall all the heathen drink continually, yea, they shall drink, and they shall swallow down, and they shall be as though they had not been.</div>
</div>

<div class="oneVerse" id="vid_22528" onclick="selectVerse(22528)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">But upon mount Zion shall be deliverance, and there shall be holiness; and the house of Jacob shall possess their possessions.</div>
</div>

<div class="oneVerse" id="vid_22529" onclick="selectVerse(22529)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">And the house of Jacob shall be a fire, and the house of Joseph a flame, and the house of Esau for stubble, and they shall kindle in them, and devour them; and there shall not be any remaining of the house of Esau; for the LORD hath spoken it.</div>
</div>

<div class="oneVerse" id="vid_22530" onclick="selectVerse(22530)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">And they of the south shall possess the mount of Esau; and they of the plain the Philistines: and they shall possess the fields of Ephraim, and the fields of Samaria: and Benjamin shall possess Gilead.</div>
</div>

<div class="oneVerse" id="vid_22531" onclick="selectVerse(22531)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">And the captivity of this host of the children of Israel shall possess that of the Canaanites, even unto Zarephath; and the captivity of Jerusalem, which is in Sepharad, shall possess the cities of the south.</div>
</div>

<div class="oneVerse" id="vid_22532" onclick="selectVerse(22532)">
    <div class="bibleBook">Oba</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">And saviours shall come up on mount Zion to judge the mount of Esau; and the kingdom shall be the LORD's.</div>
</div>