<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="{{=URL('static', 'css/bible.css')}}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" ></script>
<script src="{{=URL('static', 'js/bible.js')}}" type="text/javascript" ></script>

<div class="oneVerse" id="vid_30376" onclick="selectVerse(30376)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Peter, an apostle of Jesus Christ, to the strangers scattered throughout Pontus, Galatia, Cappadocia, Asia, and Bithynia,</div>
</div>

<div class="oneVerse" id="vid_30377" onclick="selectVerse(30377)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Elect according to the foreknowledge of God the Father, through sanctification of the Spirit, unto obedience and sprinkling of the blood of Jesus Christ: Grace unto you, and peace, be multiplied.</div>
</div>

<div class="oneVerse" id="vid_30378" onclick="selectVerse(30378)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Blessed be the God and Father of our Lord Jesus Christ, which according to his abundant mercy hath begotten us again unto a lively hope by the resurrection of Jesus Christ from the dead,</div>
</div>

<div class="oneVerse" id="vid_30379" onclick="selectVerse(30379)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">To an inheritance incorruptible, and undefiled, and that fadeth not away, reserved in heaven for you,</div>
</div>

<div class="oneVerse" id="vid_30380" onclick="selectVerse(30380)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Who are kept by the power of God through faith unto salvation ready to be revealed in the last time.</div>
</div>

<div class="oneVerse" id="vid_30381" onclick="selectVerse(30381)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Wherein ye greatly rejoice, though now for a season, if need be, ye are in heaviness through manifold temptations:</div>
</div>

<div class="oneVerse" id="vid_30382" onclick="selectVerse(30382)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">That the trial of your faith, being much more precious than of gold that perisheth, though it be tried with fire, might be found unto praise and honour and glory at the appearing of Jesus Christ:</div>
</div>

<div class="oneVerse" id="vid_30383" onclick="selectVerse(30383)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Whom having not seen, ye love; in whom, though now ye see him not, yet believing, ye rejoice with joy unspeakable and full of glory:</div>
</div>

<div class="oneVerse" id="vid_30384" onclick="selectVerse(30384)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Receiving the end of your faith, even the salvation of your souls.</div>
</div>

<div class="oneVerse" id="vid_30385" onclick="selectVerse(30385)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Of which salvation the prophets have enquired and searched diligently, who prophesied of the grace that should come unto you:</div>
</div>

<div class="oneVerse" id="vid_30386" onclick="selectVerse(30386)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Searching what, or what manner of time the Spirit of Christ which was in them did signify, when it testified beforehand the sufferings of Christ, and the glory that should follow.</div>
</div>

<div class="oneVerse" id="vid_30387" onclick="selectVerse(30387)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Unto whom it was revealed, that not unto themselves, but unto us they did minister the things, which are now reported unto you by them that have preached the gospel unto you with the Holy Ghost sent down from heaven; which things the angels desire to look into.</div>
</div>

<div class="oneVerse" id="vid_30388" onclick="selectVerse(30388)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Wherefore gird up the loins of your mind, be sober, and hope to the end for the grace that is to be brought unto you at the revelation of Jesus Christ;</div>
</div>

<div class="oneVerse" id="vid_30389" onclick="selectVerse(30389)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">As obedient children, not fashioning yourselves according to the former lusts in your ignorance:</div>
</div>

<div class="oneVerse" id="vid_30390" onclick="selectVerse(30390)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">But as he which hath called you is holy, so be ye holy in all manner of conversation;</div>
</div>

<div class="oneVerse" id="vid_30391" onclick="selectVerse(30391)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Because it is written, Be ye holy; for I am holy.</div>
</div>

<div class="oneVerse" id="vid_30392" onclick="selectVerse(30392)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">And if ye call on the Father, who without respect of persons judgeth according to every man's work, pass the time of your sojourning here in fear:</div>
</div>

<div class="oneVerse" id="vid_30393" onclick="selectVerse(30393)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Forasmuch as ye know that ye were not redeemed with corruptible things, as silver and gold, from your vain conversation received by tradition from your fathers;</div>
</div>

<div class="oneVerse" id="vid_30394" onclick="selectVerse(30394)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">But with the precious blood of Christ, as of a lamb without blemish and without spot:</div>
</div>

<div class="oneVerse" id="vid_30395" onclick="selectVerse(30395)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Who verily was foreordained before the foundation of the world, but was manifest in these last times for you,</div>
</div>

<div class="oneVerse" id="vid_30396" onclick="selectVerse(30396)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Who by him do believe in God, that raised him up from the dead, and gave him glory; that your faith and hope might be in God.</div>
</div>

<div class="oneVerse" id="vid_30397" onclick="selectVerse(30397)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">Seeing ye have purified your souls in obeying the truth through the Spirit unto unfeigned love of the brethren, see that ye love one another with a pure heart fervently:</div>
</div>

<div class="oneVerse" id="vid_30398" onclick="selectVerse(30398)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">Being born again, not of corruptible seed, but of incorruptible, by the word of God, which liveth and abideth for ever.</div>
</div>

<div class="oneVerse" id="vid_30399" onclick="selectVerse(30399)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">For all flesh is as grass, and all the glory of man as the flower of grass. The grass withereth, and the flower thereof falleth away:</div>
</div>

<div class="oneVerse" id="vid_30400" onclick="selectVerse(30400)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">But the word of the Lord endureth for ever. And this is the word which by the gospel is preached unto you.</div>
</div>

<div class="oneVerse" id="vid_30401" onclick="selectVerse(30401)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Wherefore laying aside all malice, and all guile, and hypocrisies, and envies, all evil speakings,</div>
</div>

<div class="oneVerse" id="vid_30402" onclick="selectVerse(30402)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">As newborn babes, desire the sincere milk of the word, that ye may grow thereby:</div>
</div>

<div class="oneVerse" id="vid_30403" onclick="selectVerse(30403)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">If so be ye have tasted that the Lord is gracious.</div>
</div>

<div class="oneVerse" id="vid_30404" onclick="selectVerse(30404)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">To whom coming, as unto a living stone, disallowed indeed of men, but chosen of God, and precious,</div>
</div>

<div class="oneVerse" id="vid_30405" onclick="selectVerse(30405)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Ye also, as lively stones, are built up a spiritual house, an holy priesthood, to offer up spiritual sacrifices, acceptable to God by Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_30406" onclick="selectVerse(30406)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Wherefore also it is contained in the scripture, Behold, I lay in Sion a chief corner stone, elect, precious: and he that believeth on him shall not be confounded.</div>
</div>

<div class="oneVerse" id="vid_30407" onclick="selectVerse(30407)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Unto you therefore which believe he is precious: but unto them which be disobedient, the stone which the builders disallowed, the same is made the head of the corner,</div>
</div>

<div class="oneVerse" id="vid_30408" onclick="selectVerse(30408)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And a stone of stumbling, and a rock of offence, even to them which stumble at the word, being disobedient: whereunto also they were appointed.</div>
</div>

<div class="oneVerse" id="vid_30409" onclick="selectVerse(30409)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">But ye are a chosen generation, a royal priesthood, an holy nation, a peculiar people; that ye should shew forth the praises of him who hath called you out of darkness into his marvellous light;</div>
</div>

<div class="oneVerse" id="vid_30410" onclick="selectVerse(30410)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Which in time past were not a people, but are now the people of God: which had not obtained mercy, but now have obtained mercy.</div>
</div>

<div class="oneVerse" id="vid_30411" onclick="selectVerse(30411)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Dearly beloved, I beseech you as strangers and pilgrims, abstain from fleshly lusts, which war against the soul;</div>
</div>

<div class="oneVerse" id="vid_30412" onclick="selectVerse(30412)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Having your conversation honest among the Gentiles: that, whereas they speak against you as evildoers, they may by your good works, which they shall behold, glorify God in the day of visitation.</div>
</div>

<div class="oneVerse" id="vid_30413" onclick="selectVerse(30413)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Submit yourselves to every ordinance of man for the Lord's sake: whether it be to the king, as supreme;</div>
</div>

<div class="oneVerse" id="vid_30414" onclick="selectVerse(30414)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Or unto governors, as unto them that are sent by him for the punishment of evildoers, and for the praise of them that do well.</div>
</div>

<div class="oneVerse" id="vid_30415" onclick="selectVerse(30415)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">For so is the will of God, that with well doing ye may put to silence the ignorance of foolish men:</div>
</div>

<div class="oneVerse" id="vid_30416" onclick="selectVerse(30416)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">As free, and not using your liberty for a cloke of maliciousness, but as the servants of God.</div>
</div>

<div class="oneVerse" id="vid_30417" onclick="selectVerse(30417)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Honour all men. Love the brotherhood. Fear God. Honour the king.</div>
</div>

<div class="oneVerse" id="vid_30418" onclick="selectVerse(30418)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Servants, be subject to your masters with all fear; not only to the good and gentle, but also to the froward.</div>
</div>

<div class="oneVerse" id="vid_30419" onclick="selectVerse(30419)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">For this is thankworthy, if a man for conscience toward God endure grief, suffering wrongfully.</div>
</div>

<div class="oneVerse" id="vid_30420" onclick="selectVerse(30420)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">For what glory is it, if, when ye be buffeted for your faults, ye shall take it patiently? but if, when ye do well, and suffer for it, ye take it patiently, this is acceptable with God.</div>
</div>

<div class="oneVerse" id="vid_30421" onclick="selectVerse(30421)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">For even hereunto were ye called: because Christ also suffered for us, leaving us an example, that ye should follow his steps:</div>
</div>

<div class="oneVerse" id="vid_30422" onclick="selectVerse(30422)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">Who did no sin, neither was guile found in his mouth:</div>
</div>

<div class="oneVerse" id="vid_30423" onclick="selectVerse(30423)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">Who, when he was reviled, reviled not again; when he suffered, he threatened not; but committed himself to him that judgeth righteously:</div>
</div>

<div class="oneVerse" id="vid_30424" onclick="selectVerse(30424)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">Who his own self bare our sins in his own body on the tree, that we, being dead to sins, should live unto righteousness: by whose stripes ye were healed.</div>
</div>

<div class="oneVerse" id="vid_30425" onclick="selectVerse(30425)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">For ye were as sheep going astray; but are now returned unto the Shepherd and Bishop of your souls.</div>
</div>

<div class="oneVerse" id="vid_30426" onclick="selectVerse(30426)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Likewise, ye wives, be in subjection to your own husbands; that, if any obey not the word, they also may without the word be won by the conversation of the wives;</div>
</div>

<div class="oneVerse" id="vid_30427" onclick="selectVerse(30427)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">While they behold your chaste conversation coupled with fear.</div>
</div>

<div class="oneVerse" id="vid_30428" onclick="selectVerse(30428)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Whose adorning let it not be that outward adorning of plaiting the hair, and of wearing of gold, or of putting on of apparel;</div>
</div>

<div class="oneVerse" id="vid_30429" onclick="selectVerse(30429)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">But let it be the hidden man of the heart, in that which is not corruptible, even the ornament of a meek and quiet spirit, which is in the sight of God of great price.</div>
</div>

<div class="oneVerse" id="vid_30430" onclick="selectVerse(30430)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">For after this manner in the old time the holy women also, who trusted in God, adorned themselves, being in subjection unto their own husbands:</div>
</div>

<div class="oneVerse" id="vid_30431" onclick="selectVerse(30431)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Even as Sara obeyed Abraham, calling him lord: whose daughters ye are, as long as ye do well, and are not afraid with any amazement.</div>
</div>

<div class="oneVerse" id="vid_30432" onclick="selectVerse(30432)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Likewise, ye husbands, dwell with them according to knowledge, giving honour unto the wife, as unto the weaker vessel, and as being heirs together of the grace of life; that your prayers be not hindered.</div>
</div>

<div class="oneVerse" id="vid_30433" onclick="selectVerse(30433)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Finally, be ye all of one mind, having compassion one of another, love as brethren, be pitiful, be courteous:</div>
</div>

<div class="oneVerse" id="vid_30434" onclick="selectVerse(30434)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Not rendering evil for evil, or railing for railing: but contrariwise blessing; knowing that ye are thereunto called, that ye should inherit a blessing.</div>
</div>

<div class="oneVerse" id="vid_30435" onclick="selectVerse(30435)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">For he that will love life, and see good days, let him refrain his tongue from evil, and his lips that they speak no guile:</div>
</div>

<div class="oneVerse" id="vid_30436" onclick="selectVerse(30436)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Let him eschew evil, and do good; let him seek peace, and ensue it.</div>
</div>

<div class="oneVerse" id="vid_30437" onclick="selectVerse(30437)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">For the eyes of the Lord are over the righteous, and his ears are open unto their prayers: but the face of the Lord is against them that do evil.</div>
</div>

<div class="oneVerse" id="vid_30438" onclick="selectVerse(30438)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">And who is he that will harm you, if ye be followers of that which is good?</div>
</div>

<div class="oneVerse" id="vid_30439" onclick="selectVerse(30439)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">But and if ye suffer for righteousness' sake, happy are ye: and be not afraid of their terror, neither be troubled;</div>
</div>

<div class="oneVerse" id="vid_30440" onclick="selectVerse(30440)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">But sanctify the Lord God in your hearts: and be ready always to give an answer to every man that asketh you a reason of the hope that is in you with meekness and fear:</div>
</div>

<div class="oneVerse" id="vid_30441" onclick="selectVerse(30441)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Having a good conscience; that, whereas they speak evil of you, as of evildoers, they may be ashamed that falsely accuse your good conversation in Christ.</div>
</div>

<div class="oneVerse" id="vid_30442" onclick="selectVerse(30442)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">For it is better, if the will of God be so, that ye suffer for well doing, than for evil doing.</div>
</div>

<div class="oneVerse" id="vid_30443" onclick="selectVerse(30443)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">For Christ also hath once suffered for sins, the just for the unjust, that he might bring us to God, being put to death in the flesh, but quickened by the Spirit:</div>
</div>

<div class="oneVerse" id="vid_30444" onclick="selectVerse(30444)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">By which also he went and preached unto the spirits in prison;</div>
</div>

<div class="oneVerse" id="vid_30445" onclick="selectVerse(30445)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Which sometime were disobedient, when once the longsuffering of God waited in the days of Noah, while the ark was a preparing, wherein few, that is, eight souls were saved by water.</div>
</div>

<div class="oneVerse" id="vid_30446" onclick="selectVerse(30446)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">The like figure whereunto even baptism doth also now save us (not the putting away of the filth of the flesh, but the answer of a good conscience toward God,) by the resurrection of Jesus Christ:</div>
</div>

<div class="oneVerse" id="vid_30447" onclick="selectVerse(30447)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">Who is gone into heaven, and is on the right hand of God; angels and authorities and powers being made subject unto him.</div>
</div>

<div class="oneVerse" id="vid_30448" onclick="selectVerse(30448)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Forasmuch then as Christ hath suffered for us in the flesh, arm yourselves likewise with the same mind: for he that hath suffered in the flesh hath ceased from sin;</div>
</div>

<div class="oneVerse" id="vid_30449" onclick="selectVerse(30449)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">That he no longer should live the rest of his time in the flesh to the lusts of men, but to the will of God.</div>
</div>

<div class="oneVerse" id="vid_30450" onclick="selectVerse(30450)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For the time past of our life may suffice us to have wrought the will of the Gentiles, when we walked in lasciviousness, lusts, excess of wine, revellings, banquetings, and abominable idolatries:</div>
</div>

<div class="oneVerse" id="vid_30451" onclick="selectVerse(30451)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Wherein they think it strange that ye run not with them to the same excess of riot, speaking evil of you:</div>
</div>

<div class="oneVerse" id="vid_30452" onclick="selectVerse(30452)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Who shall give account to him that is ready to judge the quick and the dead.</div>
</div>

<div class="oneVerse" id="vid_30453" onclick="selectVerse(30453)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">For for this cause was the gospel preached also to them that are dead, that they might be judged according to men in the flesh, but live according to God in the spirit.</div>
</div>

<div class="oneVerse" id="vid_30454" onclick="selectVerse(30454)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">But the end of all things is at hand: be ye therefore sober, and watch unto prayer.</div>
</div>

<div class="oneVerse" id="vid_30455" onclick="selectVerse(30455)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And above all things have fervent charity among yourselves: for charity shall cover the multitude of sins.</div>
</div>

<div class="oneVerse" id="vid_30456" onclick="selectVerse(30456)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Use hospitality one to another without grudging.</div>
</div>

<div class="oneVerse" id="vid_30457" onclick="selectVerse(30457)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">As every man hath received the gift, even so minister the same one to another, as good stewards of the manifold grace of God.</div>
</div>

<div class="oneVerse" id="vid_30458" onclick="selectVerse(30458)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">If any man speak, let him speak as the oracles of God; if any man minister, let him do it as of the ability which God giveth: that God in all things may be glorified through Jesus Christ, to whom be praise and dominion for ever and ever. Amen.</div>
</div>

<div class="oneVerse" id="vid_30459" onclick="selectVerse(30459)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Beloved, think it not strange concerning the fiery trial which is to try you, as though some strange thing happened unto you:</div>
</div>

<div class="oneVerse" id="vid_30460" onclick="selectVerse(30460)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">But rejoice, inasmuch as ye are partakers of Christ's sufferings; that, when his glory shall be revealed, ye may be glad also with exceeding joy.</div>
</div>

<div class="oneVerse" id="vid_30461" onclick="selectVerse(30461)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">If ye be reproached for the name of Christ, happy are ye; for the spirit of glory and of God resteth upon you: on their part he is evil spoken of, but on your part he is glorified.</div>
</div>

<div class="oneVerse" id="vid_30462" onclick="selectVerse(30462)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">But let none of you suffer as a murderer, or as a thief, or as an evildoer, or as a busybody in other men's matters.</div>
</div>

<div class="oneVerse" id="vid_30463" onclick="selectVerse(30463)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Yet if any man suffer as a Christian, let him not be ashamed; but let him glorify God on this behalf.</div>
</div>

<div class="oneVerse" id="vid_30464" onclick="selectVerse(30464)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">For the time is come that judgment must begin at the house of God: and if it first begin at us, what shall the end be of them that obey not the gospel of God?</div>
</div>

<div class="oneVerse" id="vid_30465" onclick="selectVerse(30465)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">And if the righteous scarcely be saved, where shall the ungodly and the sinner appear?</div>
</div>

<div class="oneVerse" id="vid_30466" onclick="selectVerse(30466)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Wherefore let them that suffer according to the will of God commit the keeping of their souls to him in well doing, as unto a faithful Creator.</div>
</div>

<div class="oneVerse" id="vid_30467" onclick="selectVerse(30467)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">The elders which are among you I exhort, who am also an elder, and a witness of the sufferings of Christ, and also a partaker of the glory that shall be revealed:</div>
</div>

<div class="oneVerse" id="vid_30468" onclick="selectVerse(30468)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Feed the flock of God which is among you, taking the oversight thereof, not by constraint, but willingly; not for filthy lucre, but of a ready mind;</div>
</div>

<div class="oneVerse" id="vid_30469" onclick="selectVerse(30469)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Neither as being lords over God's heritage, but being ensamples to the flock.</div>
</div>

<div class="oneVerse" id="vid_30470" onclick="selectVerse(30470)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And when the chief Shepherd shall appear, ye shall receive a crown of glory that fadeth not away.</div>
</div>

<div class="oneVerse" id="vid_30471" onclick="selectVerse(30471)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Likewise, ye younger, submit yourselves unto the elder. Yea, all of you be subject one to another, and be clothed with humility: for God resisteth the proud, and giveth grace to the humble.</div>
</div>

<div class="oneVerse" id="vid_30472" onclick="selectVerse(30472)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Humble yourselves therefore under the mighty hand of God, that he may exalt you in due time:</div>
</div>

<div class="oneVerse" id="vid_30473" onclick="selectVerse(30473)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Casting all your care upon him; for he careth for you.</div>
</div>

<div class="oneVerse" id="vid_30474" onclick="selectVerse(30474)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Be sober, be vigilant; because your adversary the devil, as a roaring lion, walketh about, seeking whom he may devour:</div>
</div>

<div class="oneVerse" id="vid_30475" onclick="selectVerse(30475)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Whom resist stedfast in the faith, knowing that the same afflictions are accomplished in your brethren that are in the world.</div>
</div>

<div class="oneVerse" id="vid_30476" onclick="selectVerse(30476)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">But the God of all grace, who hath called us unto his eternal glory by Christ Jesus, after that ye have suffered a while, make you perfect, stablish, strengthen, settle you.</div>
</div>

<div class="oneVerse" id="vid_30477" onclick="selectVerse(30477)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">To him be glory and dominion for ever and ever. Amen.</div>
</div>

<div class="oneVerse" id="vid_30478" onclick="selectVerse(30478)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">By Silvanus, a faithful brother unto you, as I suppose, I have written briefly, exhorting, and testifying that this is the true grace of God wherein ye stand.</div>
</div>

<div class="oneVerse" id="vid_30479" onclick="selectVerse(30479)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">The church that is at Babylon, elected together with you, saluteth you; and so doth Marcus my son.</div>
</div>

<div class="oneVerse" id="vid_30480" onclick="selectVerse(30480)">
    <div class="bibleBook">Pe1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Greet ye one another with a kiss of charity. Peace be with you all that are in Christ Jesus. Amen.</div>
</div>