<div class="oneVerse" id="vid_30481" onclick="selectVerse(30481)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Simon Peter, a servant and an apostle of Jesus Christ, to them that have obtained like precious faith with us through the righteousness of God and our Saviour Jesus Christ:</div>
</div>

<div class="oneVerse" id="vid_30482" onclick="selectVerse(30482)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Grace and peace be multiplied unto you through the knowledge of God, and of Jesus our Lord,</div>
</div>

<div class="oneVerse" id="vid_30483" onclick="selectVerse(30483)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">According as his divine power hath given unto us all things that pertain unto life and godliness, through the knowledge of him that hath called us to glory and virtue:</div>
</div>

<div class="oneVerse" id="vid_30484" onclick="selectVerse(30484)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Whereby are given unto us exceeding great and precious promises: that by these ye might be partakers of the divine nature, having escaped the corruption that is in the world through lust.</div>
</div>

<div class="oneVerse" id="vid_30485" onclick="selectVerse(30485)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And beside this, giving all diligence, add to your faith virtue; and to virtue knowledge;</div>
</div>

<div class="oneVerse" id="vid_30486" onclick="selectVerse(30486)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And to knowledge temperance; and to temperance patience; and to patience godliness;</div>
</div>

<div class="oneVerse" id="vid_30487" onclick="selectVerse(30487)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And to godliness brotherly kindness; and to brotherly kindness charity.</div>
</div>

<div class="oneVerse" id="vid_30488" onclick="selectVerse(30488)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">For if these things be in you, and abound, they make you that ye shall neither be barren nor unfruitful in the knowledge of our Lord Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_30489" onclick="selectVerse(30489)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">But he that lacketh these things is blind, and cannot see afar off, and hath forgotten that he was purged from his old sins.</div>
</div>

<div class="oneVerse" id="vid_30490" onclick="selectVerse(30490)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Wherefore the rather, brethren, give diligence to make your calling and election sure: for if ye do these things, ye shall never fall:</div>
</div>

<div class="oneVerse" id="vid_30491" onclick="selectVerse(30491)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">For so an entrance shall be ministered unto you abundantly into the everlasting kingdom of our Lord and Saviour Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_30492" onclick="selectVerse(30492)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Wherefore I will not be negligent to put you always in remembrance of these things, though ye know them, and be established in the present truth.</div>
</div>

<div class="oneVerse" id="vid_30493" onclick="selectVerse(30493)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Yea, I think it meet, as long as I am in this tabernacle, to stir you up by putting you in remembrance;</div>
</div>

<div class="oneVerse" id="vid_30494" onclick="selectVerse(30494)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Knowing that shortly I must put off this my tabernacle, even as our Lord Jesus Christ hath shewed me.</div>
</div>

<div class="oneVerse" id="vid_30495" onclick="selectVerse(30495)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Moreover I will endeavour that ye may be able after my decease to have these things always in remembrance.</div>
</div>

<div class="oneVerse" id="vid_30496" onclick="selectVerse(30496)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">For we have not followed cunningly devised fables, when we made known unto you the power and coming of our Lord Jesus Christ, but were eyewitnesses of his majesty.</div>
</div>

<div class="oneVerse" id="vid_30497" onclick="selectVerse(30497)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">For he received from God the Father honour and glory, when there came such a voice to him from the excellent glory, This is my beloved Son, in whom I am well pleased.</div>
</div>

<div class="oneVerse" id="vid_30498" onclick="selectVerse(30498)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">And this voice which came from heaven we heard, when we were with him in the holy mount.</div>
</div>

<div class="oneVerse" id="vid_30499" onclick="selectVerse(30499)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">We have also a more sure word of prophecy; whereunto ye do well that ye take heed, as unto a light that shineth in a dark place, until the day dawn, and the day star arise in your hearts:</div>
</div>

<div class="oneVerse" id="vid_30500" onclick="selectVerse(30500)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Knowing this first, that no prophecy of the scripture is of any private interpretation.</div>
</div>

<div class="oneVerse" id="vid_30501" onclick="selectVerse(30501)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">For the prophecy came not in old time by the will of man: but holy men of God spake as they were moved by the Holy Ghost.</div>
</div>

<div class="oneVerse" id="vid_30502" onclick="selectVerse(30502)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">But there were false prophets also among the people, even as there shall be false teachers among you, who privily shall bring in damnable heresies, even denying the Lord that bought them, and bring upon themselves swift destruction.</div>
</div>

<div class="oneVerse" id="vid_30503" onclick="selectVerse(30503)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And many shall follow their pernicious ways; by reason of whom the way of truth shall be evil spoken of.</div>
</div>

<div class="oneVerse" id="vid_30504" onclick="selectVerse(30504)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And through covetousness shall they with feigned words make merchandise of you: whose judgment now of a long time lingereth not, and their damnation slumbereth not.</div>
</div>

<div class="oneVerse" id="vid_30505" onclick="selectVerse(30505)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">For if God spared not the angels that sinned, but cast them down to hell, and delivered them into chains of darkness, to be reserved unto judgment;</div>
</div>

<div class="oneVerse" id="vid_30506" onclick="selectVerse(30506)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And spared not the old world, but saved Noah the eighth person, a preacher of righteousness, bringing in the flood upon the world of the ungodly;</div>
</div>

<div class="oneVerse" id="vid_30507" onclick="selectVerse(30507)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And turning the cities of Sodom and Gomorrha into ashes condemned them with an overthrow, making them an ensample unto those that after should live ungodly;</div>
</div>

<div class="oneVerse" id="vid_30508" onclick="selectVerse(30508)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And delivered just Lot, vexed with the filthy conversation of the wicked:</div>
</div>

<div class="oneVerse" id="vid_30509" onclick="selectVerse(30509)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">(For that righteous man dwelling among them, in seeing and hearing, vexed his righteous soul from day to day with their unlawful deeds;)</div>
</div>

<div class="oneVerse" id="vid_30510" onclick="selectVerse(30510)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">The Lord knoweth how to deliver the godly out of temptations, and to reserve the unjust unto the day of judgment to be punished:</div>
</div>

<div class="oneVerse" id="vid_30511" onclick="selectVerse(30511)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">But chiefly them that walk after the flesh in the lust of uncleanness, and despise government. Presumptuous are they, selfwilled, they are not afraid to speak evil of dignities.</div>
</div>

<div class="oneVerse" id="vid_30512" onclick="selectVerse(30512)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Whereas angels, which are greater in power and might, bring not railing accusation against them before the Lord.</div>
</div>

<div class="oneVerse" id="vid_30513" onclick="selectVerse(30513)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">But these, as natural brute beasts, made to be taken and destroyed, speak evil of the things that they understand not; and shall utterly perish in their own corruption;</div>
</div>

<div class="oneVerse" id="vid_30514" onclick="selectVerse(30514)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">And shall receive the reward of unrighteousness, as they that count it pleasure to riot in the day time. Spots they are and blemishes, sporting themselves with their own deceivings while they feast with you;</div>
</div>

<div class="oneVerse" id="vid_30515" onclick="selectVerse(30515)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Having eyes full of adultery, and that cannot cease from sin; beguiling unstable souls: an heart they have exercised with covetous practices; cursed children:</div>
</div>

<div class="oneVerse" id="vid_30516" onclick="selectVerse(30516)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Which have forsaken the right way, and are gone astray, following the way of Balaam the son of Bosor, who loved the wages of unrighteousness;</div>
</div>

<div class="oneVerse" id="vid_30517" onclick="selectVerse(30517)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">But was rebuked for his iniquity: the dumb ass speaking with man's voice forbad the madness of the prophet.</div>
</div>

<div class="oneVerse" id="vid_30518" onclick="selectVerse(30518)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">These are wells without water, clouds that are carried with a tempest; to whom the mist of darkness is reserved for ever.</div>
</div>

<div class="oneVerse" id="vid_30519" onclick="selectVerse(30519)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">For when they speak great swelling words of vanity, they allure through the lusts of the flesh, through much wantonness, those that were clean escaped from them who live in error.</div>
</div>

<div class="oneVerse" id="vid_30520" onclick="selectVerse(30520)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">While they promise them liberty, they themselves are the servants of corruption: for of whom a man is overcome, of the same is he brought in bondage.</div>
</div>

<div class="oneVerse" id="vid_30521" onclick="selectVerse(30521)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">For if after they have escaped the pollutions of the world through the knowledge of the Lord and Saviour Jesus Christ, they are again entangled therein, and overcome, the latter end is worse with them than the beginning.</div>
</div>

<div class="oneVerse" id="vid_30522" onclick="selectVerse(30522)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">For it had been better for them not to have known the way of righteousness, than, after they have known it, to turn from the holy commandment delivered unto them.</div>
</div>

<div class="oneVerse" id="vid_30523" onclick="selectVerse(30523)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">But it is happened unto them according to the true proverb, The dog is turned to his own vomit again; and the sow that was washed to her wallowing in the mire.</div>
</div>

<div class="oneVerse" id="vid_30524" onclick="selectVerse(30524)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">This second epistle, beloved, I now write unto you; in both which I stir up your pure minds by way of remembrance:</div>
</div>

<div class="oneVerse" id="vid_30525" onclick="selectVerse(30525)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">That ye may be mindful of the words which were spoken before by the holy prophets, and of the commandment of us the apostles of the Lord and Saviour:</div>
</div>

<div class="oneVerse" id="vid_30526" onclick="selectVerse(30526)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Knowing this first, that there shall come in the last days scoffers, walking after their own lusts,</div>
</div>

<div class="oneVerse" id="vid_30527" onclick="selectVerse(30527)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And saying, Where is the promise of his coming? for since the fathers fell asleep, all things continue as they were from the beginning of the creation.</div>
</div>

<div class="oneVerse" id="vid_30528" onclick="selectVerse(30528)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">For this they willingly are ignorant of, that by the word of God the heavens were of old, and the earth standing out of the water and in the water:</div>
</div>

<div class="oneVerse" id="vid_30529" onclick="selectVerse(30529)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Whereby the world that then was, being overflowed with water, perished:</div>
</div>

<div class="oneVerse" id="vid_30530" onclick="selectVerse(30530)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">But the heavens and the earth, which are now, by the same word are kept in store, reserved unto fire against the day of judgment and perdition of ungodly men.</div>
</div>

<div class="oneVerse" id="vid_30531" onclick="selectVerse(30531)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">But, beloved, be not ignorant of this one thing, that one day is with the Lord as a thousand years, and a thousand years as one day.</div>
</div>

<div class="oneVerse" id="vid_30532" onclick="selectVerse(30532)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">The Lord is not slack concerning his promise, as some men count slackness; but is longsuffering to us-ward, not willing that any should perish, but that all should come to repentance.</div>
</div>

<div class="oneVerse" id="vid_30533" onclick="selectVerse(30533)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">But the day of the Lord will come as a thief in the night; in the which the heavens shall pass away with a great noise, and the elements shall melt with fervent heat, the earth also and the works that are therein shall be burned up.</div>
</div>

<div class="oneVerse" id="vid_30534" onclick="selectVerse(30534)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Seeing then that all these things shall be dissolved, what manner of persons ought ye to be in all holy conversation and godliness,</div>
</div>

<div class="oneVerse" id="vid_30535" onclick="selectVerse(30535)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Looking for and hasting unto the coming of the day of God, wherein the heavens being on fire shall be dissolved, and the elements shall melt with fervent heat?</div>
</div>

<div class="oneVerse" id="vid_30536" onclick="selectVerse(30536)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Nevertheless we, according to his promise, look for new heavens and a new earth, wherein dwelleth righteousness.</div>
</div>

<div class="oneVerse" id="vid_30537" onclick="selectVerse(30537)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Wherefore, beloved, seeing that ye look for such things, be diligent that ye may be found of him in peace, without spot, and blameless.</div>
</div>

<div class="oneVerse" id="vid_30538" onclick="selectVerse(30538)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And account that the longsuffering of our Lord is salvation; even as our beloved brother Paul also according to the wisdom given unto him hath written unto you;</div>
</div>

<div class="oneVerse" id="vid_30539" onclick="selectVerse(30539)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">As also in all his epistles, speaking in them of these things; in which are some things hard to be understood, which they that are unlearned and unstable wrest, as they do also the other scriptures, unto their own destruction.</div>
</div>

<div class="oneVerse" id="vid_30540" onclick="selectVerse(30540)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Ye therefore, beloved, seeing ye know these things before, beware lest ye also, being led away with the error of the wicked, fall from your own stedfastness.</div>
</div>

<div class="oneVerse" id="vid_30541" onclick="selectVerse(30541)">
    <div class="bibleBook">Pe2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">But grow in grace, and in the knowledge of our Lord and Saviour Jesus Christ. To him be glory both now and for ever. Amen.</div>
</div>