<div class="oneVerse" id="vid_29363" onclick="selectVerse(29363)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Paul and Timotheus, the servants of Jesus Christ, to all the saints in Christ Jesus which are at Philippi, with the bishops and deacons:</div>
</div>

<div class="oneVerse" id="vid_29364" onclick="selectVerse(29364)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Grace be unto you, and peace, from God our Father, and from the Lord Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29365" onclick="selectVerse(29365)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">I thank my God upon every remembrance of you,</div>
</div>

<div class="oneVerse" id="vid_29366" onclick="selectVerse(29366)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Always in every prayer of mine for you all making request with joy,</div>
</div>

<div class="oneVerse" id="vid_29367" onclick="selectVerse(29367)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">For your fellowship in the gospel from the first day until now;</div>
</div>

<div class="oneVerse" id="vid_29368" onclick="selectVerse(29368)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Being confident of this very thing, that he which hath begun a good work in you will perform it until the day of Jesus Christ:</div>
</div>

<div class="oneVerse" id="vid_29369" onclick="selectVerse(29369)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Even as it is meet for me to think this of you all, because I have you in my heart; inasmuch as both in my bonds, and in the defence and confirmation of the gospel, ye all are partakers of my grace.</div>
</div>

<div class="oneVerse" id="vid_29370" onclick="selectVerse(29370)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">For God is my record, how greatly I long after you all in the bowels of Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29371" onclick="selectVerse(29371)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And this I pray, that your love may abound yet more and more in knowledge and in all judgment;</div>
</div>

<div class="oneVerse" id="vid_29372" onclick="selectVerse(29372)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">That ye may approve things that are excellent; that ye may be sincere and without offence till the day of Christ.</div>
</div>

<div class="oneVerse" id="vid_29373" onclick="selectVerse(29373)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Being filled with the fruits of righteousness, which are by Jesus Christ, unto the glory and praise of God.</div>
</div>

<div class="oneVerse" id="vid_29374" onclick="selectVerse(29374)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">But I would ye should understand, brethren, that the things which happened unto me have fallen out rather unto the furtherance of the gospel;</div>
</div>

<div class="oneVerse" id="vid_29375" onclick="selectVerse(29375)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">So that my bonds in Christ are manifest in all the palace, and in all other places;</div>
</div>

<div class="oneVerse" id="vid_29376" onclick="selectVerse(29376)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And many of the brethren in the Lord, waxing confident by my bonds, are much more bold to speak the word without fear.</div>
</div>

<div class="oneVerse" id="vid_29377" onclick="selectVerse(29377)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Some indeed preach Christ even of envy and strife; and some also of good will:</div>
</div>

<div class="oneVerse" id="vid_29378" onclick="selectVerse(29378)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">The one preach Christ of contention, not sincerely, supposing to add affliction to my bonds:</div>
</div>

<div class="oneVerse" id="vid_29379" onclick="selectVerse(29379)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">But the other of love, knowing that I am set for the defence of the gospel.</div>
</div>

<div class="oneVerse" id="vid_29380" onclick="selectVerse(29380)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">What then? notwithstanding, every way, whether in pretence, or in truth, Christ is preached; and I therein do rejoice, yea, and will rejoice.</div>
</div>

<div class="oneVerse" id="vid_29381" onclick="selectVerse(29381)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">For I know that this shall turn to my salvation through your prayer, and the supply of the Spirit of Jesus Christ,</div>
</div>

<div class="oneVerse" id="vid_29382" onclick="selectVerse(29382)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">According to my earnest expectation and my hope, that in nothing I shall be ashamed, but that with all boldness, as always, so now also Christ shall be magnified in my body, whether it be by life, or by death.</div>
</div>

<div class="oneVerse" id="vid_29383" onclick="selectVerse(29383)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">For to me to live is Christ, and to die is gain.</div>
</div>

<div class="oneVerse" id="vid_29384" onclick="selectVerse(29384)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">But if I live in the flesh, this is the fruit of my labour: yet what I shall choose I wot not.</div>
</div>

<div class="oneVerse" id="vid_29385" onclick="selectVerse(29385)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">For I am in a strait betwixt two, having a desire to depart, and to be with Christ; which is far better:</div>
</div>

<div class="oneVerse" id="vid_29386" onclick="selectVerse(29386)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">Nevertheless to abide in the flesh is more needful for you.</div>
</div>

<div class="oneVerse" id="vid_29387" onclick="selectVerse(29387)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">And having this confidence, I know that I shall abide and continue with you all for your furtherance and joy of faith;</div>
</div>

<div class="oneVerse" id="vid_29388" onclick="selectVerse(29388)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">26</div>
    <div class="bibleText">That your rejoicing may be more abundant in Jesus Christ for me by my coming to you again.</div>
</div>

<div class="oneVerse" id="vid_29389" onclick="selectVerse(29389)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">27</div>
    <div class="bibleText">Only let your conversation be as it becometh the gospel of Christ: that whether I come and see you, or else be absent, I may hear of your affairs, that ye stand fast in one spirit, with one mind striving together for the faith of the gospel;</div>
</div>

<div class="oneVerse" id="vid_29390" onclick="selectVerse(29390)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">28</div>
    <div class="bibleText">And in nothing terrified by your adversaries: which is to them an evident token of perdition, but to you of salvation, and that of God.</div>
</div>

<div class="oneVerse" id="vid_29391" onclick="selectVerse(29391)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">29</div>
    <div class="bibleText">For unto you it is given in the behalf of Christ, not only to believe on him, but also to suffer for his sake;</div>
</div>

<div class="oneVerse" id="vid_29392" onclick="selectVerse(29392)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">30</div>
    <div class="bibleText">Having the same conflict which ye saw in me, and now hear to be in me.</div>
</div>

<div class="oneVerse" id="vid_29393" onclick="selectVerse(29393)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">If there be therefore any consolation in Christ, if any comfort of love, if any fellowship of the Spirit, if any bowels and mercies,</div>
</div>

<div class="oneVerse" id="vid_29394" onclick="selectVerse(29394)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Fulfil ye my joy, that ye be likeminded, having the same love, being of one accord, of one mind.</div>
</div>

<div class="oneVerse" id="vid_29395" onclick="selectVerse(29395)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Let nothing be done through strife or vainglory; but in lowliness of mind let each esteem other better than themselves.</div>
</div>

<div class="oneVerse" id="vid_29396" onclick="selectVerse(29396)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Look not every man on his own things, but every man also on the things of others.</div>
</div>

<div class="oneVerse" id="vid_29397" onclick="selectVerse(29397)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Let this mind be in you, which was also in Christ Jesus:</div>
</div>

<div class="oneVerse" id="vid_29398" onclick="selectVerse(29398)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Who, being in the form of God, thought it not robbery to be equal with God:</div>
</div>

<div class="oneVerse" id="vid_29399" onclick="selectVerse(29399)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">But made himself of no reputation, and took upon him the form of a servant, and was made in the likeness of men:</div>
</div>

<div class="oneVerse" id="vid_29400" onclick="selectVerse(29400)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And being found in fashion as a man, he humbled himself, and became obedient unto death, even the death of the cross.</div>
</div>

<div class="oneVerse" id="vid_29401" onclick="selectVerse(29401)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Wherefore God also hath highly exalted him, and given him a name which is above every name:</div>
</div>

<div class="oneVerse" id="vid_29402" onclick="selectVerse(29402)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">That at the name of Jesus every knee should bow, of things in heaven, and things in earth, and things under the earth;</div>
</div>

<div class="oneVerse" id="vid_29403" onclick="selectVerse(29403)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And that every tongue should confess that Jesus Christ is Lord, to the glory of God the Father.</div>
</div>

<div class="oneVerse" id="vid_29404" onclick="selectVerse(29404)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Wherefore, my beloved, as ye have always obeyed, not as in my presence only, but now much more in my absence, work out your own salvation with fear and trembling.</div>
</div>

<div class="oneVerse" id="vid_29405" onclick="selectVerse(29405)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">For it is God which worketh in you both to will and to do of his good pleasure.</div>
</div>

<div class="oneVerse" id="vid_29406" onclick="selectVerse(29406)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Do all things without murmurings and disputings:</div>
</div>

<div class="oneVerse" id="vid_29407" onclick="selectVerse(29407)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">That ye may be blameless and harmless, the sons of God, without rebuke, in the midst of a crooked and perverse nation, among whom ye shine as lights in the world;</div>
</div>

<div class="oneVerse" id="vid_29408" onclick="selectVerse(29408)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Holding forth the word of life; that I may rejoice in the day of Christ, that I have not run in vain, neither laboured in vain.</div>
</div>

<div class="oneVerse" id="vid_29409" onclick="selectVerse(29409)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Yea, and if I be offered upon the sacrifice and service of your faith, I joy, and rejoice with you all.</div>
</div>

<div class="oneVerse" id="vid_29410" onclick="selectVerse(29410)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">For the same cause also do ye joy, and rejoice with me.</div>
</div>

<div class="oneVerse" id="vid_29411" onclick="selectVerse(29411)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">But I trust in the Lord Jesus to send Timotheus shortly unto you, that I also may be of good comfort, when I know your state.</div>
</div>

<div class="oneVerse" id="vid_29412" onclick="selectVerse(29412)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">For I have no man likeminded, who will naturally care for your state.</div>
</div>

<div class="oneVerse" id="vid_29413" onclick="selectVerse(29413)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">For all seek their own, not the things which are Jesus Christ's.</div>
</div>

<div class="oneVerse" id="vid_29414" onclick="selectVerse(29414)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">But ye know the proof of him, that, as a son with the father, he hath served with me in the gospel.</div>
</div>

<div class="oneVerse" id="vid_29415" onclick="selectVerse(29415)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">Him therefore I hope to send presently, so soon as I shall see how it will go with me.</div>
</div>

<div class="oneVerse" id="vid_29416" onclick="selectVerse(29416)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">But I trust in the Lord that I also myself shall come shortly.</div>
</div>

<div class="oneVerse" id="vid_29417" onclick="selectVerse(29417)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">Yet I supposed it necessary to send to you Epaphroditus, my brother, and companion in labour, and fellowsoldier, but your messenger, and he that ministered to my wants.</div>
</div>

<div class="oneVerse" id="vid_29418" onclick="selectVerse(29418)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">26</div>
    <div class="bibleText">For he longed after you all, and was full of heaviness, because that ye had heard that he had been sick.</div>
</div>

<div class="oneVerse" id="vid_29419" onclick="selectVerse(29419)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">27</div>
    <div class="bibleText">For indeed he was sick nigh unto death: but God had mercy on him; and not on him only, but on me also, lest I should have sorrow upon sorrow.</div>
</div>

<div class="oneVerse" id="vid_29420" onclick="selectVerse(29420)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">28</div>
    <div class="bibleText">I sent him therefore the more carefully, that, when ye see him again, ye may rejoice, and that I may be the less sorrowful.</div>
</div>

<div class="oneVerse" id="vid_29421" onclick="selectVerse(29421)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">29</div>
    <div class="bibleText">Receive him therefore in the Lord with all gladness; and hold such in reputation:</div>
</div>

<div class="oneVerse" id="vid_29422" onclick="selectVerse(29422)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">30</div>
    <div class="bibleText">Because for the work of Christ he was nigh unto death, not regarding his life, to supply your lack of service toward me.</div>
</div>

<div class="oneVerse" id="vid_29423" onclick="selectVerse(29423)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Finally, my brethren, rejoice in the Lord. To write the same things to you, to me indeed is not grievous, but for you it is safe.</div>
</div>

<div class="oneVerse" id="vid_29424" onclick="selectVerse(29424)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Beware of dogs, beware of evil workers, beware of the concision.</div>
</div>

<div class="oneVerse" id="vid_29425" onclick="selectVerse(29425)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For we are the circumcision, which worship God in the spirit, and rejoice in Christ Jesus, and have no confidence in the flesh.</div>
</div>

<div class="oneVerse" id="vid_29426" onclick="selectVerse(29426)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Though I might also have confidence in the flesh. If any other man thinketh that he hath whereof he might trust in the flesh, I more:</div>
</div>

<div class="oneVerse" id="vid_29427" onclick="selectVerse(29427)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Circumcised the eighth day, of the stock of Israel, of the tribe of Benjamin, an Hebrew of the Hebrews; as touching the law, a Pharisee;</div>
</div>

<div class="oneVerse" id="vid_29428" onclick="selectVerse(29428)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Concerning zeal, persecuting the church; touching the righteousness which is in the law, blameless.</div>
</div>

<div class="oneVerse" id="vid_29429" onclick="selectVerse(29429)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">But what things were gain to me, those I counted loss for Christ.</div>
</div>

<div class="oneVerse" id="vid_29430" onclick="selectVerse(29430)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Yea doubtless, and I count all things but loss for the excellency of the knowledge of Christ Jesus my Lord: for whom I have suffered the loss of all things, and do count them but dung, that I may win Christ,</div>
</div>

<div class="oneVerse" id="vid_29431" onclick="selectVerse(29431)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And be found in him, not having mine own righteousness, which is of the law, but that which is through the faith of Christ, the righteousness which is of God by faith:</div>
</div>

<div class="oneVerse" id="vid_29432" onclick="selectVerse(29432)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">That I may know him, and the power of his resurrection, and the fellowship of his sufferings, being made conformable unto his death;</div>
</div>

<div class="oneVerse" id="vid_29433" onclick="selectVerse(29433)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">If by any means I might attain unto the resurrection of the dead.</div>
</div>

<div class="oneVerse" id="vid_29434" onclick="selectVerse(29434)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Not as though I had already attained, either were already perfect: but I follow after, if that I may apprehend that for which also I am apprehended of Christ Jesus.</div>
</div>

<div class="oneVerse" id="vid_29435" onclick="selectVerse(29435)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Brethren, I count not myself to have apprehended: but this one thing I do, forgetting those things which are behind, and reaching forth unto those things which are before,</div>
</div>

<div class="oneVerse" id="vid_29436" onclick="selectVerse(29436)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">I press toward the mark for the prize of the high calling of God in Christ Jesus.</div>
</div>

<div class="oneVerse" id="vid_29437" onclick="selectVerse(29437)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Let us therefore, as many as be perfect, be thus minded: and if in any thing ye be otherwise minded, God shall reveal even this unto you.</div>
</div>

<div class="oneVerse" id="vid_29438" onclick="selectVerse(29438)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Nevertheless, whereto we have already attained, let us walk by the same rule, let us mind the same thing.</div>
</div>

<div class="oneVerse" id="vid_29439" onclick="selectVerse(29439)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Brethren, be followers together of me, and mark them which walk so as ye have us for an ensample.</div>
</div>

<div class="oneVerse" id="vid_29440" onclick="selectVerse(29440)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">(For many walk, of whom I have told you often, and now tell you even weeping, that they are the enemies of the cross of Christ:</div>
</div>

<div class="oneVerse" id="vid_29441" onclick="selectVerse(29441)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Whose end is destruction, whose God is their belly, and whose glory is in their shame, who mind earthly things.)</div>
</div>

<div class="oneVerse" id="vid_29442" onclick="selectVerse(29442)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">For our conversation is in heaven; from whence also we look for the Saviour, the Lord Jesus Christ:</div>
</div>

<div class="oneVerse" id="vid_29443" onclick="selectVerse(29443)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Who shall change our vile body, that it may be fashioned like unto his glorious body, according to the working whereby he is able even to subdue all things unto himself.</div>
</div>

<div class="oneVerse" id="vid_29444" onclick="selectVerse(29444)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Therefore, my brethren dearly beloved and longed for, my joy and crown, so stand fast in the Lord, my dearly beloved.</div>
</div>

<div class="oneVerse" id="vid_29445" onclick="selectVerse(29445)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">I beseech Euodias, and beseech Syntyche, that they be of the same mind in the Lord.</div>
</div>

<div class="oneVerse" id="vid_29446" onclick="selectVerse(29446)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And I intreat thee also, true yokefellow, help those women which laboured with me in the gospel, with Clement also, and with other my fellowlabourers, whose names are in the book of life.</div>
</div>

<div class="oneVerse" id="vid_29447" onclick="selectVerse(29447)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Rejoice in the Lord alway: and again I say, Rejoice.</div>
</div>

<div class="oneVerse" id="vid_29448" onclick="selectVerse(29448)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Let your moderation be known unto all men. The Lord is at hand.</div>
</div>

<div class="oneVerse" id="vid_29449" onclick="selectVerse(29449)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Be careful for nothing; but in every thing by prayer and supplication with thanksgiving let your requests be made known unto God.</div>
</div>

<div class="oneVerse" id="vid_29450" onclick="selectVerse(29450)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And the peace of God, which passeth all understanding, shall keep your hearts and minds through Christ Jesus.</div>
</div>

<div class="oneVerse" id="vid_29451" onclick="selectVerse(29451)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Finally, brethren, whatsoever things are true, whatsoever things are honest, whatsoever things are just, whatsoever things are pure, whatsoever things are lovely, whatsoever things are of good report; if there be any virtue, and if there be any praise, think on these things.</div>
</div>

<div class="oneVerse" id="vid_29452" onclick="selectVerse(29452)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Those things, which ye have both learned, and received, and heard, and seen in me, do: and the God of peace shall be with you.</div>
</div>

<div class="oneVerse" id="vid_29453" onclick="selectVerse(29453)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">But I rejoiced in the Lord greatly, that now at the last your care of me hath flourished again; wherein ye were also careful, but ye lacked opportunity.</div>
</div>

<div class="oneVerse" id="vid_29454" onclick="selectVerse(29454)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Not that I speak in respect of want: for I have learned, in whatsoever state I am, therewith to be content.</div>
</div>

<div class="oneVerse" id="vid_29455" onclick="selectVerse(29455)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">I know both how to be abased, and I know how to abound: every where and in all things I am instructed both to be full and to be hungry, both to abound and to suffer need.</div>
</div>

<div class="oneVerse" id="vid_29456" onclick="selectVerse(29456)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">I can do all things through Christ which strengtheneth me.</div>
</div>

<div class="oneVerse" id="vid_29457" onclick="selectVerse(29457)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Notwithstanding ye have well done, that ye did communicate with my affliction.</div>
</div>

<div class="oneVerse" id="vid_29458" onclick="selectVerse(29458)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Now ye Philippians know also, that in the beginning of the gospel, when I departed from Macedonia, no church communicated with me as concerning giving and receiving, but ye only.</div>
</div>

<div class="oneVerse" id="vid_29459" onclick="selectVerse(29459)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">For even in Thessalonica ye sent once and again unto my necessity.</div>
</div>

<div class="oneVerse" id="vid_29460" onclick="selectVerse(29460)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Not because I desire a gift: but I desire fruit that may abound to your account.</div>
</div>

<div class="oneVerse" id="vid_29461" onclick="selectVerse(29461)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">But I have all, and abound: I am full, having received of Epaphroditus the things which were sent from you, an odour of a sweet smell, a sacrifice acceptable, wellpleasing to God.</div>
</div>

<div class="oneVerse" id="vid_29462" onclick="selectVerse(29462)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">But my God shall supply all your need according to his riches in glory by Christ Jesus.</div>
</div>

<div class="oneVerse" id="vid_29463" onclick="selectVerse(29463)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Now unto God and our Father be glory for ever and ever. Amen.</div>
</div>

<div class="oneVerse" id="vid_29464" onclick="selectVerse(29464)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Salute every saint in Christ Jesus. The brethren which are with me greet you.</div>
</div>

<div class="oneVerse" id="vid_29465" onclick="selectVerse(29465)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">All the saints salute you, chiefly they that are of Caesar's household.</div>
</div>

<div class="oneVerse" id="vid_29466" onclick="selectVerse(29466)">
    <div class="bibleBook">Phi</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">The grace of our Lord Jesus Christ be with you all. Amen.</div>
</div>