<div class="oneVerse" id="vid_29940" onclick="selectVerse(29940)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Paul, a prisoner of Jesus Christ, and Timothy our brother, unto Philemon our dearly beloved, and fellowlabourer,</div>
</div>

<div class="oneVerse" id="vid_29941" onclick="selectVerse(29941)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And to our beloved Apphia, and Archippus our fellowsoldier, and to the church in thy house:</div>
</div>

<div class="oneVerse" id="vid_29942" onclick="selectVerse(29942)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Grace to you, and peace, from God our Father and the Lord Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29943" onclick="selectVerse(29943)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">I thank my God, making mention of thee always in my prayers,</div>
</div>

<div class="oneVerse" id="vid_29944" onclick="selectVerse(29944)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Hearing of thy love and faith, which thou hast toward the Lord Jesus, and toward all saints;</div>
</div>

<div class="oneVerse" id="vid_29945" onclick="selectVerse(29945)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">That the communication of thy faith may become effectual by the acknowledging of every good thing which is in you in Christ Jesus.</div>
</div>

<div class="oneVerse" id="vid_29946" onclick="selectVerse(29946)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">For we have great joy and consolation in thy love, because the bowels of the saints are refreshed by thee, brother.</div>
</div>

<div class="oneVerse" id="vid_29947" onclick="selectVerse(29947)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Wherefore, though I might be much bold in Christ to enjoin thee that which is convenient,</div>
</div>

<div class="oneVerse" id="vid_29948" onclick="selectVerse(29948)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Yet for love's sake I rather beseech thee, being such an one as Paul the aged, and now also a prisoner of Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29949" onclick="selectVerse(29949)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">I beseech thee for my son Onesimus, whom I have begotten in my bonds:</div>
</div>

<div class="oneVerse" id="vid_29950" onclick="selectVerse(29950)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Which in time past was to thee unprofitable, but now profitable to thee and to me:</div>
</div>

<div class="oneVerse" id="vid_29951" onclick="selectVerse(29951)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Whom I have sent again: thou therefore receive him, that is, mine own bowels:</div>
</div>

<div class="oneVerse" id="vid_29952" onclick="selectVerse(29952)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Whom I would have retained with me, that in thy stead he might have ministered unto me in the bonds of the gospel:</div>
</div>

<div class="oneVerse" id="vid_29953" onclick="selectVerse(29953)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">But without thy mind would I do nothing; that thy benefit should not be as it were of necessity, but willingly.</div>
</div>

<div class="oneVerse" id="vid_29954" onclick="selectVerse(29954)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">For perhaps he therefore departed for a season, that thou shouldest receive him for ever;</div>
</div>

<div class="oneVerse" id="vid_29955" onclick="selectVerse(29955)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Not now as a servant, but above a servant, a brother beloved, specially to me, but how much more unto thee, both in the flesh, and in the Lord?</div>
</div>

<div class="oneVerse" id="vid_29956" onclick="selectVerse(29956)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">If thou count me therefore a partner, receive him as myself.</div>
</div>

<div class="oneVerse" id="vid_29957" onclick="selectVerse(29957)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">If he hath wronged thee, or oweth thee ought, put that on mine account;</div>
</div>

<div class="oneVerse" id="vid_29958" onclick="selectVerse(29958)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">I Paul have written it with mine own hand, I will repay it: albeit I do not say to thee how thou owest unto me even thine own self besides.</div>
</div>

<div class="oneVerse" id="vid_29959" onclick="selectVerse(29959)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Yea, brother, let me have joy of thee in the Lord: refresh my bowels in the Lord.</div>
</div>

<div class="oneVerse" id="vid_29960" onclick="selectVerse(29960)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Having confidence in thy obedience I wrote unto thee, knowing that thou wilt also do more than I say.</div>
</div>

<div class="oneVerse" id="vid_29961" onclick="selectVerse(29961)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">But withal prepare me also a lodging: for I trust that through your prayers I shall be given unto you.</div>
</div>

<div class="oneVerse" id="vid_29962" onclick="selectVerse(29962)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">There salute thee Epaphras, my fellowprisoner in Christ Jesus;</div>
</div>

<div class="oneVerse" id="vid_29963" onclick="selectVerse(29963)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">Marcus, Aristarchus, Demas, Lucas, my fellowlabourers.</div>
</div>

<div class="oneVerse" id="vid_29964" onclick="selectVerse(29964)">
    <div class="bibleBook">Plm</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">The grace of our Lord Jesus Christ be with your spirit. Amen.</div>
</div>