<div class="oneVerse" id="vid_7129" onclick="selectVerse(7129)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Now it came to pass in the days when the judges ruled, that there was a famine in the land. And a certain man of Bethlehemjudah went to sojourn in the country of Moab, he, and his wife, and his two sons.</div>
</div>

<div class="oneVerse" id="vid_7130" onclick="selectVerse(7130)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And the name of the man was Elimelech, and the name of his wife Naomi, and the name of his two sons Mahlon and Chilion, Ephrathites of Bethlehemjudah. And they came into the country of Moab, and continued there.</div>
</div>

<div class="oneVerse" id="vid_7131" onclick="selectVerse(7131)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And Elimelech Naomi's husband died; and she was left, and her two sons.</div>
</div>

<div class="oneVerse" id="vid_7132" onclick="selectVerse(7132)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And they took them wives of the women of Moab; the name of the one was Orpah, and the name of the other Ruth: and they dwelled there about ten years.</div>
</div>

<div class="oneVerse" id="vid_7133" onclick="selectVerse(7133)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And Mahlon and Chilion died also both of them; and the woman was left of her two sons and her husband.</div>
</div>

<div class="oneVerse" id="vid_7134" onclick="selectVerse(7134)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Then she arose with her daughters in law, that she might return from the country of Moab: for she had heard in the country of Moab how that the LORD had visited his people in giving them bread.</div>
</div>

<div class="oneVerse" id="vid_7135" onclick="selectVerse(7135)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Wherefore she went forth out of the place where she was, and her two daughters in law with her; and they went on the way to return unto the land of Judah.</div>
</div>

<div class="oneVerse" id="vid_7136" onclick="selectVerse(7136)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And Naomi said unto her two daughters in law, Go, return each to her mother's house: the LORD deal kindly with you, as ye have dealt with the dead, and with me.</div>
</div>

<div class="oneVerse" id="vid_7137" onclick="selectVerse(7137)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">The LORD grant you that ye may find rest, each of you in the house of her husband. Then she kissed them; and they lifted up their voice, and wept.</div>
</div>

<div class="oneVerse" id="vid_7138" onclick="selectVerse(7138)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And they said unto her, Surely we will return with thee unto thy people.</div>
</div>

<div class="oneVerse" id="vid_7139" onclick="selectVerse(7139)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And Naomi said, Turn again, my daughters: why will ye go with me? are there yet any more sons in my womb, that they may be your husbands?</div>
</div>

<div class="oneVerse" id="vid_7140" onclick="selectVerse(7140)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Turn again, my daughters, go your way; for I am too old to have an husband. If I should say, I have hope, if I should have an husband also to night, and should also bear sons;</div>
</div>

<div class="oneVerse" id="vid_7141" onclick="selectVerse(7141)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Would ye tarry for them till they were grown? would ye stay for them from having husbands? nay, my daughters; for it grieveth me much for your sakes that the hand of the LORD is gone out against me.</div>
</div>

<div class="oneVerse" id="vid_7142" onclick="selectVerse(7142)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And they lifted up their voice, and wept again: and Orpah kissed her mother in law; but Ruth clave unto her.</div>
</div>

<div class="oneVerse" id="vid_7143" onclick="selectVerse(7143)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And she said, Behold, thy sister in law is gone back unto her people, and unto her gods: return thou after thy sister in law.</div>
</div>

<div class="oneVerse" id="vid_7144" onclick="selectVerse(7144)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">And Ruth said, Intreat me not to leave thee, or to return from following after thee: for whither thou goest, I will go; and where thou lodgest, I will lodge: thy people shall be my people, and thy God my God:</div>
</div>

<div class="oneVerse" id="vid_7145" onclick="selectVerse(7145)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Where thou diest, will I die, and there will I be buried: the LORD do so to me, and more also, if ought but death part thee and me.</div>
</div>

<div class="oneVerse" id="vid_7146" onclick="selectVerse(7146)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">When she saw that she was stedfastly minded to go with her, then she left speaking unto her.</div>
</div>

<div class="oneVerse" id="vid_7147" onclick="selectVerse(7147)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">So they two went until they came to Bethlehem. And it came to pass, when they were come to Bethlehem, that all the city was moved about them, and they said, Is this Naomi?</div>
</div>

<div class="oneVerse" id="vid_7148" onclick="selectVerse(7148)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">And she said unto them, Call me not Naomi, call me Mara: for the Almighty hath dealt very bitterly with me.</div>
</div>

<div class="oneVerse" id="vid_7149" onclick="selectVerse(7149)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">I went out full and the LORD hath brought me home again empty: why then call ye me Naomi, seeing the LORD hath testified against me, and the Almighty hath afflicted me?</div>
</div>

<div class="oneVerse" id="vid_7150" onclick="selectVerse(7150)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">So Naomi returned, and Ruth the Moabitess, her daughter in law, with her, which returned out of the country of Moab: and they came to Bethlehem in the beginning of barley harvest.</div>
</div>

<div class="oneVerse" id="vid_7151" onclick="selectVerse(7151)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">And Naomi had a kinsman of her husband's, a mighty man of wealth, of the family of Elimelech; and his name was Boaz.</div>
</div>

<div class="oneVerse" id="vid_7152" onclick="selectVerse(7152)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And Ruth the Moabitess said unto Naomi, Let me now go to the field, and glean ears of corn after him in whose sight I shall find grace. And she said unto her, Go, my daughter.</div>
</div>

<div class="oneVerse" id="vid_7153" onclick="selectVerse(7153)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And she went, and came, and gleaned in the field after the reapers: and her hap was to light on a part of the field belonging unto Boaz, who was of the kindred of Elimelech.</div>
</div>

<div class="oneVerse" id="vid_7154" onclick="selectVerse(7154)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And, behold, Boaz came from Bethlehem, and said unto the reapers, The LORD be with you. And they answered him, The LORD bless thee.</div>
</div>

<div class="oneVerse" id="vid_7155" onclick="selectVerse(7155)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Then said Boaz unto his servant that was set over the reapers, Whose damsel is this?</div>
</div>

<div class="oneVerse" id="vid_7156" onclick="selectVerse(7156)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And the servant that was set over the reapers answered and said, It is the Moabitish damsel that came back with Naomi out of the country of Moab:</div>
</div>

<div class="oneVerse" id="vid_7157" onclick="selectVerse(7157)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And she said, I pray you, let me glean and gather after the reapers among the sheaves: so she came, and hath continued even from the morning until now, that she tarried a little in the house.</div>
</div>

<div class="oneVerse" id="vid_7158" onclick="selectVerse(7158)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Then said Boaz unto Ruth, Hearest thou not, my daughter? Go not to glean in another field, neither go from hence, but abide here fast by my maidens:</div>
</div>

<div class="oneVerse" id="vid_7159" onclick="selectVerse(7159)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Let thine eyes be on the field that they do reap, and go thou after them: have I not charged the young men that they shall not touch thee? and when thou art athirst, go unto the vessels, and drink of that which the young men have drawn.</div>
</div>

<div class="oneVerse" id="vid_7160" onclick="selectVerse(7160)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Then she fell on her face, and bowed herself to the ground, and said unto him, Why have I found grace in thine eyes, that thou shouldest take knowledge of me, seeing I am a stranger?</div>
</div>

<div class="oneVerse" id="vid_7161" onclick="selectVerse(7161)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And Boaz answered and said unto her, It hath fully been shewed me, all that thou hast done unto thy mother in law since the death of thine husband: and how thou hast left thy father and thy mother, and the land of thy nativity, and art come unto a people which thou knewest not heretofore.</div>
</div>

<div class="oneVerse" id="vid_7162" onclick="selectVerse(7162)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">The LORD recompense thy work, and a full reward be given thee of the LORD God of Israel, under whose wings thou art come to trust.</div>
</div>

<div class="oneVerse" id="vid_7163" onclick="selectVerse(7163)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Then she said, Let me find favour in thy sight, my lord; for that thou hast comforted me, and for that thou hast spoken friendly unto thine handmaid, though I be not like unto one of thine handmaidens.</div>
</div>

<div class="oneVerse" id="vid_7164" onclick="selectVerse(7164)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And Boaz said unto her, At mealtime come thou hither, and eat of the bread, and dip thy morsel in the vinegar. And she sat beside the reapers: and he reached her parched corn, and she did eat, and was sufficed, and left.</div>
</div>

<div class="oneVerse" id="vid_7165" onclick="selectVerse(7165)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And when she was risen up to glean, Boaz commanded his young men, saying, Let her glean even among the sheaves, and reproach her not:</div>
</div>

<div class="oneVerse" id="vid_7166" onclick="selectVerse(7166)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">And let fall also some of the handfuls of purpose for her, and leave them, that she may glean them, and rebuke her not.</div>
</div>

<div class="oneVerse" id="vid_7167" onclick="selectVerse(7167)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">So she gleaned in the field until even, and beat out that she had gleaned: and it was about an ephah of barley.</div>
</div>

<div class="oneVerse" id="vid_7168" onclick="selectVerse(7168)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">And she took it up, and went into the city: and her mother in law saw what she had gleaned: and she brought forth, and gave to her that she had reserved after she was sufficed.</div>
</div>

<div class="oneVerse" id="vid_7169" onclick="selectVerse(7169)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">And her mother in law said unto her, Where hast thou gleaned to day?  and where wroughtest thou? blessed be he that did take knowledge of thee. And she shewed her mother in law with whom she had wrought, and said, The man's name with whom I wrought to day is Boaz.</div>
</div>

<div class="oneVerse" id="vid_7170" onclick="selectVerse(7170)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">And Naomi said unto her daughter in law, Blessed be he of the LORD, who hath not left off his kindness to the living and to the dead. And Naomi said unto her, The man is near of kin unto us, one of our next kinsmen.</div>
</div>

<div class="oneVerse" id="vid_7171" onclick="selectVerse(7171)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">And Ruth the Moabitess said, He said unto me also, Thou shalt keep fast by my young men, until they have ended all my harvest.</div>
</div>

<div class="oneVerse" id="vid_7172" onclick="selectVerse(7172)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">And Naomi said unto Ruth her daughter in law, It is good, my daughter, that thou go out with his maidens, that they meet thee not in any other field.</div>
</div>

<div class="oneVerse" id="vid_7173" onclick="selectVerse(7173)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">So she kept fast by the maidens of Boaz to glean unto the end of barley harvest and of wheat harvest; and dwelt with her mother in law.</div>
</div>

<div class="oneVerse" id="vid_7174" onclick="selectVerse(7174)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Then Naomi her mother in law said unto her, My daughter, shall I not seek rest for thee, that it may be well with thee?</div>
</div>

<div class="oneVerse" id="vid_7175" onclick="selectVerse(7175)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And now is not Boaz of our kindred, with whose maidens thou wast?  Behold, he winnoweth barley to night in the threshingfloor.</div>
</div>

<div class="oneVerse" id="vid_7176" onclick="selectVerse(7176)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Wash thyself therefore, and anoint thee, and put thy raiment upon thee, and get thee down to the floor: but make not thyself known unto the man, until he shall have done eating and drinking.</div>
</div>

<div class="oneVerse" id="vid_7177" onclick="selectVerse(7177)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And it shall be, when he lieth down, that thou shalt mark the place where he shall lie, and thou shalt go in, and uncover his feet, and lay thee down; and he will tell thee what thou shalt do.</div>
</div>

<div class="oneVerse" id="vid_7178" onclick="selectVerse(7178)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And she said unto her, All that thou sayest unto me I will do.</div>
</div>

<div class="oneVerse" id="vid_7179" onclick="selectVerse(7179)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And she went down unto the floor, and did according to all that her mother in law bade her.</div>
</div>

<div class="oneVerse" id="vid_7180" onclick="selectVerse(7180)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And when Boaz had eaten and drunk, and his heart was merry, he went to lie down at the end of the heap of corn: and she came softly, and uncovered his feet, and laid her down.</div>
</div>

<div class="oneVerse" id="vid_7181" onclick="selectVerse(7181)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And it came to pass at midnight, that the man was afraid, and turned himself: and, behold, a woman lay at his feet.</div>
</div>

<div class="oneVerse" id="vid_7182" onclick="selectVerse(7182)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And he said, Who art thou? And she answered, I am Ruth thine handmaid: spread therefore thy skirt over thine handmaid; for thou art a near kinsman.</div>
</div>

<div class="oneVerse" id="vid_7183" onclick="selectVerse(7183)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And he said, Blessed be thou of the LORD, my daughter: for thou hast shewed more kindness in the latter end than at the beginning, inasmuch as thou followedst not young men, whether poor or rich.</div>
</div>

<div class="oneVerse" id="vid_7184" onclick="selectVerse(7184)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And now, my daughter, fear not; I will do to thee all that thou requirest: for all the city of my people doth know that thou art a virtuous woman.</div>
</div>

<div class="oneVerse" id="vid_7185" onclick="selectVerse(7185)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">And now it is true that I am thy near kinsman: howbeit there is a kinsman nearer than I.</div>
</div>

<div class="oneVerse" id="vid_7186" onclick="selectVerse(7186)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Tarry this night, and it shall be in the morning, that if he will perform unto thee the part of a kinsman, well; let him do the kinsman's part: but if he will not do the part of a kinsman to thee, then will I do the part of a kinsman to thee, as the LORD liveth: lie down until the morning.</div>
</div>

<div class="oneVerse" id="vid_7187" onclick="selectVerse(7187)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And she lay at his feet until the morning: and she rose up before one could know another. And he said, Let it not be known that a woman came into the floor.</div>
</div>

<div class="oneVerse" id="vid_7188" onclick="selectVerse(7188)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Also he said, Bring the vail that thou hast upon thee, and hold it. And when she held it, he measured six measures of barley, and laid it on her: and she went into the city.</div>
</div>

<div class="oneVerse" id="vid_7189" onclick="selectVerse(7189)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">And when she came to her mother in law, she said, Who art thou, my daughter? And she told her all that the man had done to her.</div>
</div>

<div class="oneVerse" id="vid_7190" onclick="selectVerse(7190)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">And she said, These six measures of barley gave he me; for he said to me, Go not empty unto thy mother in law.</div>
</div>

<div class="oneVerse" id="vid_7191" onclick="selectVerse(7191)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Then said she, Sit still, my daughter, until thou know how the matter will fall: for the man will not be in rest, until he have finished the thing this day.</div>
</div>

<div class="oneVerse" id="vid_7192" onclick="selectVerse(7192)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Then went Boaz up to the gate, and sat him down there: and, behold, the kinsman of whom Boaz spake came by; unto whom he said, Ho, such a one! turn aside, sit down here. And he turned aside, and sat down.</div>
</div>

<div class="oneVerse" id="vid_7193" onclick="selectVerse(7193)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And he took ten men of the elders of the city, and said, Sit ye down here. And they sat down.</div>
</div>

<div class="oneVerse" id="vid_7194" onclick="selectVerse(7194)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">And he said unto the kinsman, Naomi, that is come again out of the country of Moab, selleth a parcel of land, which was our brother Elimelech's:</div>
</div>

<div class="oneVerse" id="vid_7195" onclick="selectVerse(7195)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And I thought to advertise thee, saying, Buy it before the inhabitants, and before the elders of my people. If thou wilt redeem it, redeem it: but if thou wilt not redeem it, then tell me, that I may know: for there is none to redeem it beside thee; and I am after thee. And he said, I will redeem it.</div>
</div>

<div class="oneVerse" id="vid_7196" onclick="selectVerse(7196)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Then said Boaz, What day thou buyest the field of the hand of Naomi, thou must buy it also of Ruth the Moabitess, the wife of the dead, to raise up the name of the dead upon his inheritance.</div>
</div>

<div class="oneVerse" id="vid_7197" onclick="selectVerse(7197)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And the kinsman said, I cannot redeem it for myself, lest I mar mine own inheritance: redeem thou my right to thyself; for I cannot redeem it.</div>
</div>

<div class="oneVerse" id="vid_7198" onclick="selectVerse(7198)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Now this was the manner in former time in Israel concerning redeeming and concerning changing, for to confirm all things; a man plucked off his shoe, and gave it to his neighbour: and this was a testimony in Israel.</div>
</div>

<div class="oneVerse" id="vid_7199" onclick="selectVerse(7199)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Therefore the kinsman said unto Boaz, Buy it for thee. So he drew off his shoe.</div>
</div>

<div class="oneVerse" id="vid_7200" onclick="selectVerse(7200)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">And Boaz said unto the elders, and unto all the people, Ye are witnesses this day, that I have bought all that was Elimelech's, and all that was Chilion's and Mahlon's, of the hand of Naomi.</div>
</div>

<div class="oneVerse" id="vid_7201" onclick="selectVerse(7201)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Moreover Ruth the Moabitess, the wife of Mahlon, have I purchased to be my wife, to raise up the name of the dead upon his inheritance, that the name of the dead be not cut off from among his brethren, and from the gate of his place: ye are witnesses this day.</div>
</div>

<div class="oneVerse" id="vid_7202" onclick="selectVerse(7202)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And all the people that were in the gate, and the elders, said, We are witnesses. The LORD make the woman that is come into thine house like Rachel and like Leah, which two did build the house of Israel: and do thou worthily in Ephratah, and be famous in Bethlehem:</div>
</div>

<div class="oneVerse" id="vid_7203" onclick="selectVerse(7203)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">And let thy house be like the house of Pharez, whom Tamar bare unto Judah, of the seed which the LORD shall give thee of this young woman.</div>
</div>

<div class="oneVerse" id="vid_7204" onclick="selectVerse(7204)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">So Boaz took Ruth, and she was his wife: and when he went in unto her, the LORD gave her conception, and she bare a son.</div>
</div>

<div class="oneVerse" id="vid_7205" onclick="selectVerse(7205)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And the women said unto Naomi, Blessed be the LORD, which hath not left thee this day without a kinsman, that his name may be famous in Israel.</div>
</div>

<div class="oneVerse" id="vid_7206" onclick="selectVerse(7206)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And he shall be unto thee a restorer of thy life, and a nourisher of thine old age: for thy daughter in law, which loveth thee, which is better to thee than seven sons, hath born him.</div>
</div>

<div class="oneVerse" id="vid_7207" onclick="selectVerse(7207)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">And Naomi took the child, and laid it in her bosom, and became nurse unto it.</div>
</div>

<div class="oneVerse" id="vid_7208" onclick="selectVerse(7208)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">And the women her neighbours gave it a name, saying, There is a son born to Naomi; and they called his name Obed: he is the father of Jesse, the father of David.</div>
</div>

<div class="oneVerse" id="vid_7209" onclick="selectVerse(7209)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Now these are the generations of Pharez: Pharez begat Hezron,</div>
</div>

<div class="oneVerse" id="vid_7210" onclick="selectVerse(7210)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">And Hezron begat Ram, and Ram begat Amminadab,</div>
</div>

<div class="oneVerse" id="vid_7211" onclick="selectVerse(7211)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">And Amminadab begat Nahshon, and Nahshon begat Salmon,</div>
</div>

<div class="oneVerse" id="vid_7212" onclick="selectVerse(7212)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">And Salmon begat Boaz, and Boaz begat Obed,</div>
</div>

<div class="oneVerse" id="vid_7213" onclick="selectVerse(7213)">
    <div class="bibleBook">Rut</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">And Obed begat Jesse, and Jesse begat David.</div>
</div>