<div class="oneVerse" id="vid_29562" onclick="selectVerse(29562)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Paul, and Silvanus, and Timotheus, unto the church of the Thessalonians which is in God the Father and in the Lord Jesus Christ: Grace be unto you, and peace, from God our Father, and the Lord Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29563" onclick="selectVerse(29563)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">We give thanks to God always for you all, making mention of you in our prayers;</div>
</div>

<div class="oneVerse" id="vid_29564" onclick="selectVerse(29564)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Remembering without ceasing your work of faith, and labour of love, and patience of hope in our Lord Jesus Christ, in the sight of God and our Father;</div>
</div>

<div class="oneVerse" id="vid_29565" onclick="selectVerse(29565)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Knowing, brethren beloved, your election of God.</div>
</div>

<div class="oneVerse" id="vid_29566" onclick="selectVerse(29566)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">For our gospel came not unto you in word only, but also in power, and in the Holy Ghost, and in much assurance; as ye know what manner of men we were among you for your sake.</div>
</div>

<div class="oneVerse" id="vid_29567" onclick="selectVerse(29567)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And ye became followers of us, and of the Lord, having received the word in much affliction, with joy of the Holy Ghost.</div>
</div>

<div class="oneVerse" id="vid_29568" onclick="selectVerse(29568)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">So that ye were ensamples to all that believe in Macedonia and Achaia.</div>
</div>

<div class="oneVerse" id="vid_29569" onclick="selectVerse(29569)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">For from you sounded out the word of the Lord not only in Macedonia and Achaia, but also in every place your faith to God-ward is spread abroad; so that we need not to speak any thing.</div>
</div>

<div class="oneVerse" id="vid_29570" onclick="selectVerse(29570)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">For they themselves shew of us what manner of entering in we had unto you, and how ye turned to God from idols to serve the living and true God;</div>
</div>

<div class="oneVerse" id="vid_29571" onclick="selectVerse(29571)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And to wait for his Son from heaven, whom he raised from the dead, even Jesus, which delivered us from the wrath to come.</div>
</div>

<div class="oneVerse" id="vid_29572" onclick="selectVerse(29572)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">For yourselves, brethren, know our entrance in unto you, that it was not in vain:</div>
</div>

<div class="oneVerse" id="vid_29573" onclick="selectVerse(29573)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">But even after that we had suffered before, and were shamefully entreated, as ye know, at Philippi, we were bold in our God to speak unto you the gospel of God with much contention.</div>
</div>

<div class="oneVerse" id="vid_29574" onclick="selectVerse(29574)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For our exhortation was not of deceit, nor of uncleanness, nor in guile:</div>
</div>

<div class="oneVerse" id="vid_29575" onclick="selectVerse(29575)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">But as we were allowed of God to be put in trust with the gospel, even so we speak; not as pleasing men, but God, which trieth our hearts.</div>
</div>

<div class="oneVerse" id="vid_29576" onclick="selectVerse(29576)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">For neither at any time used we flattering words, as ye know, nor a cloke of covetousness; God is witness:</div>
</div>

<div class="oneVerse" id="vid_29577" onclick="selectVerse(29577)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Nor of men sought we glory, neither of you, nor yet of others, when we might have been burdensome, as the apostles of Christ.</div>
</div>

<div class="oneVerse" id="vid_29578" onclick="selectVerse(29578)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">But we were gentle among you, even as a nurse cherisheth her children:</div>
</div>

<div class="oneVerse" id="vid_29579" onclick="selectVerse(29579)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">So being affectionately desirous of you, we were willing to have imparted unto you, not the gospel of God only, but also our own souls, because ye were dear unto us.</div>
</div>

<div class="oneVerse" id="vid_29580" onclick="selectVerse(29580)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">For ye remember, brethren, our labour and travail: for labouring night and day, because we would not be chargeable unto any of you, we preached unto you the gospel of God.</div>
</div>

<div class="oneVerse" id="vid_29581" onclick="selectVerse(29581)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Ye are witnesses, and God also, how holily and justly and unblameably we behaved ourselves among you that believe:</div>
</div>

<div class="oneVerse" id="vid_29582" onclick="selectVerse(29582)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">As ye know how we exhorted and comforted and charged every one of you, as a father doth his children,</div>
</div>

<div class="oneVerse" id="vid_29583" onclick="selectVerse(29583)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">That ye would walk worthy of God, who hath called you unto his kingdom and glory.</div>
</div>

<div class="oneVerse" id="vid_29584" onclick="selectVerse(29584)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">For this cause also thank we God without ceasing, because, when ye received the word of God which ye heard of us, ye received it not as the word of men, but as it is in truth, the word of God, which effectually worketh also in you that believe.</div>
</div>

<div class="oneVerse" id="vid_29585" onclick="selectVerse(29585)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">For ye, brethren, became followers of the churches of God which in Judaea are in Christ Jesus: for ye also have suffered like things of your own countrymen, even as they have of the Jews:</div>
</div>

<div class="oneVerse" id="vid_29586" onclick="selectVerse(29586)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Who both killed the Lord Jesus, and their own prophets, and have persecuted us; and they please not God, and are contrary to all men:</div>
</div>

<div class="oneVerse" id="vid_29587" onclick="selectVerse(29587)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Forbidding us to speak to the Gentiles that they might be saved, to fill up their sins alway: for the wrath is come upon them to the uttermost.</div>
</div>

<div class="oneVerse" id="vid_29588" onclick="selectVerse(29588)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">But we, brethren, being taken from you for a short time in presence, not in heart, endeavoured the more abundantly to see your face with great desire.</div>
</div>

<div class="oneVerse" id="vid_29589" onclick="selectVerse(29589)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Wherefore we would have come unto you, even I Paul, once and again; but Satan hindered us.</div>
</div>

<div class="oneVerse" id="vid_29590" onclick="selectVerse(29590)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">For what is our hope, or joy, or crown of rejoicing? Are not even ye in the presence of our Lord Jesus Christ at his coming?</div>
</div>

<div class="oneVerse" id="vid_29591" onclick="selectVerse(29591)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">For ye are our glory and joy.</div>
</div>

<div class="oneVerse" id="vid_29592" onclick="selectVerse(29592)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Wherefore when we could no longer forbear, we thought it good to be left at Athens alone;</div>
</div>

<div class="oneVerse" id="vid_29593" onclick="selectVerse(29593)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And sent Timotheus, our brother, and minister of God, and our fellowlabourer in the gospel of Christ, to establish you, and to comfort you concerning your faith:</div>
</div>

<div class="oneVerse" id="vid_29594" onclick="selectVerse(29594)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">That no man should be moved by these afflictions: for yourselves know that we are appointed thereunto.</div>
</div>

<div class="oneVerse" id="vid_29595" onclick="selectVerse(29595)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">For verily, when we were with you, we told you before that we should suffer tribulation; even as it came to pass, and ye know.</div>
</div>

<div class="oneVerse" id="vid_29596" onclick="selectVerse(29596)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">For this cause, when I could no longer forbear, I sent to know your faith, lest by some means the tempter have tempted you, and our labour be in vain.</div>
</div>

<div class="oneVerse" id="vid_29597" onclick="selectVerse(29597)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">But now when Timotheus came from you unto us, and brought us good tidings of your faith and charity, and that ye have good remembrance of us always, desiring greatly to see us, as we also to see you:</div>
</div>

<div class="oneVerse" id="vid_29598" onclick="selectVerse(29598)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Therefore, brethren, we were comforted over you in all our affliction and distress by your faith:</div>
</div>

<div class="oneVerse" id="vid_29599" onclick="selectVerse(29599)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">For now we live, if ye stand fast in the Lord.</div>
</div>

<div class="oneVerse" id="vid_29600" onclick="selectVerse(29600)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">For what thanks can we render to God again for you, for all the joy wherewith we joy for your sakes before our God;</div>
</div>

<div class="oneVerse" id="vid_29601" onclick="selectVerse(29601)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Night and day praying exceedingly that we might see your face, and might perfect that which is lacking in your faith?</div>
</div>

<div class="oneVerse" id="vid_29602" onclick="selectVerse(29602)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Now God himself and our Father, and our Lord Jesus Christ, direct our way unto you.</div>
</div>

<div class="oneVerse" id="vid_29603" onclick="selectVerse(29603)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">And the Lord make you to increase and abound in love one toward another, and toward all men, even as we do toward you:</div>
</div>

<div class="oneVerse" id="vid_29604" onclick="selectVerse(29604)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">To the end he may stablish your hearts unblameable in holiness before God, even our Father, at the coming of our Lord Jesus Christ with all his saints.</div>
</div>

<div class="oneVerse" id="vid_29605" onclick="selectVerse(29605)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Furthermore then we beseech you, brethren, and exhort you by the Lord Jesus, that as ye have received of us how ye ought to walk and to please God, so ye would abound more and more.</div>
</div>

<div class="oneVerse" id="vid_29606" onclick="selectVerse(29606)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">For ye know what commandments we gave you by the Lord Jesus.</div>
</div>

<div class="oneVerse" id="vid_29607" onclick="selectVerse(29607)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For this is the will of God, even your sanctification, that ye should abstain from fornication:</div>
</div>

<div class="oneVerse" id="vid_29608" onclick="selectVerse(29608)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">That every one of you should know how to possess his vessel in sanctification and honour;</div>
</div>

<div class="oneVerse" id="vid_29609" onclick="selectVerse(29609)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Not in the lust of concupiscence, even as the Gentiles which know not God:</div>
</div>

<div class="oneVerse" id="vid_29610" onclick="selectVerse(29610)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">That no man go beyond and defraud his brother in any matter: because that the Lord is the avenger of all such, as we also have forewarned you and testified.</div>
</div>

<div class="oneVerse" id="vid_29611" onclick="selectVerse(29611)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">For God hath not called us unto uncleanness, but unto holiness.</div>
</div>

<div class="oneVerse" id="vid_29612" onclick="selectVerse(29612)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">He therefore that despiseth, despiseth not man, but God, who hath also given unto us his holy Spirit.</div>
</div>

<div class="oneVerse" id="vid_29613" onclick="selectVerse(29613)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">But as touching brotherly love ye need not that I write unto you: for ye yourselves are taught of God to love one another.</div>
</div>

<div class="oneVerse" id="vid_29614" onclick="selectVerse(29614)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And indeed ye do it toward all the brethren which are in all Macedonia: but we beseech you, brethren, that ye increase more and more;</div>
</div>

<div class="oneVerse" id="vid_29615" onclick="selectVerse(29615)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And that ye study to be quiet, and to do your own business, and to work with your own hands, as we commanded you;</div>
</div>

<div class="oneVerse" id="vid_29616" onclick="selectVerse(29616)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">That ye may walk honestly toward them that are without, and that ye may have lack of nothing.</div>
</div>

<div class="oneVerse" id="vid_29617" onclick="selectVerse(29617)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">But I would not have you to be ignorant, brethren, concerning them which are asleep, that ye sorrow not, even as others which have no hope.</div>
</div>

<div class="oneVerse" id="vid_29618" onclick="selectVerse(29618)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">For if we believe that Jesus died and rose again, even so them also which sleep in Jesus will God bring with him.</div>
</div>

<div class="oneVerse" id="vid_29619" onclick="selectVerse(29619)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">For this we say unto you by the word of the Lord, that we which are alive and remain unto the coming of the Lord shall not prevent them which are asleep.</div>
</div>

<div class="oneVerse" id="vid_29620" onclick="selectVerse(29620)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">For the Lord himself shall descend from heaven with a shout, with the voice of the archangel, and with the trump of God: and the dead in Christ shall rise first:</div>
</div>

<div class="oneVerse" id="vid_29621" onclick="selectVerse(29621)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Then we which are alive and remain shall be caught up together with them in the clouds, to meet the Lord in the air: and so shall we ever be with the Lord.</div>
</div>

<div class="oneVerse" id="vid_29622" onclick="selectVerse(29622)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Wherefore comfort one another with these words.</div>
</div>

<div class="oneVerse" id="vid_29623" onclick="selectVerse(29623)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">But of the times and the seasons, brethren, ye have no need that I write unto you.</div>
</div>

<div class="oneVerse" id="vid_29624" onclick="selectVerse(29624)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">For yourselves know perfectly that the day of the Lord so cometh as a thief in the night.</div>
</div>

<div class="oneVerse" id="vid_29625" onclick="selectVerse(29625)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For when they shall say, Peace and safety; then sudden destruction cometh upon them, as travail upon a woman with child; and they shall not escape.</div>
</div>

<div class="oneVerse" id="vid_29626" onclick="selectVerse(29626)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">But ye, brethren, are not in darkness, that that day should overtake you as a thief.</div>
</div>

<div class="oneVerse" id="vid_29627" onclick="selectVerse(29627)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Ye are all the children of light, and the children of the day: we are not of the night, nor of darkness.</div>
</div>

<div class="oneVerse" id="vid_29628" onclick="selectVerse(29628)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Therefore let us not sleep, as do others; but let us watch and be sober.</div>
</div>

<div class="oneVerse" id="vid_29629" onclick="selectVerse(29629)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">For they that sleep sleep in the night; and they that be drunken are drunken in the night.</div>
</div>

<div class="oneVerse" id="vid_29630" onclick="selectVerse(29630)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">But let us, who are of the day, be sober, putting on the breastplate of faith and love; and for an helmet, the hope of salvation.</div>
</div>

<div class="oneVerse" id="vid_29631" onclick="selectVerse(29631)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">For God hath not appointed us to wrath, but to obtain salvation by our Lord Jesus Christ,</div>
</div>

<div class="oneVerse" id="vid_29632" onclick="selectVerse(29632)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Who died for us, that, whether we wake or sleep, we should live together with him.</div>
</div>

<div class="oneVerse" id="vid_29633" onclick="selectVerse(29633)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Wherefore comfort yourselves together, and edify one another, even as also ye do.</div>
</div>

<div class="oneVerse" id="vid_29634" onclick="selectVerse(29634)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">And we beseech you, brethren, to know them which labour among you, and are over you in the Lord, and admonish you;</div>
</div>

<div class="oneVerse" id="vid_29635" onclick="selectVerse(29635)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">And to esteem them very highly in love for their work's sake. And be at peace among yourselves.</div>
</div>

<div class="oneVerse" id="vid_29636" onclick="selectVerse(29636)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Now we exhort you, brethren, warn them that are unruly, comfort the feebleminded, support the weak, be patient toward all men.</div>
</div>

<div class="oneVerse" id="vid_29637" onclick="selectVerse(29637)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">See that none render evil for evil unto any man; but ever follow that which is good, both among yourselves, and to all men.</div>
</div>

<div class="oneVerse" id="vid_29638" onclick="selectVerse(29638)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Rejoice evermore.</div>
</div>

<div class="oneVerse" id="vid_29639" onclick="selectVerse(29639)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Pray without ceasing.</div>
</div>

<div class="oneVerse" id="vid_29640" onclick="selectVerse(29640)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">In every thing give thanks: for this is the will of God in Christ Jesus concerning you.</div>
</div>

<div class="oneVerse" id="vid_29641" onclick="selectVerse(29641)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Quench not the Spirit.</div>
</div>

<div class="oneVerse" id="vid_29642" onclick="selectVerse(29642)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Despise not prophesyings.</div>
</div>

<div class="oneVerse" id="vid_29643" onclick="selectVerse(29643)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Prove all things; hold fast that which is good.</div>
</div>

<div class="oneVerse" id="vid_29644" onclick="selectVerse(29644)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">Abstain from all appearance of evil.</div>
</div>

<div class="oneVerse" id="vid_29645" onclick="selectVerse(29645)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">And the very God of peace sanctify you wholly; and I pray God your whole spirit and soul and body be preserved blameless unto the coming of our Lord Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29646" onclick="selectVerse(29646)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">Faithful is he that calleth you, who also will do it.</div>
</div>

<div class="oneVerse" id="vid_29647" onclick="selectVerse(29647)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">Brethren, pray for us.</div>
</div>

<div class="oneVerse" id="vid_29648" onclick="selectVerse(29648)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">26</div>
    <div class="bibleText">Greet all the brethren with an holy kiss.</div>
</div>

<div class="oneVerse" id="vid_29649" onclick="selectVerse(29649)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">27</div>
    <div class="bibleText">I charge you by the Lord that this epistle be read unto all the holy brethren.</div>
</div>

<div class="oneVerse" id="vid_29650" onclick="selectVerse(29650)">
    <div class="bibleBook">Th1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">28</div>
    <div class="bibleText">The grace of our Lord Jesus Christ be with you. Amen.</div>
</div>