<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="{{=URL('static', 'css/bible.css')}}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" ></script>
<script src="{{=URL('static', 'js/bible.js')}}" type="text/javascript" ></script>

<div class="oneVerse" id="vid_29651" onclick="selectVerse(29651)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Paul, and Silvanus, and Timotheus, unto the church of the Thessalonians in God our Father and the Lord Jesus Christ:</div>
</div>

<div class="oneVerse" id="vid_29652" onclick="selectVerse(29652)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Grace unto you, and peace, from God our Father and the Lord Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29653" onclick="selectVerse(29653)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">We are bound to thank God always for you, brethren, as it is meet, because that your faith groweth exceedingly, and the charity of every one of you all toward each other aboundeth;</div>
</div>

<div class="oneVerse" id="vid_29654" onclick="selectVerse(29654)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">So that we ourselves glory in you in the churches of God for your patience and faith in all your persecutions and tribulations that ye endure:</div>
</div>

<div class="oneVerse" id="vid_29655" onclick="selectVerse(29655)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Which is a manifest token of the righteous judgment of God, that ye may be counted worthy of the kingdom of God, for which ye also suffer:</div>
</div>

<div class="oneVerse" id="vid_29656" onclick="selectVerse(29656)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Seeing it is a righteous thing with God to recompense tribulation to them that trouble you;</div>
</div>

<div class="oneVerse" id="vid_29657" onclick="selectVerse(29657)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And to you who are troubled rest with us, when the Lord Jesus shall be revealed from heaven with his mighty angels,</div>
</div>

<div class="oneVerse" id="vid_29658" onclick="selectVerse(29658)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">In flaming fire taking vengeance on them that know not God, and that obey not the gospel of our Lord Jesus Christ:</div>
</div>

<div class="oneVerse" id="vid_29659" onclick="selectVerse(29659)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Who shall be punished with everlasting destruction from the presence of the Lord, and from the glory of his power;</div>
</div>

<div class="oneVerse" id="vid_29660" onclick="selectVerse(29660)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">When he shall come to be glorified in his saints, and to be admired in all them that believe (because our testimony among you was believed) in that day.</div>
</div>

<div class="oneVerse" id="vid_29661" onclick="selectVerse(29661)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Wherefore also we pray always for you, that our God would count you worthy of this calling, and fulfil all the good pleasure of his goodness, and the work of faith with power:</div>
</div>

<div class="oneVerse" id="vid_29662" onclick="selectVerse(29662)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">That the name of our Lord Jesus Christ may be glorified in you, and ye in him, according to the grace of our God and the Lord Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29663" onclick="selectVerse(29663)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Now we beseech you, brethren, by the coming of our Lord Jesus Christ, and by our gathering together unto him,</div>
</div>

<div class="oneVerse" id="vid_29664" onclick="selectVerse(29664)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">That ye be not soon shaken in mind, or be troubled, neither by spirit, nor by word, nor by letter as from us, as that the day of Christ is at hand.</div>
</div>

<div class="oneVerse" id="vid_29665" onclick="selectVerse(29665)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Let no man deceive you by any means: for that day shall not come, except there come a falling away first, and that man of sin be revealed, the son of perdition;</div>
</div>

<div class="oneVerse" id="vid_29666" onclick="selectVerse(29666)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Who opposeth and exalteth himself above all that is called God, or that is worshipped; so that he as God sitteth in the temple of God, shewing himself that he is God.</div>
</div>

<div class="oneVerse" id="vid_29667" onclick="selectVerse(29667)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Remember ye not, that, when I was yet with you, I told you these things?</div>
</div>

<div class="oneVerse" id="vid_29668" onclick="selectVerse(29668)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And now ye know what withholdeth that he might be revealed in his time.</div>
</div>

<div class="oneVerse" id="vid_29669" onclick="selectVerse(29669)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">For the mystery of iniquity doth already work: only he who now letteth will let, until he be taken out of the way.</div>
</div>

<div class="oneVerse" id="vid_29670" onclick="selectVerse(29670)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And then shall that Wicked be revealed, whom the Lord shall consume with the spirit of his mouth, and shall destroy with the brightness of his coming:</div>
</div>

<div class="oneVerse" id="vid_29671" onclick="selectVerse(29671)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Even him, whose coming is after the working of Satan with all power and signs and lying wonders,</div>
</div>

<div class="oneVerse" id="vid_29672" onclick="selectVerse(29672)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And with all deceivableness of unrighteousness in them that perish; because they received not the love of the truth, that they might be saved.</div>
</div>

<div class="oneVerse" id="vid_29673" onclick="selectVerse(29673)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">And for this cause God shall send them strong delusion, that they should believe a lie:</div>
</div>

<div class="oneVerse" id="vid_29674" onclick="selectVerse(29674)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">That they all might be damned who believed not the truth, but had pleasure in unrighteousness.</div>
</div>

<div class="oneVerse" id="vid_29675" onclick="selectVerse(29675)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">But we are bound to give thanks alway to God for you, brethren beloved of the Lord, because God hath from the beginning chosen you to salvation through sanctification of the Spirit and belief of the truth:</div>
</div>

<div class="oneVerse" id="vid_29676" onclick="selectVerse(29676)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Whereunto he called you by our gospel, to the obtaining of the glory of our Lord Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29677" onclick="selectVerse(29677)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Therefore, brethren, stand fast, and hold the traditions which ye have been taught, whether by word, or our epistle.</div>
</div>

<div class="oneVerse" id="vid_29678" onclick="selectVerse(29678)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Now our Lord Jesus Christ himself, and God, even our Father, which hath loved us, and hath given us everlasting consolation and good hope through grace,</div>
</div>

<div class="oneVerse" id="vid_29679" onclick="selectVerse(29679)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Comfort your hearts, and stablish you in every good word and work.</div>
</div>

<div class="oneVerse" id="vid_29680" onclick="selectVerse(29680)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Finally, brethren, pray for us, that the word of the Lord may have free course, and be glorified, even as it is with you:</div>
</div>

<div class="oneVerse" id="vid_29681" onclick="selectVerse(29681)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And that we may be delivered from unreasonable and wicked men: for all men have not faith.</div>
</div>

<div class="oneVerse" id="vid_29682" onclick="selectVerse(29682)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">But the Lord is faithful, who shall stablish you, and keep you from evil.</div>
</div>

<div class="oneVerse" id="vid_29683" onclick="selectVerse(29683)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And we have confidence in the Lord touching you, that ye both do and will do the things which we command you.</div>
</div>

<div class="oneVerse" id="vid_29684" onclick="selectVerse(29684)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And the Lord direct your hearts into the love of God, and into the patient waiting for Christ.</div>
</div>

<div class="oneVerse" id="vid_29685" onclick="selectVerse(29685)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Now we command you, brethren, in the name of our Lord Jesus Christ, that ye withdraw yourselves from every brother that walketh disorderly, and not after the tradition which he received of us.</div>
</div>

<div class="oneVerse" id="vid_29686" onclick="selectVerse(29686)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">For yourselves know how ye ought to follow us: for we behaved not ourselves disorderly among you;</div>
</div>

<div class="oneVerse" id="vid_29687" onclick="selectVerse(29687)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Neither did we eat any man's bread for nought; but wrought with labour and travail night and day, that we might not be chargeable to any of you:</div>
</div>

<div class="oneVerse" id="vid_29688" onclick="selectVerse(29688)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Not because we have not power, but to make ourselves an ensample unto you to follow us.</div>
</div>

<div class="oneVerse" id="vid_29689" onclick="selectVerse(29689)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">For even when we were with you, this we commanded you, that if any would not work, neither should he eat.</div>
</div>

<div class="oneVerse" id="vid_29690" onclick="selectVerse(29690)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">For we hear that there are some which walk among you disorderly, working not at all, but are busybodies.</div>
</div>

<div class="oneVerse" id="vid_29691" onclick="selectVerse(29691)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Now them that are such we command and exhort by our Lord Jesus Christ, that with quietness they work, and eat their own bread.</div>
</div>

<div class="oneVerse" id="vid_29692" onclick="selectVerse(29692)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">But ye, brethren, be not weary in well doing.</div>
</div>

<div class="oneVerse" id="vid_29693" onclick="selectVerse(29693)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And if any man obey not our word by this epistle, note that man, and have no company with him, that he may be ashamed.</div>
</div>

<div class="oneVerse" id="vid_29694" onclick="selectVerse(29694)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Yet count him not as an enemy, but admonish him as a brother.</div>
</div>

<div class="oneVerse" id="vid_29695" onclick="selectVerse(29695)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Now the Lord of peace himself give you peace always by all means. The Lord be with you all.</div>
</div>

<div class="oneVerse" id="vid_29696" onclick="selectVerse(29696)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">The salutation of Paul with mine own hand, which is the token in every epistle: so I write.</div>
</div>

<div class="oneVerse" id="vid_29697" onclick="selectVerse(29697)">
    <div class="bibleBook">Th2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">The grace of our Lord Jesus Christ be with you all. Amen.</div>
</div>