<div class="oneVerse" id="vid_29698" onclick="selectVerse(29698)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Paul, an apostle of Jesus Christ by the commandment of God our Saviour, and Lord Jesus Christ, which is our hope;</div>
</div>

<div class="oneVerse" id="vid_29699" onclick="selectVerse(29699)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Unto Timothy, my own son in the faith: Grace, mercy, and peace, from God our Father and Jesus Christ our Lord.</div>
</div>

<div class="oneVerse" id="vid_29700" onclick="selectVerse(29700)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">As I besought thee to abide still at Ephesus, when I went into Macedonia, that thou mightest charge some that they teach no other doctrine,</div>
</div>

<div class="oneVerse" id="vid_29701" onclick="selectVerse(29701)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Neither give heed to fables and endless genealogies, which minister questions, rather than godly edifying which is in faith: so do.</div>
</div>

<div class="oneVerse" id="vid_29702" onclick="selectVerse(29702)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Now the end of the commandment is charity out of a pure heart, and of a good conscience, and of faith unfeigned:</div>
</div>

<div class="oneVerse" id="vid_29703" onclick="selectVerse(29703)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">From which some having swerved have turned aside unto vain jangling;</div>
</div>

<div class="oneVerse" id="vid_29704" onclick="selectVerse(29704)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Desiring to be teachers of the law; understanding neither what they say, nor whereof they affirm.</div>
</div>

<div class="oneVerse" id="vid_29705" onclick="selectVerse(29705)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">But we know that the law is good, if a man use it lawfully;</div>
</div>

<div class="oneVerse" id="vid_29706" onclick="selectVerse(29706)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Knowing this, that the law is not made for a righteous man, but for the lawless and disobedient, for the ungodly and for sinners, for unholy and profane, for murderers of fathers and murderers of mothers, for manslayers,</div>
</div>

<div class="oneVerse" id="vid_29707" onclick="selectVerse(29707)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">For whoremongers, for them that defile themselves with mankind, for menstealers, for liars, for perjured persons, and if there be any other thing that is contrary to sound doctrine;</div>
</div>

<div class="oneVerse" id="vid_29708" onclick="selectVerse(29708)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">According to the glorious gospel of the blessed God, which was committed to my trust.</div>
</div>

<div class="oneVerse" id="vid_29709" onclick="selectVerse(29709)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">And I thank Christ Jesus our Lord, who hath enabled me, for that he counted me faithful, putting me into the ministry;</div>
</div>

<div class="oneVerse" id="vid_29710" onclick="selectVerse(29710)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Who was before a blasphemer, and a persecutor, and injurious: but I obtained mercy, because I did it ignorantly in unbelief.</div>
</div>

<div class="oneVerse" id="vid_29711" onclick="selectVerse(29711)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And the grace of our Lord was exceeding abundant with faith and love which is in Christ Jesus.</div>
</div>

<div class="oneVerse" id="vid_29712" onclick="selectVerse(29712)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">This is a faithful saying, and worthy of all acceptation, that Christ Jesus came into the world to save sinners; of whom I am chief.</div>
</div>

<div class="oneVerse" id="vid_29713" onclick="selectVerse(29713)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Howbeit for this cause I obtained mercy, that in me first Jesus Christ might shew forth all longsuffering, for a pattern to them which should hereafter believe on him to life everlasting.</div>
</div>

<div class="oneVerse" id="vid_29714" onclick="selectVerse(29714)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Now unto the King eternal, immortal, invisible, the only wise God, be honour and glory for ever and ever. Amen.</div>
</div>

<div class="oneVerse" id="vid_29715" onclick="selectVerse(29715)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">This charge I commit unto thee, son Timothy, according to the prophecies which went before on thee, that thou by them mightest war a good warfare;</div>
</div>

<div class="oneVerse" id="vid_29716" onclick="selectVerse(29716)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Holding faith, and a good conscience; which some having put away concerning faith have made shipwreck:</div>
</div>

<div class="oneVerse" id="vid_29717" onclick="selectVerse(29717)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Of whom is Hymenaeus and Alexander; whom I have delivered unto Satan, that they may learn not to blaspheme.</div>
</div>

<div class="oneVerse" id="vid_29718" onclick="selectVerse(29718)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">I exhort therefore, that, first of all, supplications, prayers, intercessions, and giving of thanks, be made for all men;</div>
</div>

<div class="oneVerse" id="vid_29719" onclick="selectVerse(29719)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">For kings, and for all that are in authority; that we may lead a quiet and peaceable life in all godliness and honesty.</div>
</div>

<div class="oneVerse" id="vid_29720" onclick="selectVerse(29720)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For this is good and acceptable in the sight of God our Saviour;</div>
</div>

<div class="oneVerse" id="vid_29721" onclick="selectVerse(29721)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Who will have all men to be saved, and to come unto the knowledge of the truth.</div>
</div>

<div class="oneVerse" id="vid_29722" onclick="selectVerse(29722)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">For there is one God, and one mediator between God and men, the man Christ Jesus;</div>
</div>

<div class="oneVerse" id="vid_29723" onclick="selectVerse(29723)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Who gave himself a ransom for all, to be testified in due time.</div>
</div>

<div class="oneVerse" id="vid_29724" onclick="selectVerse(29724)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Whereunto I am ordained a preacher, and an apostle, (I speak the truth in Christ, and lie not;) a teacher of the Gentiles in faith and verity.</div>
</div>

<div class="oneVerse" id="vid_29725" onclick="selectVerse(29725)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">I will therefore that men pray every where, lifting up holy hands, without wrath and doubting.</div>
</div>

<div class="oneVerse" id="vid_29726" onclick="selectVerse(29726)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">In like manner also, that women adorn themselves in modest apparel, with shamefacedness and sobriety; not with broided hair, or gold, or pearls, or costly array;</div>
</div>

<div class="oneVerse" id="vid_29727" onclick="selectVerse(29727)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">But (which becometh women professing godliness) with good works.</div>
</div>

<div class="oneVerse" id="vid_29728" onclick="selectVerse(29728)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Let the woman learn in silence with all subjection.</div>
</div>

<div class="oneVerse" id="vid_29729" onclick="selectVerse(29729)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">But I suffer not a woman to teach, nor to usurp authority over the man, but to be in silence.</div>
</div>

<div class="oneVerse" id="vid_29730" onclick="selectVerse(29730)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">For Adam was first formed, then Eve.</div>
</div>

<div class="oneVerse" id="vid_29731" onclick="selectVerse(29731)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And Adam was not deceived, but the woman being deceived was in the transgression.</div>
</div>

<div class="oneVerse" id="vid_29732" onclick="selectVerse(29732)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Notwithstanding she shall be saved in childbearing, if they continue in faith and charity and holiness with sobriety.</div>
</div>

<div class="oneVerse" id="vid_29733" onclick="selectVerse(29733)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">This is a true saying, If a man desire the office of a bishop, he desireth a good work.</div>
</div>

<div class="oneVerse" id="vid_29734" onclick="selectVerse(29734)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">A bishop then must be blameless, the husband of one wife, vigilant, sober, of good behaviour, given to hospitality, apt to teach;</div>
</div>

<div class="oneVerse" id="vid_29735" onclick="selectVerse(29735)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Not given to wine, no striker, not greedy of filthy lucre; but patient, not a brawler, not covetous;</div>
</div>

<div class="oneVerse" id="vid_29736" onclick="selectVerse(29736)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">One that ruleth well his own house, having his children in subjection with all gravity;</div>
</div>

<div class="oneVerse" id="vid_29737" onclick="selectVerse(29737)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">(For if a man know not how to rule his own house, how shall he take care of the church of God?)</div>
</div>

<div class="oneVerse" id="vid_29738" onclick="selectVerse(29738)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Not a novice, lest being lifted up with pride he fall into the condemnation of the devil.</div>
</div>

<div class="oneVerse" id="vid_29739" onclick="selectVerse(29739)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Moreover he must have a good report of them which are without; lest he fall into reproach and the snare of the devil.</div>
</div>

<div class="oneVerse" id="vid_29740" onclick="selectVerse(29740)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Likewise must the deacons be grave, not doubletongued, not given to much wine, not greedy of filthy lucre;</div>
</div>

<div class="oneVerse" id="vid_29741" onclick="selectVerse(29741)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Holding the mystery of the faith in a pure conscience.</div>
</div>

<div class="oneVerse" id="vid_29742" onclick="selectVerse(29742)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And let these also first be proved; then let them use the office of a deacon, being found blameless.</div>
</div>

<div class="oneVerse" id="vid_29743" onclick="selectVerse(29743)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Even so must their wives be grave, not slanderers, sober, faithful in all things.</div>
</div>

<div class="oneVerse" id="vid_29744" onclick="selectVerse(29744)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Let the deacons be the husbands of one wife, ruling their children and their own houses well.</div>
</div>

<div class="oneVerse" id="vid_29745" onclick="selectVerse(29745)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">For they that have used the office of a deacon well purchase to themselves a good degree, and great boldness in the faith which is in Christ Jesus.</div>
</div>

<div class="oneVerse" id="vid_29746" onclick="selectVerse(29746)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">These things write I unto thee, hoping to come unto thee shortly:</div>
</div>

<div class="oneVerse" id="vid_29747" onclick="selectVerse(29747)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">But if I tarry long, that thou mayest know how thou oughtest to behave thyself in the house of God, which is the church of the living God, the pillar and ground of the truth.</div>
</div>

<div class="oneVerse" id="vid_29748" onclick="selectVerse(29748)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">And without controversy great is the mystery of godliness: God was manifest in the flesh, justified in the Spirit, seen of angels, preached unto the Gentiles, believed on in the world, received up into glory.</div>
</div>

<div class="oneVerse" id="vid_29749" onclick="selectVerse(29749)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Now the Spirit speaketh expressly, that in the latter times some shall depart from the faith, giving heed to seducing spirits, and doctrines of devils;</div>
</div>

<div class="oneVerse" id="vid_29750" onclick="selectVerse(29750)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Speaking lies in hypocrisy; having their conscience seared with a hot iron;</div>
</div>

<div class="oneVerse" id="vid_29751" onclick="selectVerse(29751)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Forbidding to marry, and commanding to abstain from meats, which God hath created to be received with thanksgiving of them which believe and know the truth.</div>
</div>

<div class="oneVerse" id="vid_29752" onclick="selectVerse(29752)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">For every creature of God is good, and nothing to be refused, if it be received with thanksgiving:</div>
</div>

<div class="oneVerse" id="vid_29753" onclick="selectVerse(29753)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">For it is sanctified by the word of God and prayer.</div>
</div>

<div class="oneVerse" id="vid_29754" onclick="selectVerse(29754)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">If thou put the brethren in remembrance of these things, thou shalt be a good minister of Jesus Christ, nourished up in the words of faith and of good doctrine, whereunto thou hast attained.</div>
</div>

<div class="oneVerse" id="vid_29755" onclick="selectVerse(29755)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">But refuse profane and old wives' fables, and exercise thyself rather unto godliness.</div>
</div>

<div class="oneVerse" id="vid_29756" onclick="selectVerse(29756)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">For bodily exercise profiteth little: but godliness is profitable unto all things, having promise of the life that now is, and of that which is to come.</div>
</div>

<div class="oneVerse" id="vid_29757" onclick="selectVerse(29757)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">This is a faithful saying and worthy of all acceptation.</div>
</div>

<div class="oneVerse" id="vid_29758" onclick="selectVerse(29758)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">For therefore we both labour and suffer reproach, because we trust in the living God, who is the Saviour of all men, specially of those that believe.</div>
</div>

<div class="oneVerse" id="vid_29759" onclick="selectVerse(29759)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">These things command and teach.</div>
</div>

<div class="oneVerse" id="vid_29760" onclick="selectVerse(29760)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Let no man despise thy youth; but be thou an example of the believers, in word, in conversation, in charity, in spirit, in faith, in purity.</div>
</div>

<div class="oneVerse" id="vid_29761" onclick="selectVerse(29761)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Till I come, give attendance to reading, to exhortation, to doctrine.</div>
</div>

<div class="oneVerse" id="vid_29762" onclick="selectVerse(29762)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Neglect not the gift that is in thee, which was given thee by prophecy, with the laying on of the hands of the presbytery.</div>
</div>

<div class="oneVerse" id="vid_29763" onclick="selectVerse(29763)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Meditate upon these things; give thyself wholly to them; that thy profiting may appear to all.</div>
</div>

<div class="oneVerse" id="vid_29764" onclick="selectVerse(29764)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Take heed unto thyself, and unto the doctrine; continue in them: for in doing this thou shalt both save thyself, and them that hear thee.</div>
</div>

<div class="oneVerse" id="vid_29765" onclick="selectVerse(29765)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Rebuke not an elder, but intreat him as a father; and the younger men as brethren;</div>
</div>

<div class="oneVerse" id="vid_29766" onclick="selectVerse(29766)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">The elder women as mothers; the younger as sisters, with all purity.</div>
</div>

<div class="oneVerse" id="vid_29767" onclick="selectVerse(29767)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Honour widows that are widows indeed.</div>
</div>

<div class="oneVerse" id="vid_29768" onclick="selectVerse(29768)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">But if any widow have children or nephews, let them learn first to shew piety at home, and to requite their parents: for that is good and acceptable before God.</div>
</div>

<div class="oneVerse" id="vid_29769" onclick="selectVerse(29769)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Now she that is a widow indeed, and desolate, trusteth in God, and continueth in supplications and prayers night and day.</div>
</div>

<div class="oneVerse" id="vid_29770" onclick="selectVerse(29770)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">But she that liveth in pleasure is dead while she liveth.</div>
</div>

<div class="oneVerse" id="vid_29771" onclick="selectVerse(29771)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And these things give in charge, that they may be blameless.</div>
</div>

<div class="oneVerse" id="vid_29772" onclick="selectVerse(29772)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">But if any provide not for his own, and specially for those of his own house, he hath denied the faith, and is worse than an infidel.</div>
</div>

<div class="oneVerse" id="vid_29773" onclick="selectVerse(29773)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Let not a widow be taken into the number under threescore years old, having been the wife of one man.</div>
</div>

<div class="oneVerse" id="vid_29774" onclick="selectVerse(29774)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Well reported of for good works; if she have brought up children, if she have lodged strangers, if she have washed the saints' feet, if she have relieved the afflicted, if she have diligently followed every good work.</div>
</div>

<div class="oneVerse" id="vid_29775" onclick="selectVerse(29775)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">But the younger widows refuse: for when they have begun to wax wanton against Christ, they will marry;</div>
</div>

<div class="oneVerse" id="vid_29776" onclick="selectVerse(29776)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Having damnation, because they have cast off their first faith.</div>
</div>

<div class="oneVerse" id="vid_29777" onclick="selectVerse(29777)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">And withal they learn to be idle, wandering about from house to house; and not only idle, but tattlers also and busybodies, speaking things which they ought not.</div>
</div>

<div class="oneVerse" id="vid_29778" onclick="selectVerse(29778)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">I will therefore that the younger women marry, bear children, guide the house, give none occasion to the adversary to speak reproachfully.</div>
</div>

<div class="oneVerse" id="vid_29779" onclick="selectVerse(29779)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">For some are already turned aside after Satan.</div>
</div>

<div class="oneVerse" id="vid_29780" onclick="selectVerse(29780)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">If any man or woman that believeth have widows, let them relieve them, and let not the church be charged; that it may relieve them that are widows indeed.</div>
</div>

<div class="oneVerse" id="vid_29781" onclick="selectVerse(29781)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Let the elders that rule well be counted worthy of double honour, especially they who labour in the word and doctrine.</div>
</div>

<div class="oneVerse" id="vid_29782" onclick="selectVerse(29782)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">For the scripture saith, Thou shalt not muzzle the ox that treadeth out the corn. And, The labourer is worthy of his reward.</div>
</div>

<div class="oneVerse" id="vid_29783" onclick="selectVerse(29783)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Against an elder receive not an accusation, but before two or three witnesses.</div>
</div>

<div class="oneVerse" id="vid_29784" onclick="selectVerse(29784)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Them that sin rebuke before all, that others also may fear.</div>
</div>

<div class="oneVerse" id="vid_29785" onclick="selectVerse(29785)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">I charge thee before God, and the Lord Jesus Christ, and the elect angels, that thou observe these things without preferring one before another, doing nothing by partiality.</div>
</div>

<div class="oneVerse" id="vid_29786" onclick="selectVerse(29786)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">Lay hands suddenly on no man, neither be partaker of other men's sins: keep thyself pure.</div>
</div>

<div class="oneVerse" id="vid_29787" onclick="selectVerse(29787)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">Drink no longer water, but use a little wine for thy stomach's sake and thine often infirmities.</div>
</div>

<div class="oneVerse" id="vid_29788" onclick="selectVerse(29788)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">Some men's sins are open beforehand, going before to judgment; and some men they follow after.</div>
</div>

<div class="oneVerse" id="vid_29789" onclick="selectVerse(29789)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">5</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">Likewise also the good works of some are manifest beforehand; and they that are otherwise cannot be hid.</div>
</div>

<div class="oneVerse" id="vid_29790" onclick="selectVerse(29790)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Let as many servants as are under the yoke count their own masters worthy of all honour, that the name of God and his doctrine be not blasphemed.</div>
</div>

<div class="oneVerse" id="vid_29791" onclick="selectVerse(29791)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And they that have believing masters, let them not despise them, because they are brethren; but rather do them service, because they are faithful and beloved, partakers of the benefit. These things teach and exhort.</div>
</div>

<div class="oneVerse" id="vid_29792" onclick="selectVerse(29792)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">If any man teach otherwise, and consent not to wholesome words, even the words of our Lord Jesus Christ, and to the doctrine which is according to godliness;</div>
</div>

<div class="oneVerse" id="vid_29793" onclick="selectVerse(29793)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">He is proud, knowing nothing, but doting about questions and strifes of words, whereof cometh envy, strife, railings, evil surmisings,</div>
</div>

<div class="oneVerse" id="vid_29794" onclick="selectVerse(29794)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Perverse disputings of men of corrupt minds, and destitute of the truth, supposing that gain is godliness: from such withdraw thyself.</div>
</div>

<div class="oneVerse" id="vid_29795" onclick="selectVerse(29795)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">But godliness with contentment is great gain.</div>
</div>

<div class="oneVerse" id="vid_29796" onclick="selectVerse(29796)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">For we brought nothing into this world, and it is certain we can carry nothing out.</div>
</div>

<div class="oneVerse" id="vid_29797" onclick="selectVerse(29797)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And having food and raiment let us be therewith content.</div>
</div>

<div class="oneVerse" id="vid_29798" onclick="selectVerse(29798)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">But they that will be rich fall into temptation and a snare, and into many foolish and hurtful lusts, which drown men in destruction and perdition.</div>
</div>

<div class="oneVerse" id="vid_29799" onclick="selectVerse(29799)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">For the love of money is the root of all evil: which while some coveted after, they have erred from the faith, and pierced themselves through with many sorrows.</div>
</div>

<div class="oneVerse" id="vid_29800" onclick="selectVerse(29800)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">But thou, O man of God, flee these things; and follow after righteousness, godliness, faith, love, patience, meekness.</div>
</div>

<div class="oneVerse" id="vid_29801" onclick="selectVerse(29801)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Fight the good fight of faith, lay hold on eternal life, whereunto thou art also called, and hast professed a good profession before many witnesses.</div>
</div>

<div class="oneVerse" id="vid_29802" onclick="selectVerse(29802)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">I give thee charge in the sight of God, who quickeneth all things, and before Christ Jesus, who before Pontius Pilate witnessed a good confession;</div>
</div>

<div class="oneVerse" id="vid_29803" onclick="selectVerse(29803)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">That thou keep this commandment without spot, unrebukable, until the appearing of our Lord Jesus Christ:</div>
</div>

<div class="oneVerse" id="vid_29804" onclick="selectVerse(29804)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Which in his times he shall shew, who is the blessed and only Potentate, the King of kings, and Lord of lords;</div>
</div>

<div class="oneVerse" id="vid_29805" onclick="selectVerse(29805)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">Who only hath immortality, dwelling in the light which no man can approach unto; whom no man hath seen, nor can see: to whom be honour and power everlasting. Amen.</div>
</div>

<div class="oneVerse" id="vid_29806" onclick="selectVerse(29806)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Charge them that are rich in this world, that they be not highminded, nor trust in uncertain riches, but in the living God, who giveth us richly all things to enjoy;</div>
</div>

<div class="oneVerse" id="vid_29807" onclick="selectVerse(29807)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">That they do good, that they be rich in good works, ready to distribute, willing to communicate;</div>
</div>

<div class="oneVerse" id="vid_29808" onclick="selectVerse(29808)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Laying up in store for themselves a good foundation against the time to come, that they may lay hold on eternal life.</div>
</div>

<div class="oneVerse" id="vid_29809" onclick="selectVerse(29809)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">O Timothy, keep that which is committed to thy trust, avoiding profane and vain babblings, and oppositions of science falsely so called:</div>
</div>

<div class="oneVerse" id="vid_29810" onclick="selectVerse(29810)">
    <div class="bibleBook">Ti1</div>
    <div class="bibleChapter">6</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Which some professing have erred concerning the faith. Grace be with thee. Amen.</div>
</div>