<div class="oneVerse" id="vid_29811" onclick="selectVerse(29811)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Paul, an apostle of Jesus Christ by the will of God, according to the promise of life which is in Christ Jesus,</div>
</div>

<div class="oneVerse" id="vid_29812" onclick="selectVerse(29812)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">To Timothy, my dearly beloved son: Grace, mercy, and peace, from God the Father and Christ Jesus our Lord.</div>
</div>

<div class="oneVerse" id="vid_29813" onclick="selectVerse(29813)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">I thank God, whom I serve from my forefathers with pure conscience, that without ceasing I have remembrance of thee in my prayers night and day;</div>
</div>

<div class="oneVerse" id="vid_29814" onclick="selectVerse(29814)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Greatly desiring to see thee, being mindful of thy tears, that I may be filled with joy;</div>
</div>

<div class="oneVerse" id="vid_29815" onclick="selectVerse(29815)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">When I call to remembrance the unfeigned faith that is in thee, which dwelt first in thy grandmother Lois, and thy mother Eunice; and I am persuaded that in thee also.</div>
</div>

<div class="oneVerse" id="vid_29816" onclick="selectVerse(29816)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">Wherefore I put thee in remembrance that thou stir up the gift of God, which is in thee by the putting on of my hands.</div>
</div>

<div class="oneVerse" id="vid_29817" onclick="selectVerse(29817)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">For God hath not given us the spirit of fear; but of power, and of love, and of a sound mind.</div>
</div>

<div class="oneVerse" id="vid_29818" onclick="selectVerse(29818)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Be not thou therefore ashamed of the testimony of our Lord, nor of me his prisoner: but be thou partaker of the afflictions of the gospel according to the power of God;</div>
</div>

<div class="oneVerse" id="vid_29819" onclick="selectVerse(29819)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Who hath saved us, and called us with an holy calling, not according to our works, but according to his own purpose and grace, which was given us in Christ Jesus before the world began,</div>
</div>

<div class="oneVerse" id="vid_29820" onclick="selectVerse(29820)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">But is now made manifest by the appearing of our Saviour Jesus Christ, who hath abolished death, and hath brought life and immortality to light through the gospel:</div>
</div>

<div class="oneVerse" id="vid_29821" onclick="selectVerse(29821)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Whereunto I am appointed a preacher, and an apostle, and a teacher of the Gentiles.</div>
</div>

<div class="oneVerse" id="vid_29822" onclick="selectVerse(29822)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">For the which cause I also suffer these things: nevertheless I am not ashamed: for I know whom I have believed, and am persuaded that he is able to keep that which I have committed unto him against that day.</div>
</div>

<div class="oneVerse" id="vid_29823" onclick="selectVerse(29823)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Hold fast the form of sound words, which thou hast heard of me, in faith and love which is in Christ Jesus.</div>
</div>

<div class="oneVerse" id="vid_29824" onclick="selectVerse(29824)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">That good thing which was committed unto thee keep by the Holy Ghost which dwelleth in us.</div>
</div>

<div class="oneVerse" id="vid_29825" onclick="selectVerse(29825)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">This thou knowest, that all they which are in Asia be turned away from me; of whom are Phygellus and Hermogenes.</div>
</div>

<div class="oneVerse" id="vid_29826" onclick="selectVerse(29826)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">The Lord give mercy unto the house of Onesiphorus; for he oft refreshed me, and was not ashamed of my chain:</div>
</div>

<div class="oneVerse" id="vid_29827" onclick="selectVerse(29827)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">But, when he was in Rome, he sought me out very diligently, and found me.</div>
</div>

<div class="oneVerse" id="vid_29828" onclick="selectVerse(29828)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">The Lord grant unto him that he may find mercy of the Lord in that day: and in how many things he ministered unto me at Ephesus, thou knowest very well.</div>
</div>

<div class="oneVerse" id="vid_29829" onclick="selectVerse(29829)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Thou therefore, my son, be strong in the grace that is in Christ Jesus.</div>
</div>

<div class="oneVerse" id="vid_29830" onclick="selectVerse(29830)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">And the things that thou hast heard of me among many witnesses, the same commit thou to faithful men, who shall be able to teach others also.</div>
</div>

<div class="oneVerse" id="vid_29831" onclick="selectVerse(29831)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Thou therefore endure hardness, as a good soldier of Jesus Christ.</div>
</div>

<div class="oneVerse" id="vid_29832" onclick="selectVerse(29832)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">No man that warreth entangleth himself with the affairs of this life; that he may please him who hath chosen him to be a soldier.</div>
</div>

<div class="oneVerse" id="vid_29833" onclick="selectVerse(29833)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And if a man also strive for masteries, yet is he not crowned, except he strive lawfully.</div>
</div>

<div class="oneVerse" id="vid_29834" onclick="selectVerse(29834)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">The husbandman that laboureth must be first partaker of the fruits.</div>
</div>

<div class="oneVerse" id="vid_29835" onclick="selectVerse(29835)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Consider what I say; and the Lord give thee understanding in all things.</div>
</div>

<div class="oneVerse" id="vid_29836" onclick="selectVerse(29836)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Remember that Jesus Christ of the seed of David was raised from the dead according to my gospel:</div>
</div>

<div class="oneVerse" id="vid_29837" onclick="selectVerse(29837)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Wherein I suffer trouble, as an evil doer, even unto bonds; but the word of God is not bound.</div>
</div>

<div class="oneVerse" id="vid_29838" onclick="selectVerse(29838)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">Therefore I endure all things for the elect's sakes, that they may also obtain the salvation which is in Christ Jesus with eternal glory.</div>
</div>

<div class="oneVerse" id="vid_29839" onclick="selectVerse(29839)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">It is a faithful saying: For if we be dead with him, we shall also live with him:</div>
</div>

<div class="oneVerse" id="vid_29840" onclick="selectVerse(29840)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">If we suffer, we shall also reign with him: if we deny him, he also will deny us:</div>
</div>

<div class="oneVerse" id="vid_29841" onclick="selectVerse(29841)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">If we believe not, yet he abideth faithful: he cannot deny himself.</div>
</div>

<div class="oneVerse" id="vid_29842" onclick="selectVerse(29842)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Of these things put them in remembrance, charging them before the Lord that they strive not about words to no profit, but to the subverting of the hearers.</div>
</div>

<div class="oneVerse" id="vid_29843" onclick="selectVerse(29843)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Study to shew thyself approved unto God, a workman that needeth not to be ashamed, rightly dividing the word of truth.</div>
</div>

<div class="oneVerse" id="vid_29844" onclick="selectVerse(29844)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">But shun profane and vain babblings: for they will increase unto more ungodliness.</div>
</div>

<div class="oneVerse" id="vid_29845" onclick="selectVerse(29845)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">And their word will eat as doth a canker: of whom is Hymenaeus and Philetus;</div>
</div>

<div class="oneVerse" id="vid_29846" onclick="selectVerse(29846)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Who concerning the truth have erred, saying that the resurrection is past already; and overthrow the faith of some.</div>
</div>

<div class="oneVerse" id="vid_29847" onclick="selectVerse(29847)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Nevertheless the foundation of God standeth sure, having this seal, The Lord knoweth them that are his. And, Let every one that nameth the name of Christ depart from iniquity.</div>
</div>

<div class="oneVerse" id="vid_29848" onclick="selectVerse(29848)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">But in a great house there are not only vessels of gold and of silver, but also of wood and of earth; and some to honour, and some to dishonour.</div>
</div>

<div class="oneVerse" id="vid_29849" onclick="selectVerse(29849)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">If a man therefore purge himself from these, he shall be a vessel unto honour, sanctified, and meet for the master's use, and prepared unto every good work.</div>
</div>

<div class="oneVerse" id="vid_29850" onclick="selectVerse(29850)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">Flee also youthful lusts: but follow righteousness, faith, charity, peace, with them that call on the Lord out of a pure heart.</div>
</div>

<div class="oneVerse" id="vid_29851" onclick="selectVerse(29851)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">23</div>
    <div class="bibleText">But foolish and unlearned questions avoid, knowing that they do gender strifes.</div>
</div>

<div class="oneVerse" id="vid_29852" onclick="selectVerse(29852)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">24</div>
    <div class="bibleText">And the servant of the Lord must not strive; but be gentle unto all men, apt to teach, patient,</div>
</div>

<div class="oneVerse" id="vid_29853" onclick="selectVerse(29853)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">25</div>
    <div class="bibleText">In meekness instructing those that oppose themselves; if God peradventure will give them repentance to the acknowledging of the truth;</div>
</div>

<div class="oneVerse" id="vid_29854" onclick="selectVerse(29854)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">26</div>
    <div class="bibleText">And that they may recover themselves out of the snare of the devil, who are taken captive by him at his will.</div>
</div>

<div class="oneVerse" id="vid_29855" onclick="selectVerse(29855)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">This know also, that in the last days perilous times shall come.</div>
</div>

<div class="oneVerse" id="vid_29856" onclick="selectVerse(29856)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">For men shall be lovers of their own selves, covetous, boasters, proud, blasphemers, disobedient to parents, unthankful, unholy,</div>
</div>

<div class="oneVerse" id="vid_29857" onclick="selectVerse(29857)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Without natural affection, trucebreakers, false accusers, incontinent, fierce, despisers of those that are good,</div>
</div>

<div class="oneVerse" id="vid_29858" onclick="selectVerse(29858)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Traitors, heady, highminded, lovers of pleasures more than lovers of God;</div>
</div>

<div class="oneVerse" id="vid_29859" onclick="selectVerse(29859)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Having a form of godliness, but denying the power thereof: from such turn away.</div>
</div>

<div class="oneVerse" id="vid_29860" onclick="selectVerse(29860)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">For of this sort are they which creep into houses, and lead captive silly women laden with sins, led away with divers lusts,</div>
</div>

<div class="oneVerse" id="vid_29861" onclick="selectVerse(29861)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Ever learning, and never able to come to the knowledge of the truth.</div>
</div>

<div class="oneVerse" id="vid_29862" onclick="selectVerse(29862)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Now as Jannes and Jambres withstood Moses, so do these also resist the truth: men of corrupt minds, reprobate concerning the faith.</div>
</div>

<div class="oneVerse" id="vid_29863" onclick="selectVerse(29863)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">But they shall proceed no further: for their folly shall be manifest unto all men, as their's also was.</div>
</div>

<div class="oneVerse" id="vid_29864" onclick="selectVerse(29864)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">But thou hast fully known my doctrine, manner of life, purpose, faith, longsuffering, charity, patience,</div>
</div>

<div class="oneVerse" id="vid_29865" onclick="selectVerse(29865)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Persecutions, afflictions, which came unto me at Antioch, at Iconium, at Lystra; what persecutions I endured: but out of them all the Lord delivered me.</div>
</div>

<div class="oneVerse" id="vid_29866" onclick="selectVerse(29866)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Yea, and all that will live godly in Christ Jesus shall suffer persecution.</div>
</div>

<div class="oneVerse" id="vid_29867" onclick="selectVerse(29867)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">But evil men and seducers shall wax worse and worse, deceiving, and being deceived.</div>
</div>

<div class="oneVerse" id="vid_29868" onclick="selectVerse(29868)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">But continue thou in the things which thou hast learned and hast been assured of, knowing of whom thou hast learned them;</div>
</div>

<div class="oneVerse" id="vid_29869" onclick="selectVerse(29869)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">And that from a child thou hast known the holy scriptures, which are able to make thee wise unto salvation through faith which is in Christ Jesus.</div>
</div>

<div class="oneVerse" id="vid_29870" onclick="selectVerse(29870)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">All scripture is given by inspiration of God, and is profitable for doctrine, for reproof, for correction, for instruction in righteousness:</div>
</div>

<div class="oneVerse" id="vid_29871" onclick="selectVerse(29871)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">That the man of God may be perfect, throughly furnished unto all good works.</div>
</div>

<div class="oneVerse" id="vid_29872" onclick="selectVerse(29872)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">I charge thee therefore before God, and the Lord Jesus Christ, who shall judge the quick and the dead at his appearing and his kingdom;</div>
</div>

<div class="oneVerse" id="vid_29873" onclick="selectVerse(29873)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Preach the word; be instant in season, out of season; reprove, rebuke, exhort with all longsuffering and doctrine.</div>
</div>

<div class="oneVerse" id="vid_29874" onclick="selectVerse(29874)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">For the time will come when they will not endure sound doctrine; but after their own lusts shall they heap to themselves teachers, having itching ears;</div>
</div>

<div class="oneVerse" id="vid_29875" onclick="selectVerse(29875)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">And they shall turn away their ears from the truth, and shall be turned unto fables.</div>
</div>

<div class="oneVerse" id="vid_29876" onclick="selectVerse(29876)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">But watch thou in all things, endure afflictions, do the work of an evangelist, make full proof of thy ministry.</div>
</div>

<div class="oneVerse" id="vid_29877" onclick="selectVerse(29877)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">For I am now ready to be offered, and the time of my departure is at hand.</div>
</div>

<div class="oneVerse" id="vid_29878" onclick="selectVerse(29878)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">I have fought a good fight, I have finished my course, I have kept the faith:</div>
</div>

<div class="oneVerse" id="vid_29879" onclick="selectVerse(29879)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Henceforth there is laid up for me a crown of righteousness, which the Lord, the righteous judge, shall give me at that day: and not to me only, but unto all them also that love his appearing.</div>
</div>

<div class="oneVerse" id="vid_29880" onclick="selectVerse(29880)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Do thy diligence to come shortly unto me:</div>
</div>

<div class="oneVerse" id="vid_29881" onclick="selectVerse(29881)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">For Demas hath forsaken me, having loved this present world, and is departed unto Thessalonica; Crescens to Galatia, Titus unto Dalmatia.</div>
</div>

<div class="oneVerse" id="vid_29882" onclick="selectVerse(29882)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Only Luke is with me. Take Mark, and bring him with thee: for he is profitable to me for the ministry.</div>
</div>

<div class="oneVerse" id="vid_29883" onclick="selectVerse(29883)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">And Tychicus have I sent to Ephesus.</div>
</div>

<div class="oneVerse" id="vid_29884" onclick="selectVerse(29884)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">The cloke that I left at Troas with Carpus, when thou comest, bring with thee, and the books, but especially the parchments.</div>
</div>

<div class="oneVerse" id="vid_29885" onclick="selectVerse(29885)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Alexander the coppersmith did me much evil: the Lord reward him according to his works:</div>
</div>

<div class="oneVerse" id="vid_29886" onclick="selectVerse(29886)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">Of whom be thou ware also; for he hath greatly withstood our words.</div>
</div>

<div class="oneVerse" id="vid_29887" onclick="selectVerse(29887)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">At my first answer no man stood with me, but all men forsook me: I pray God that it may not be laid to their charge.</div>
</div>

<div class="oneVerse" id="vid_29888" onclick="selectVerse(29888)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">Notwithstanding the Lord stood with me, and strengthened me; that by me the preaching might be fully known, and that all the Gentiles might hear: and I was delivered out of the mouth of the lion.</div>
</div>

<div class="oneVerse" id="vid_29889" onclick="selectVerse(29889)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">And the Lord shall deliver me from every evil work, and will preserve me unto his heavenly kingdom: to whom be glory for ever and ever. Amen.</div>
</div>

<div class="oneVerse" id="vid_29890" onclick="selectVerse(29890)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Salute Prisca and Aquila, and the household of Onesiphorus.</div>
</div>

<div class="oneVerse" id="vid_29891" onclick="selectVerse(29891)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">Erastus abode at Corinth: but Trophimus have I left at Miletum sick.</div>
</div>

<div class="oneVerse" id="vid_29892" onclick="selectVerse(29892)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">21</div>
    <div class="bibleText">Do thy diligence to come before winter. Eubulus greeteth thee, and Pudens, and Linus, and Claudia, and all the brethren.</div>
</div>

<div class="oneVerse" id="vid_29893" onclick="selectVerse(29893)">
    <div class="bibleBook">Ti2</div>
    <div class="bibleChapter">4</div>
    <div class="bibleVerse">22</div>
    <div class="bibleText">The Lord Jesus Christ be with thy spirit. Grace be with you. Amen.</div>
</div>