<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="{{=URL('static', 'css/bible.css')}}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" ></script>
<script src="{{=URL('static', 'js/bible.js')}}" type="text/javascript" ></script>

<div class="oneVerse" id="vid_22789" onclick="selectVerse(22789)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">The word of the LORD which came unto Zephaniah the son of Cushi, the son of Gedaliah, the son of Amariah, the son of Hizkiah, in the days of Josiah the son of Amon, king of Judah.</div>
</div>

<div class="oneVerse" id="vid_22790" onclick="selectVerse(22790)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">I will utterly consume all things from off the land, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22791" onclick="selectVerse(22791)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">I will consume man and beast; I will consume the fowls of the heaven, and the fishes of the sea, and the stumbling blocks with the wicked: and I will cut off man from off the land, saith the LORD.</div>
</div>

<div class="oneVerse" id="vid_22792" onclick="selectVerse(22792)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">I will also stretch out mine hand upon Judah, and upon all the inhabitants of Jerusalem; and I will cut off the remnant of Baal from this place, and the name of the Chemarims with the priests;</div>
</div>

<div class="oneVerse" id="vid_22793" onclick="selectVerse(22793)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">And them that worship the host of heaven upon the housetops; and them that worship and that swear by the LORD, and that swear by Malcham;</div>
</div>

<div class="oneVerse" id="vid_22794" onclick="selectVerse(22794)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And them that are turned back from the LORD; and those that have not sought the LORD, nor enquired for him.</div>
</div>

<div class="oneVerse" id="vid_22795" onclick="selectVerse(22795)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">Hold thy peace at the presence of the Lord GOD: for the day of the LORD is at hand: for the LORD hath prepared a sacrifice, he hath bid his guests.</div>
</div>

<div class="oneVerse" id="vid_22796" onclick="selectVerse(22796)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">And it shall come to pass in the day of the LORD's sacrifice, that I will punish the princes, and the king's children, and all such as are clothed with strange apparel.</div>
</div>

<div class="oneVerse" id="vid_22797" onclick="selectVerse(22797)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">In the same day also will I punish all those that leap on the threshold, which fill their masters' houses with violence and deceit.</div>
</div>

<div class="oneVerse" id="vid_22798" onclick="selectVerse(22798)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">And it shall come to pass in that day, saith the LORD, that there shall be the noise of a cry from the fish gate, and an howling from the second, and a great crashing from the hills.</div>
</div>

<div class="oneVerse" id="vid_22799" onclick="selectVerse(22799)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">Howl, ye inhabitants of Maktesh, for all the merchant people are cut down; all they that bear silver are cut off.</div>
</div>

<div class="oneVerse" id="vid_22800" onclick="selectVerse(22800)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">And it shall come to pass at that time, that I will search Jerusalem with candles, and punish the men that are settled on their lees: that say in their heart, The LORD will not do good, neither will he do evil.</div>
</div>

<div class="oneVerse" id="vid_22801" onclick="selectVerse(22801)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">Therefore their goods shall become a booty, and their houses a desolation: they shall also build houses, but not inhabit them; and they shall plant vineyards, but not drink the wine thereof.</div>
</div>

<div class="oneVerse" id="vid_22802" onclick="selectVerse(22802)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">The great day of the LORD is near, it is near, and hasteth greatly, even the voice of the day of the LORD: the mighty man shall cry there bitterly.</div>
</div>

<div class="oneVerse" id="vid_22803" onclick="selectVerse(22803)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">That day is a day of wrath, a day of trouble and distress, a day of wasteness and desolation, a day of darkness and gloominess, a day of clouds and thick darkness,</div>
</div>

<div class="oneVerse" id="vid_22804" onclick="selectVerse(22804)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">A day of the trumpet and alarm against the fenced cities, and against the high towers.</div>
</div>

<div class="oneVerse" id="vid_22805" onclick="selectVerse(22805)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">And I will bring distress upon men, that they shall walk like blind men, because they have sinned against the LORD: and their blood shall be poured out as dust, and their flesh as the dung.</div>
</div>

<div class="oneVerse" id="vid_22806" onclick="selectVerse(22806)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">1</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">Neither their silver nor their gold shall be able to deliver them in the day of the LORD's wrath; but the whole land shall be devoured by the fire of his jealousy: for he shall make even a speedy riddance of all them that dwell in the land.</div>
</div>

<div class="oneVerse" id="vid_22807" onclick="selectVerse(22807)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Gather yourselves together, yea, gather together, O nation not desired;</div>
</div>

<div class="oneVerse" id="vid_22808" onclick="selectVerse(22808)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">Before the decree bring forth, before the day pass as the chaff, before the fierce anger of the LORD come upon you, before the day of the LORD's anger come upon you.</div>
</div>

<div class="oneVerse" id="vid_22809" onclick="selectVerse(22809)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Seek ye the LORD, all ye meek of the earth, which have wrought his judgment; seek righteousness, seek meekness: it may be ye shall be hid in the day of the LORD's anger.</div>
</div>

<div class="oneVerse" id="vid_22810" onclick="selectVerse(22810)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">For Gaza shall be forsaken, and Ashkelon a desolation: they shall drive out Ashdod at the noon day, and Ekron shall be rooted up.</div>
</div>

<div class="oneVerse" id="vid_22811" onclick="selectVerse(22811)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">Woe unto the inhabitants of the sea coast, the nation of the Cherethites! the word of the LORD is against you; O Canaan, the land of the Philistines, I will even destroy thee, that there shall be no inhabitant.</div>
</div>

<div class="oneVerse" id="vid_22812" onclick="selectVerse(22812)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">And the sea coast shall be dwellings and cottages for shepherds, and folds for flocks.</div>
</div>

<div class="oneVerse" id="vid_22813" onclick="selectVerse(22813)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">And the coast shall be for the remnant of the house of Judah; they shall feed thereupon: in the houses of Ashkelon shall they lie down in the evening: for the LORD their God shall visit them, and turn away their captivity.</div>
</div>

<div class="oneVerse" id="vid_22814" onclick="selectVerse(22814)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">I have heard the reproach of Moab, and the revilings of the children of Ammon, whereby they have reproached my people, and magnified themselves against their border.</div>
</div>

<div class="oneVerse" id="vid_22815" onclick="selectVerse(22815)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">Therefore as I live, saith the LORD of hosts, the God of Israel, Surely Moab shall be as Sodom, and the children of Ammon as Gomorrah, even the breeding of nettles, and saltpits, and a perpetual desolation: the residue of my people shall spoil them, and the remnant of my people shall possess them.</div>
</div>

<div class="oneVerse" id="vid_22816" onclick="selectVerse(22816)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">This shall they have for their pride, because they have reproached and magnified themselves against the people of the LORD of hosts.</div>
</div>

<div class="oneVerse" id="vid_22817" onclick="selectVerse(22817)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">The LORD will be terrible unto them: for he will famish all the gods of the earth; and men shall worship him, every one from his place, even all the isles of the heathen.</div>
</div>

<div class="oneVerse" id="vid_22818" onclick="selectVerse(22818)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">Ye Ethiopians also, ye shall be slain by my sword.</div>
</div>

<div class="oneVerse" id="vid_22819" onclick="selectVerse(22819)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">And he will stretch out his hand against the north, and destroy Assyria; and will make Nineveh a desolation, and dry like a wilderness.</div>
</div>

<div class="oneVerse" id="vid_22820" onclick="selectVerse(22820)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">And flocks shall lie down in the midst of her, all the beasts of the nations: both the cormorant and the bittern shall lodge in the upper lintels of it; their voice shall sing in the windows; desolation shall be in the thresholds; for he shall uncover the cedar work.</div>
</div>

<div class="oneVerse" id="vid_22821" onclick="selectVerse(22821)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">2</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">This is the rejoicing city that dwelt carelessly, that said in her heart, I am, and there is none beside me: how is she become a desolation, a place for beasts to lie down in! every one that passeth by her shall hiss, and wag his hand.</div>
</div>

<div class="oneVerse" id="vid_22822" onclick="selectVerse(22822)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">1</div>
    <div class="bibleText">Woe to her that is filthy and polluted, to the oppressing city!</div>
</div>

<div class="oneVerse" id="vid_22823" onclick="selectVerse(22823)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">2</div>
    <div class="bibleText">She obeyed not the voice; she received not correction; she trusted not in the LORD; she drew not near to her God.</div>
</div>

<div class="oneVerse" id="vid_22824" onclick="selectVerse(22824)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">3</div>
    <div class="bibleText">Her princes within her are roaring lions; her judges are evening wolves; they gnaw not the bones till the morrow.</div>
</div>

<div class="oneVerse" id="vid_22825" onclick="selectVerse(22825)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">4</div>
    <div class="bibleText">Her prophets are light and treacherous persons: her priests have polluted the sanctuary, they have done violence to the law.</div>
</div>

<div class="oneVerse" id="vid_22826" onclick="selectVerse(22826)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">5</div>
    <div class="bibleText">The just LORD is in the midst thereof; he will not do iniquity: every morning doth he bring his judgment to light, he faileth not; but the unjust knoweth no shame.</div>
</div>

<div class="oneVerse" id="vid_22827" onclick="selectVerse(22827)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">6</div>
    <div class="bibleText">I have cut off the nations: their towers are desolate; I made their streets waste, that none passeth by: their cities are destroyed, so that there is no man, that there is none inhabitant.</div>
</div>

<div class="oneVerse" id="vid_22828" onclick="selectVerse(22828)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">7</div>
    <div class="bibleText">I said, Surely thou wilt fear me, thou wilt receive instruction; so their dwelling should not be cut off, howsoever I punished them: but they rose early, and corrupted all their doings.</div>
</div>

<div class="oneVerse" id="vid_22829" onclick="selectVerse(22829)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">8</div>
    <div class="bibleText">Therefore wait ye upon me, saith the LORD, until the day that I rise up to the prey: for my determination is to gather the nations, that I may assemble the kingdoms, to pour upon them mine indignation, even all my fierce anger: for all the earth shall be devoured with the fire of my jealousy.</div>
</div>

<div class="oneVerse" id="vid_22830" onclick="selectVerse(22830)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">9</div>
    <div class="bibleText">For then will I turn to the people a pure language, that they may all call upon the name of the LORD, to serve him with one consent.</div>
</div>

<div class="oneVerse" id="vid_22831" onclick="selectVerse(22831)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">10</div>
    <div class="bibleText">From beyond the rivers of Ethiopia my suppliants, even the daughter of my dispersed, shall bring mine offering.</div>
</div>

<div class="oneVerse" id="vid_22832" onclick="selectVerse(22832)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">11</div>
    <div class="bibleText">In that day shalt thou not be ashamed for all thy doings, wherein thou hast transgressed against me: for then I will take away out of the midst of thee them that rejoice in thy pride, and thou shalt no more be haughty because of my holy mountain.</div>
</div>

<div class="oneVerse" id="vid_22833" onclick="selectVerse(22833)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">12</div>
    <div class="bibleText">I will also leave in the midst of thee an afflicted and poor people, and they shall trust in the name of the LORD.</div>
</div>

<div class="oneVerse" id="vid_22834" onclick="selectVerse(22834)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">13</div>
    <div class="bibleText">The remnant of Israel shall not do iniquity, nor speak lies; neither shall a deceitful tongue be found in their mouth: for they shall feed and lie down, and none shall make them afraid.</div>
</div>

<div class="oneVerse" id="vid_22835" onclick="selectVerse(22835)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">14</div>
    <div class="bibleText">Sing, O daughter of Zion; shout, O Israel; be glad and rejoice with all the heart, O daughter of Jerusalem.</div>
</div>

<div class="oneVerse" id="vid_22836" onclick="selectVerse(22836)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">15</div>
    <div class="bibleText">The LORD hath taken away thy judgments, he hath cast out thine enemy: the king of Israel, even the LORD, is in the midst of thee: thou shalt not see evil any more.</div>
</div>

<div class="oneVerse" id="vid_22837" onclick="selectVerse(22837)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">16</div>
    <div class="bibleText">In that day it shall be said to Jerusalem, Fear thou not: and to Zion, Let not thine hands be slack.</div>
</div>

<div class="oneVerse" id="vid_22838" onclick="selectVerse(22838)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">17</div>
    <div class="bibleText">The LORD thy God in the midst of thee is mighty; he will save, he will rejoice over thee with joy; he will rest in his love, he will joy over thee with singing.</div>
</div>

<div class="oneVerse" id="vid_22839" onclick="selectVerse(22839)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">18</div>
    <div class="bibleText">I will gather them that are sorrowful for the solemn assembly, who are of thee, to whom the reproach of it was a burden.</div>
</div>

<div class="oneVerse" id="vid_22840" onclick="selectVerse(22840)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">19</div>
    <div class="bibleText">Behold, at that time I will undo all that afflict thee: and I will save her that halteth, and gather her that was driven out; and I will get them praise and fame in every land where they have been put to shame.</div>
</div>

<div class="oneVerse" id="vid_22841" onclick="selectVerse(22841)">
    <div class="bibleBook">Zep</div>
    <div class="bibleChapter">3</div>
    <div class="bibleVerse">20</div>
    <div class="bibleText">At that time will I bring you again, even in the time that I gather you: for I will make you a name and a praise among all people of the earth, when I turn back your captivity before your eyes, saith the LORD.</div>
</div>